
<footer id="colophon" class="section site-footer wow fadeInUp" role="contentinfo">
    <div class="container">
        <div class="footer-logo"></div>
        <div class="footer-social">
            <ul class="inline text-center">
                <li class="twitter"><a target="_blank" href="https://twitter.com/chalkndust"><i class="fa fa-twitter"></i></a></li>
                <li class="facebook"><a target="_blank" href="https://www.facebook.com/ChalkNDust"><i class="fa fa-facebook"></i></a></li>
                <li class="gplus"><a target="_blank" href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                <li class="youtube"><a target="_blank" href="javascript:void(0)"><i class="fa fa-youtube"></i></a></li>
                <li class="pinterest"><a target="_blank" href="javascript:void(0)"><i class="fa fa-pinterest"></i></a></li>
                <li class="instagram"><a target="_blank" href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
        <div class="copyright text-center">
            <p>{{copy_right}}</p>
            <ul class="new_foot_nav">
                <li><a ui-sref="chalkanddust.termsandconditions">Terms & Conditions</a></li>
                <li class="last"><a href="javascript:void(0)" ng-click="contactUs()">Contact Us</a></li>
            </ul>
        </div>
    </div>
</footer>
