<footer id="colophon" class="section site-footer wow fadeInUp visibilty-visible" role="contentinfo">
        <div class="container">
            <div class="footer-logo"></div>
            <div class="footer-social icon_360">
                <ul class="inline text-center">
                    <li class="twitter"><a target="_blank" href="https://twitter.com/chalkndust"><i class="fa fa-twitter"></i></a></li>
                    <li class="facebook"><a target="_blank" href="https://www.facebook.com/ChalkNDust"><i class="fa fa-facebook"></i></a></li>
                    <li class="gplus"><a  target="_blank" href="javascript:void(0)"><i class="fa fa-google-plus"></i></a></li>
                    <li class="youtube"><a target="_blank" href="javascript:void(0)"><i class="fa fa-youtube"></i></a></li>
                    <li class="linkedin"><a target="_blank" href="https://www.linkedin.com/company/13197544"><i class="fa fa-linkedin"></i></a></li>
                    <li class="instagram"><a target="_blank" href="javascript:void(0)"><i class="fa fa-instagram"></i></a></li>
                </ul>
            </div>
            <div class="copyright text-center copyright-360 col-sm-6 col-sm-9 col-sm-12 col-md-3">
                <p>{{copy_right}}</p>
                <ul class="new_foot_nav">
                    <li><a ui-sref="chalkanddust.termsandconditions">Terms & Conditions</a></li>
                    <li class="last"><a href="javascript:void(0)" ng-click="homeCtrl.contactUs()">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </footer>
