
   <footer id="colophon" class="section site-footer wow fadeInUp" role="contentinfo">
 
    <div class="container">
      <div class="footer-logo"> </div>
      <div class="footer-social">
        <ul class="inline text-center">
          <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li class="gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li class="youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
          <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <div class="copyright text-center">
        <p>Copyright &copy; 2016 Chalk N Dust - All Rights Reserved.</p>
        <ul class="new_foot_nav">
          <li><a href="term.html">Terms & Conditions</a></li>
          <li class="last"><a href="javascript:void(0)" ng-click="homeCtrl.contactUs()">Contact Us</a></li>
        </ul>
      </div>
    </div>

  </footer>
