<!-- <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css"> -->
<style>
.title_text {
    width: 70%;
    float: left;
}

.title_name {
    width: 30%;
    float: left;
}

.title_name {
    text-align: right;
    padding-right: 20px;
    padding-top: 25px;
}

.title_name_sub {
    padding-top: 25px;
}

.title_name_title {
    padding-top: 85px;
}

.title_name_des {
    padding-top: 88px;
}

.title_text textarea {
    width: 100%;
    height: 100px;
    padding-bottom: 5px;
    border-radius: 5px;
    padding: 5px;
    color: #000;
    margin: 5px 0px;
    border: 1px solid #CCC;
}

.title_text select {
    width: 100%;
    height: 40px;
    padding-bottom: 5px;
    border-radius: 5px;
    padding: 5px;
    color: #000;
    margin: 5px 0px;
    border: 1px solid #CCC;
}

.title_text button a {
    color: #FFF;
    padding: 0px 40px;
}

.btn:focus, .btn:hover, a, a:focus, a:hover {
    text-decoration: none;
    outline: 0;
}

.title_text button {
    padding: 8px 0px;
    cursor: pointer;
    background: #2f889a;
    color: #FFF;
    width: 100%;
    border-radius: 5px;
    font-weight: bold;
    border: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
</style>




<div id="wrapper" class="main-wrapper">

  <section id="start"> </section>

  <section id="blog" class="section">
    <div class="container">
      <div class="row grid-blog">
        <div class="col-sm-12 col-md-12">
          <div class="sec-head text-left wow bounce">
            <h2><a href="#" name="module" id="module"></a>CREATE A NEW USER</h2>
            <p> </p>
          </div>
        </div>
        <form name="registrationForm" role="form" action="" method="post" novalidate>
        
        <uib-alert ng-show="alert.show" type="{{alert.type}}" close="closeAlert()">{{alert.message}}</uib-alert>               
        
        <div class="col-xs-12 col-md-6 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
          <div class="row inner-grid">
            <div class="user_log_detail">
              <h3>Register</h3>
             <div class="title_text">
              <div class="form-group"  ng-class="{ 'has-error' : registrationForm.firstName.$invalid && !registrationForm.firstName.$pristine }">
              	<input class="form-control" id="firstName" name="firstName" ng-model="userDetails.firstName"  type="text" placeholder="First Name" required/>
              	<span style="color:red" class="help-block" ng-show="registrationForm.firstName.$invalid  && !registrationForm.firstName.$pristine">
              		<span ng-show="registrationForm.firstName.$error.required">First Name is required.</span>           
              	</span>
             </div>
       <div class="form-group">
             <input class="form-control" id="middleName" name="middleName" ng-model="userDetails.middleName"  type="text" placeholder="Middle Name"/>
         </div>    <!-- <div class="form-group"  ng-class="{ 'has-error' : registrationForm.middleName.$invalid && !registrationForm.middleName.$pristine }">
              <input class="form-control" id="middleName" name="middleName" ng-model="userDetails.middleName"  type="text" placeholder="Middle Name" required/>
               <span style="color:red" ng-show="registrationForm.middleName.$invalid && !registrationForm.middleName.$pristine">
            <span ng-show="registrationForm.middleName.$error.required">Middle Name is required.</span>           
             </span>
             </div> -->
             <div class="form-group"  ng-class="{ 'has-error' : registrationForm.lastName.$invalid && !registrationForm.lastName.$pristine }">
              <input class="form-control" id="lastName" name="lastName"  ng-model="userDetails.lastName"  type="text" placeholder="Last Name" required/>
             <span style="color:red" ng-show="registrationForm.lastName.$invalid && !registrationForm.lastName.$pristine ">
            <span ng-show="registrationForm.lastName.$error.required">Last Name is required.</span>           
             </span>
             </div>
               <div class="form-group"  ng-class="{ 'has-error' : registrationForm.userName.$invalid && !registrationForm.userName.$pristine  }">
              <input class="form-control" id="userName" name="userName" ng-model="userDetails.userName"  type="text" placeholder="Username" required/>
              <span style="color:red" ng-show="registrationForm.userName.$invalid && !registrationForm.userName.$pristine">
            <span ng-show="registrationForm.userName.$error.required">User Name is required.</span>           
             </span>
             </div>
             <div class="form-group"  ng-class="{ 'has-error' : registrationForm.email.$invalid && !registrationForm.email.$pristine  }">
              <input class="form-control" name="email" id="email" ng-model="userDetails.email"  type="email" placeholder="E-mail" required/>
             <span style="color:red" ng-show="registrationForm.email.$invalid && !registrationForm.email.$pristine">
             <span ng-show="registrationForm.email.$error.required">Email is required.</span>
             <span ng-show="registrationForm.email.$error.email">Invalid email address.</span>
             </span>
              </div>
			  <div class="form-group"  ng-class="{ 'has-error' : registrationForm.password.$invalid && !registrationForm.password.$pristine  }">
              <input class="form-control" id="password" name="password" ng-model="userDetails.password"  type="password"  placeholder="Password" 
               tooltip-enable="!inputModel"  tooltip-trigger="mouseenter" tooltip-placement="bottom"
              tooltip="Please note: Strong password strength requires 2 upper case letters, 2 numbers and 2 lower case letters."
                password-strength required />                
              
                 <password-strength ng-model="userDetails.password"  ng-show="registrationForm.password.$dirty"></password-strength>
               </div>
                <div class="form-group"  ng-class="{ 'has-error' : registrationForm.confirmPassword.$invalid && !registrationForm.confirmPassword.$pristine  }">
               <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                ng-model="userDetails.confirmPassword" match="userDetails.password"  placeholder="Confirm Password" required />
                <div ng-show="registrationForm.confirmPassword.$error.match">
                   <span>Passwords do not match!</span>
                   </div>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12 col-md-6 wow fadeInRight" style="visibility: visible; animation-name: fadeInRight;">
          <div class="row inner-grid">
            <div class="user_log_detail">
            <h3>-</h3> 
          <div class="title_text">
             <div class="form-group"  ng-class="{ 'has-error' : registrationForm.registrationaddress.$invalid && !registrationForm.registrationaddress.$pristine  }">
              <input class="form-control" name="registrationaddress" id="registrationaddress" ng-model="userDetails.address"  type="text" placeholder="Address" required/>
             <span style="color:red" ng-show="registrationForm.registrationaddress.$invalid && !registrationForm.registrationaddress.$pristine">
             <span ng-show="registrationForm.registrationaddress.$error.required">Address is required.</span>  
             </span>
              </div>
              <div class="form-group" ng-class="{ 'has-error' : registrationForm.studentClass.$invalid && !registrationForm.studentClass.$pristine }">
            <select class="form-control" ng-model="userDetails.studentClass" name="studentClass" placeholder="Class"
                ng-options="studentclass.classId as studentclass.className for studentclass in classes" ng-required="true">
                <option value="" disabled>Select Class</option>
            </select>
            <p ng-show="registrationForm.studentClass.$error.required && !registrationForm.studentClass.$pristine">User Class is required.</p>
        </div>
              <!-- 	 <select class="form-control" name="countryName"   
            ng-model="userDetails.countryName" 
            ng-options="service.ServiceID as service.ServiceName for service in services"
            required> 
      <option value="">Select Service</option> 
    </select> 
    <span class="error" ng-show="!registrationForm.countryName.$pristine && registrationForm.countryName.$invalid">Country is Required</span>
 
            -->	
            <div class="form-group"  ng-class="{ 'has-error' : registrationForm.country.$invalid && !registrationForm.country.$pristine  }">
            	
            	<select class="form-control" id="country" name="country" ng-model="userDetails.country" required>
                <option value="">Select Country</option>
                <option value="AF">Afghanistan</option>
                <option value="AL">Albania</option>
                <option value="DZ">Algeria</option>
                <option value="AS">American Samoa</option>
                <option value="AD">Andorra</option>
                <option value="AG">Angola</option>
                <option value="AI">Anguilla</option>
                <option value="AG">Antigua &amp; Barbuda</option>
                <option value="AR">Argentina</option>
                <option value="AA">Armenia</option>
                <option value="AW">Aruba</option>
                <option value="AU">Australia</option>
                <option value="AT">Austria</option>
                <option value="AZ">Azerbaijan</option>
                <option value="BS">Bahamas</option>
                <option value="BH">Bahrain</option>
                <option value="BD">Bangladesh</option>
                <option value="BB">Barbados</option>
                <option value="BY">Belarus</option>
                <option value="BE">Belgium</option>
                <option value="BZ">Belize</option>
                <option value="BJ">Benin</option>
                <option value="BM">Bermuda</option>
                <option value="BT">Bhutan</option>
                <option value="BO">Bolivia</option>
                <option value="BL">Bonaire</option>
                <option value="BA">Bosnia &amp; Herzegovina</option>
                <option value="BW">Botswana</option>
                <option value="BR">Brazil</option>
                <option value="BC">British Indian Ocean Ter</option>
                <option value="BN">Brunei</option>
                <option value="BG">Bulgaria</option>
                <option value="BF">Burkina Faso</option>
                <option value="BI">Burundi</option>
                <option value="KH">Cambodia</option>
                <option value="CM">Cameroon</option>
                <option value="CA">Canada</option>
                <option value="IC">Canary Islands</option>
                <option value="CV">Cape Verde</option>
                <option value="KY">Cayman Islands</option>
                <option value="CF">Central African Republic</option>
                <option value="TD">Chad</option>
                <option value="CD">Channel Islands</option>
                <option value="CL">Chile</option>
                <option value="CN">China</option>
                <option value="CI">Christmas Island</option>
                <option value="CS">Cocos Island</option>
                <option value="CO">Colombia</option>
                <option value="CC">Comoros</option>
                <option value="CG">Congo</option>
                <option value="CK">Cook Islands</option>
                <option value="CR">Costa Rica</option>
                <option value="CT">Cote D'Ivoire</option>
                <option value="HR">Croatia</option>
                <option value="CU">Cuba</option>
                <option value="CB">Curacao</option>
                <option value="CY">Cyprus</option>
                <option value="CZ">Czech Republic</option>
                <option value="DK">Denmark</option>
                <option value="DJ">Djibouti</option>
                <option value="DM">Dominica</option>
                <option value="DO">Dominican Republic</option>
                <option value="TM">East Timor</option>
                <option value="EC">Ecuador</option>
                <option value="EG">Egypt</option>
                <option value="SV">El Salvador</option>
                <option value="GQ">Equatorial Guinea</option>
                <option value="ER">Eritrea</option>
                <option value="EE">Estonia</option>
                <option value="ET">Ethiopia</option>
                <option value="FA">Falkland Islands</option>
                <option value="FO">Faroe Islands</option>
                <option value="FJ">Fiji</option>
                <option value="FI">Finland</option>
                <option value="FR">France</option>
                <option value="GF">French Guiana</option>
                <option value="PF">French Polynesia</option>
                <option value="FS">French Southern Ter</option>
                <option value="GA">Gabon</option>
                <option value="GM">Gambia</option>
                <option value="GE">Georgia</option>
                <option value="DE">Germany</option>
                <option value="GH">Ghana</option>
                <option value="GI">Gibraltar</option>
                <option value="GB">Great Britain</option>
                <option value="GR">Greece</option>
                <option value="GL">Greenland</option>
                <option value="GD">Grenada</option>
                <option value="GP">Guadeloupe</option>
                <option value="GU">Guam</option>
                <option value="GT">Guatemala</option>
                <option value="GN">Guinea</option>
                <option value="GY">Guyana</option>
                <option value="HT">Haiti</option>
                <option value="HW">Hawaii</option>
                <option value="HN">Honduras</option>
                <option value="HK">Hong Kong</option>
                <option value="HU">Hungary</option>
                <option value="IS">Iceland</option>
                <option value="IN">India</option>
                <option value="ID">Indonesia</option>
                <option value="IA">Iran</option>
                <option value="IQ">Iraq</option>
                <option value="IR">Ireland</option>
                <option value="IM">Isle of Man</option>
                <option value="IL">Israel</option>
                <option value="IT">Italy</option>
                <option value="JM">Jamaica</option>
                <option value="JP">Japan</option>
                <option value="JO">Jordan</option>
                <option value="KZ">Kazakhstan</option>
                <option value="KE">Kenya</option>
                <option value="KI">Kiribati</option>
                <option value="NK">Korea North</option>
                <option value="KS">Korea South</option>
                <option value="KW">Kuwait</option>
                <option value="KG">Kyrgyzstan</option>
                <option value="LA">Laos</option>
                <option value="LV">Latvia</option>
                <option value="LB">Lebanon</option>
                <option value="LS">Lesotho</option>
                <option value="LR">Liberia</option>
                <option value="LY">Libya</option>
                <option value="LI">Liechtenstein</option>
                <option value="LT">Lithuania</option>
                <option value="LU">Luxembourg</option>
                <option value="MO">Macau</option>
                <option value="MK">Macedonia</option>
                <option value="MG">Madagascar</option>
                <option value="MY">Malaysia</option>
                <option value="MW">Malawi</option>
                <option value="MV">Maldives</option>
                <option value="ML">Mali</option>
                <option value="MT">Malta</option>
                <option value="MH">Marshall Islands</option>
                <option value="MQ">Martinique</option>
                <option value="MR">Mauritania</option>
                <option value="MU">Mauritius</option>
                <option value="ME">Mayotte</option>
                <option value="MX">Mexico</option>
                <option value="MI">Midway Islands</option>
                <option value="MD">Moldova</option>
                <option value="MC">Monaco</option>
                <option value="MN">Mongolia</option>
                <option value="MS">Montserrat</option>
                <option value="MA">Morocco</option>
                <option value="MZ">Mozambique</option>
                <option value="MM">Myanmar</option>
                <option value="NA">Nambia</option>
                <option value="NU">Nauru</option>
                <option value="NP">Nepal</option>
                <option value="AN">Netherland Antilles</option>
                <option value="NL">Netherlands (Holland, Europe)</option>
                <option value="NV">Nevis</option>
                <option value="NC">New Caledonia</option>
                <option value="NZ">New Zealand</option>
                <option value="NI">Nicaragua</option>
                <option value="NE">Niger</option>
                <option value="NG">Nigeria</option>
                <option value="NW">Niue</option>
                <option value="NF">Norfolk Island</option>
                <option value="NO">Norway</option>
                <option value="OM">Oman</option>
                <option value="PK">Pakistan</option>
                <option value="PW">Palau Island</option>
                <option value="PS">Palestine</option>
                <option value="PA">Panama</option>
                <option value="PG">Papua New Guinea</option>
                <option value="PY">Paraguay</option>
                <option value="PE">Peru</option>
                <option value="PH">Philippines</option>
                <option value="PO">Pitcairn Island</option>
                <option value="PL">Poland</option>
                <option value="PT">Portugal</option>
                <option value="PR">Puerto Rico</option>
                <option value="QA">Qatar</option>
                <option value="ME">Republic of Montenegro</option>
                <option value="RS">Republic of Serbia</option>
                <option value="RE">Reunion</option>
                <option value="RO">Romania</option>
                <option value="RU">Russia</option>
                <option value="RW">Rwanda</option>
                <option value="NT">St Barthelemy</option>
                <option value="EU">St Eustatius</option>
                <option value="HE">St Helena</option>
                <option value="KN">St Kitts-Nevis</option>
                <option value="LC">St Lucia</option>
                <option value="MB">St Maarten</option>
                <option value="PM">St Pierre &amp; Miquelon</option>
                <option value="VC">St Vincent &amp; Grenadines</option>
                <option value="SP">Saipan</option>
                <option value="SO">Samoa</option>
                <option value="AS">Samoa American</option>
                <option value="SM">San Marino</option>
                <option value="ST">Sao Tome &amp; Principe</option>
                <option value="SA">Saudi Arabia</option>
                <option value="SN">Senegal</option>
                <option value="RS">Serbia</option>
                <option value="SC">Seychelles</option>
                <option value="SL">Sierra Leone</option>
                <option value="SG">Singapore</option>
                <option value="SK">Slovakia</option>
                <option value="SI">Slovenia</option>
                <option value="SB">Solomon Islands</option>
                <option value="OI">Somalia</option>
                <option value="ZA">South Africa</option>
                <option value="ES">Spain</option>
                <option value="LK">Sri Lanka</option>
                <option value="SD">Sudan</option>
                <option value="SR">Suriname</option>
                <option value="SZ">Swaziland</option>
                <option value="SE">Sweden</option>
                <option value="CH">Switzerland</option>
                <option value="SY">Syria</option>
                <option value="TA">Tahiti</option>
                <option value="TW">Taiwan</option>
                <option value="TJ">Tajikistan</option>
                <option value="TZ">Tanzania</option>
                <option value="TH">Thailand</option>
                <option value="TG">Togo</option>
                <option value="TK">Tokelau</option>
                <option value="TO">Tonga</option>
                <option value="TT">Trinidad &amp; Tobago</option>
                <option value="TN">Tunisia</option>
                <option value="TR">Turkey</option>
                <option value="TU">Turkmenistan</option>
                <option value="TC">Turks &amp; Caicos Is</option>
                <option value="TV">Tuvalu</option>
                <option value="UG">Uganda</option>
                <option value="UA">Ukraine</option>
                <option value="AE">United Arab Emirates</option>
                <option value="GB">United Kingdom</option>
                <option value="US">United States of America</option>
                <option value="UY">Uruguay</option>
                <option value="UZ">Uzbekistan</option>
                <option value="VU">Vanuatu</option>
                <option value="VS">Vatican City State</option>
                <option value="VE">Venezuela</option>
                <option value="VN">Vietnam</option>
                <option value="VB">Virgin Islands (Brit)</option>
                <option value="VA">Virgin Islands (USA)</option>
                <option value="WK">Wake Island</option>
                <option value="WF">Wallis &amp; Futana Is</option>
                <option value="YE">Yemen</option>
                <option value="ZR">Zaire</option>
                <option value="ZM">Zambia</option>
                <option value="ZW">Zimbabwe</option>
              </select>
              <span style="color:red" ng-show="!registrationForm.country.$pristine && registrationForm.country.$invalid">
            <span ng-show="registrationForm.country.$error.required">Country is required.</span>           
             </span>
             </div>
             <div class="form-group"  ng-class="{ 'has-error' : registrationForm.state.$invalid && !registrationForm.state.$pristine  }">
              <select class="form-control" id = "state" name="state" ng-model="userDetails.state" required >
                <option value="">Select state</option>
                <option value='Andaman and Nicobar Islands'>Andaman and Nicobar Islands</option>
                <option value='Andhra Pradesh'>Andhra Pradesh</option>
                <option value='Arunachal Pradesh'>Arunachal Pradesh</option>
                <option value='Assam'>Assam</option>
                <option value='Bihar'>Bihar</option>
                <option value='Chandigarh'>Chandigarh</option>
                <option value='Chhattisgarh'>Chhattisgarh</option>
                <option value='Dadra and Nagar Haveli'>Dadra and Nagar Haveli</option>
                <option value='Daman and Diu'>Daman and Diu</option>
                <option value='Delhi'>Delhi</option>
                <option value='Goa'>Goa</option>
                <option value='Gujarat'>Gujarat</option>
                <option value='Haryana'>Haryana</option>
                <option value='Himachal Pradesh'>Himachal Pradesh</option>
                <option value='Jammu and Kashmir'>Jammu and Kashmir</option>
                <option value='Jharkhand'>Jharkhand</option>
                <option value='Karnataka'>Karnataka</option>
                <option value='Kerala'>Kerala</option>
                <option value='Lakshadweep'>Lakshadweep</option>
                <option value='Madhya Pradesh'>Madhya Pradesh</option>
                <option value='Maharashtra'>Maharashtra</option>
                <option value='Manipur'>Manipur</option>
                <option value='Meghalaya'>Meghalaya</option>
                <option value='Mizoram'>Mizoram</option>
                <option value='Nagaland'>Nagaland</option>
                <option value='Odisha'>Odisha</option>
                <option value='Puducherry'>Puducherry</option>
                <option value='Punjab'>Punjab</option>
                <option value='Rajasthan'>Rajasthan</option>
                <option value='Sikkim'>Sikkim</option>
                <option value='Tamil Nadu'>Tamil Nadu</option>
                <option value='Telengana'>Telengana</option>
                <option value='Tripura'>Tripura</option>
                <option value='Uttar Pradesh'>Uttar Pradesh</option>
                <option value='Uttarakhand'>Uttarakhand</option>
                <option value='West Bengal'>West Bengal</option>
              </select>
              <span style="color:red" ng-show="!registrationForm.state.$pristine && registrationForm.state.$invalid">
            <span ng-show="registrationForm.state.$error.required">State is required.</span>           
             </span>
             </div>
               <div class="form-group"  ng-class="{ 'has-error' : registrationForm.city.$invalid && !registrationForm.city.$pristine  }">
              <select class="form-control" id="city" name="city" ng-model="userDetails.city" required >
                <option value="">Select City</option>
                <option>Ahmedabad</option>
                <option>Bengaluru/Bangalore</option>
                <option>Chandigarh</option>
                <option>Chennai</option>
                <option>Delhi</option>
                <option>Gurgaon</option>
                <option>Hyderabad/Secunderabad</option>
                <option>Kolkatta</option>
                <option>Mumbai</option>
                <option>Noida</option>
                <option>Pune</option>
                <option>Andhra Pradesh</option>
                <option>Anantapur</option>
                <option>Guntakal</option>
                <option>Guntur</option>
                <option>Hyderabad/Secunderabad</option>
                <option>kakinada</option>
                <option>kurnool</option>
                <option>Nellore</option>
                <option>Nizamabad</option>
                <option>Rajahmundry</option>
                <option>Tirupati</option>
                <option>Vijayawada</option>
                <option>Visakhapatnam</option>
                <option>Warangal</option>
                <option>Andra Pradesh-Other</option>
                <option>Arunachal Pradesh</option>
                <option>Itanagar</option>
                <option>Arunachal Pradesh-Other</option>
                <option>Assam</option>
                <option>Guwahati</option>
                <option>Silchar</option>
                <option>Assam-Other</option>
                <option>Bihar</option>
                <option>Bhagalpur</option>
                <option>Patna</option>
                <option>Bihar-Other</option>
                <option>Chhattisgarh</option>
                <option>Bhillai</option>
                <option>Bilaspur</option>
                <option>Raipur</option>
                <option>Chhattisgarh</option>
                <option>Goa</option>
                <option>Panjim/Panaji</option>
                <option>Vasco Da Gama</option>
                <option>Goa-Other</option>
                <option>Gujarat</option>
                <option>Ahmedabad</option>
                <option>Anand</option>
                <option>Ankleshwar</option>
                <option>Bharuch</option>
                <option>Bhavnagar</option>
                <option>Bhuj</option>
                <option>Gandhinagar</option>
                <option>Gir</option>
                <option>Jamnagar</option>
                <option>Kandla</option>
                <option>Porbandar</option>
                <option>Rajkot</option>
                <option>Surat</option>
                <option>Vadodara/Baroda</option>
                <option>Valsad</option>
                <option>Vapi</option>
                <option>Gujarat-Other</option>
                <option>Haryana</option>
                <option>Ambala</option>
                <option>Chandigarh</option>
                <option>Faridabad</option>
                <option>Gurgaon</option>
                <option>Hisar</option>
                <option>Karnal</option>
                <option>Kurukshetra</option>
                <option>Panipat</option>
                <option>Rohtak</option>
                <option>Haryana-Other</option>
                <option>Himachal Pradesh</option>
                <option>Dalhousie</option>
                <option>Dharmasala</option>
                <option>Kulu/Manali</option>
                <option>Shimla</option>
                <option>Himachal Pradesh-Other</option>
                <option>Jammu and Kashmir</option>
                <option>Jammu</option>
                <option>Srinagar</option>
                <option>Jammu and Kashmir-Other</option>
                <option>Jharkhand</option>
                <option>Bokaro</option>
                <option>Dhanbad</option>
                <option>Jamshedpur</option>
                <option>Ranchi</option>
                <option>Jharkhand-Other</option>
                <option>Karnataka</option>
                <option>Bengaluru/Bangalore</option>
                <option>Belgaum</option>
                <option>Bellary</option>
                <option>Bidar</option>
                <option>Dharwad</option>
                <option>Gulbarga</option>
                <option>Hubli</option>
                <option>Kolar</option>
                <option>Mangalore</option>
                <option>Mysoru/Mysore</option>
                <option>Karnataka-Other</option>
                <option>Kerala</option>
                <option>Calicut</option>
                <option>Cochin</option>
                <option>Ernakulam</option>
                <option>Kannur</option>
                <option>Kochi</option>
                <option>Kollam</option>
                <option>Kottayam</option>
                <option>Kozhikode</option>
                <option>Palakkad</option>
                <option>Palghat</option>
                <option>Thrissur</option>
                <option>Trivandrum</option>
                <option>Kerela-Other</option>
                <option>Madhya Pradesh</option>
                <option>Bhopal</option>
                <option>Gwalior</option>
                <option>Indore</option>
                <option>Jabalpur</option>
                <option>Ujjain</option>
                <option>Madhya Pradesh-Other</option>
                <option>Maharashtra</option>
                <option>Ahmednagar</option>
                <option>Aurangabad</option>
                <option>Jalgaon</option>
                <option>Kolhapur</option>
                <option>Mumbai</option>
                <option>Mumbai Suburbs</option>
                <option>Nagpur</option>
                <option>Nasik</option>
                <option>Navi Mumbai</option>
                <option>Pune</option>
                <option>Solapur</option>
                <option>Maharashtra-Other</option>
                <option>Manipur</option>
                <option>Imphal</option>
                <option>Manipur-Other</option>
                <option>Meghalaya</option>
                <option>Shillong</option>
                <option>Meghalaya-Other</option>
                <option>Mizoram</option>
                <option>Aizawal</option>
                <option>Mizoram-Other</option>
                <option>Nagaland</option>
                <option>Dimapur</option>
                <option>Nagaland-Other</option>
                <option>Orissa</option>
                <option>Bhubaneshwar</option>
                <option>Cuttak</option>
                <option>Paradeep</option>
                <option>Puri</option>
                <option>Rourkela</option>
                <option>Orissa-Other</option>
                <option>Punjab</option>
                <option>Amritsar</option>
                <option>Bathinda</option>
                <option>Chandigarh</option>
                <option>Jalandhar</option>
                <option>Ludhiana</option>
                <option>Mohali</option>
                <option>Pathankot</option>
                <option>Patiala</option>
                <option>Punjab-Other</option>
                <option>Rajasthan</option>
                <option>Ajmer</option>
                <option>Jaipur</option>
                <option>Jaisalmer</option>
                <option>Jodhpur</option>
                <option>Kota</option>
                <option>Udaipur</option>
                <option>Rajasthan-Other</option>
                <option>Sikkim</option>
                <option>Gangtok</option>
                <option>Sikkim-Other</option>
                <option>Tamil Nadu</option>
                <option>Chennai</option>
                <option>Coimbatore</option>
                <option>Cuddalore</option>
                <option>Erode</option>
                <option>Hosur</option>
                <option>Madurai</option>
                <option>Nagerkoil</option>
                <option>Ooty</option>
                <option>Salem</option>
                <option>Thanjavur</option>
                <option>Tirunalveli</option>
                <option>Trichy</option>
                <option>Tuticorin</option>
                <option>Vellore</option>
                <option>Tamil Nadu-Other</option>
                <option>Tripura</option>
                <option>Agartala</option>
                <option>Tripura-Other</option>
                <option>Union Territories</option>
                <option>Chandigarh</option>
                <option>Dadra & Nagar Haveli-Silvassa</option>
                <option>Daman & Diu</option>
                <option>Delhi</option>
                <option>Pondichery</option>
                <option>Uttar Pradesh</option>
                <option>Agra</option>
                <option>Aligarh</option>
                <option>Allahabad</option>
                <option>Bareilly</option>
                <option>Faizabad</option>
                <option>Ghaziabad</option>
                <option>Gorakhpur</option>
                <option>Kanpur</option>
                <option>Lucknow</option>
                <option>Mathura</option>
                <option>Meerut</option>
                <option>Moradabad</option>
                <option>Noida</option>
                <option>Varanasi/Banaras</option>
                <option>Uttar Pradesh-Other</option>
                <option>Uttaranchal</option>
                <option>Dehradun</option>
                <option>Roorkee</option>
                <option>Uttaranchal-Other</option>
                <option>West Bengal</option>
                <option>Asansol</option>
                <option>Durgapur</option>
                <option>Haldia</option>
                <option>Kharagpur</option>
                <option>Kolkatta</option>
                <option>Siliguri</option>
                <option>West Bengal - Other</option>
                <option>Other</option>
                <option>Other</option>
              </select>
               <span style="color:red" ng-show="!registrationForm.city.$pristine && registrationForm.city.$invalid">
            <span ng-show="registrationForm.city.$error.required">City is required.</span>           
             </span>
             </div>
              <div class="form-group"  ng-class="{ 'has-error' : registrationForm.pincode.$invalid && !registrationForm.pincode.$pristine  }">
              <input class="form-control" id="pincode" name="pincode" ng-model="userDetails.pincode"   type="number"  placeholder="Pin Code" required/>
              <span style="color:red" ng-show="!registrationForm.pincode.$pristine && registrationForm.pincode.$invalid">
            <span ng-show="registrationForm.pincode.$error.required">Pincode is required.</span>     
             <span ng-show="registrationForm.pincode.$error.number">Only Numbers allowed</span>           
             </span>
             </div>
<div class="form-group">
              <input type="checkbox" id="rememberMe" name="rememeberMe" checked/>
              <label for="remember-me"> I Agree with the Terms and Conditions</label>
              </div>
             
              <button type="button" class="btn btn-secondary btn-block" ng-disabled="registrationForm.$invalid" ng-click="adminCtrl.register()">Submit</button>
            </div>
            </div>
          </div>          
        </div>
        
        </form>
      </div>
    </div>
  </section>
  <!--Module--> 
  
  <!--Footer-->
  <!-- <footer id="colophon" class="section site-footer wow fadeInUp" role="contentinfo">
    <div class="container">
      <div class="footer-logo"> </div>
      <div class="footer-social">
        <ul class="inline text-center">
          <li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li class="gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
          <li class="youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
          <li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
        </ul>
      </div>
      <div class="copyright text-center">
        <p>Copyright &copy; 2016 Chalk N Dust - All Rights Reserved.</p>
        <ul class="new_foot_nav">
          <li><a href="term.html">Terms & Conditions</a></li>
          <li class="last"><a ui-sref="chalkanddust.contactus">Contact Us</a></li>
        </ul>
      </div>
    </div>
  </footer> -->
  <!--Footer--> 
  
  </div>
