!--<script src="./resources/js/jquery-1.11.2.min.js"></script>
<script src="./resources/js/bootstrap.min.js"></script>
<script src="./resources/js/jquery.sticky.js"></script>
<script src="./resources/js/retina.js"></script>
<script src="./resources/js/singlepagenav.js"></script>
<script src="./resources/js/owl.carousel.min.js"></script>
<script src="./resources/js/jquery.parallax-1.1.3.js"></script>
<script src="./resources/js/isotope.pkgd.min.js"></script>
<script src="./resources/js/jquery.magnific-popup.min.js"></script>
<script src="./resources/js/wow.min.js"></script>
<script src="./resources/js/jquery.easing-1.3.pack.js"></script>
<script src="./resources/js/jquery.appear.js"></script>
<script src="./resources/js/jquery.countTo.js"></script>
<script src="./resources/js/jquery.form.min.js"></script>
<script src="./resources/js/jquery.validate.min.js"></script>
<script src="./resources/js/jflickrfeed.min.js"></script>
<script src="./resources/js/main.js"></script>
<script src="./resources/js/switch.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l=document.getElementsByTagName("a"),t=document.createElement("textarea");for(i=0;l.length-i;i++){try{a=l[i].getAttribute("href");if(a&&a.indexOf("/cdn-cgi/l/email-protection") > -1  && (a.length > 28)){s='';j=27+ 1 + a.indexOf("/cdn-cgi/l/email-protection");if (a.length > j) {r=parseInt(a.substr(j,2),16);for(j+=2;a.length>j&&a.substr(j,1)!='X';j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}j+=1;s+=a.substr(j,a.length-j);}t.innerHTML=s.replace(/</g,"&lt;").replace(/>/g,"&gt;");l[i].setAttribute("href","mailto:"+t.value);}}catch(e){}}}catch(e){}})();
/* ]]> */
</script> 
 
<div id="wrapper" class="main-wrapper">
<div id="masthead" class="site-header navigation navbar-default">

<div class="header-top">
<div class="container">
<div class="row">
<div class="col-sm-6 col-md-6">
<nav class="top-nav">
<ul class="inline">
<li><a href="#"><i class="fa fa-envelope-o"></i>username@mailid.com</a></li>
<li><a href="#"><i class="fa fa-phone"></i> +91-445533654</a><a id="home"></a></li>
</ul>
</nav>
</div>
<div class="col-sm-6 col-md-6">
<nav class="top-nav">
 <ul class="inline text-right">
<li>
<a ui-sref="chalkanddust.login">Log Out</a></li>
<!--<li>
 <a ui-sref="chalkanddust.registration">Register</a></li>-->
</ul>
</nav>
</div>
</div>
</div>
</div>


<div class="header-bottom">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
 
<a class="navbar-brand" ui-sref="chalkanddust.home">
<img src="../resources/images/icons/logo2.png" alt="">
</a>
 
</div>
<nav class="collapse navbar-collapse navbar-right" id="navigation">
<ul class="nav navbar-nav">
<li><a href="#home">Home</a></li>
<li><a href="#module">OUR MODULE</a></li>
<li><a href="#courses">COURSES</a></li>
<li><a href="#team">TEAM</a></li>
<li><a href="contact.html">CONTACT</a></li>
</ul>
</nav>
</div>
</div>
</div>
 
<!--slider-->
<section id="start">

</section>
<!--slider-->

<!--Module-->
<section id="blog" class="section">
<div class="container">
<div class="row grid-blog">
 
<div class="col-sm-12 col-md-12">
<div class="sec-head text-left wow bounce">
<h2><a href="#" name="module" id="module"></a>USER PROFILE</h2>
<p>  </p>
</div>
</div>
<!-- <form role="form" action="" method="post">
 <div class="col-xs-12  wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
<div class="row inner-grid">
<div class="user_log_detail">
				<h3>User Details</h3>
			<div class="container">
   <div class="table-responsive">          
  <table class="table">
   
      <tr>
       
        <td>Firstname</td>
        <td>{{userInfo.firstName}}</td>
       </tr>
       <tr>
        <td>MiddleName</td>
        <td>{{userInfo.middleName}}</td> 
        </tr>
       <tr>
       <td>LastName</td>
        <td>{{userInfo.lastName}}</td>
      </tr>
   
      <tr>
        <td>UserName</td>
        <td>{{userInfo.userName}}</td>
       </tr>
       <tr>
        <td>Email</td>
        <td>{{userInfo.email}}</td>
       </tr>
       <tr>
        <td>Address</td>
        <td>{{userInfo.address}}</td>
      </tr>
   <tr>
        <td>Country</td>
        <td>{{userInfo.country}}</td>
      </tr>
   <tr>
        <td>State</td>
        <td>{{userInfo.state}}</td>
      </tr>
   <tr>
        <td>City</td>
        <td>{{userInfo.city}}</td>
      </tr>
   <tr>
        <td>Pincode</td>
        <td>{{userInfo.pincode}}</td>
      </tr>
   
  </table>
  </div>
</div>
                       
</div>
</div>
</div>
</form>
-->


<div id="demo">
		<section id="tabbed">
			<!-- First tab input and label -->
			<input id="t-1" name="tabbed-tabs" type="radio" checked="checked" />
			<label for="t-1" class="tabs shadow entypo-users">General Details</label>
			<!-- Second tab input and label -->
			<input id="t-2" name="tabbed-tabs" type="radio" />
			<label for="t-2" class="tabs shadow entypo-home">Academic Details</label>
			<!-- Third tab input and label -->
			<input id="t-3" name="tabbed-tabs" type="radio" />
			<label for="t-3" class="tabs shadow entypo-menu">Parents Details</label>
			<!-- Fourth tab input and label -->
			<input id="t-4" name="tabbed-tabs" type="radio" />
			<label for="t-4" class="tabs shadow entypo-star">Accounts Details</label>
			<div class="wrapper shadow">

				<!-- Tab 1 content -->
				<div class="tab-1">
					<div class="row">
						<div class="cell w-100">
							<div class="title large">Forms</div>
						</div>
					</div>
					<div class="row">
						<div class="cell w-100">
						</div>
					</div>
					<div class="row">
						<!-- Form -->
						<div class="cell w-49">
							<form id="tab-form" name="tab-form">
								<!-- First name -->
								<div class="cell w-100">
									<input name="name" placeholder="First name" type="text" id="name" required />
								</div>
								<div class="clrfx mt-10"></div>
                                
                                
                                
                                <!-- Last name -->
								<div class="cell w-100">
									<input name="name" placeholder="Last name" type="text" id="name" required />
								</div>
								<div class="clrfx mt-10"></div>
                                
                               
                                
                                <!-- Permanent Address -->
								<div class="cell w-100">
									<input name="name" placeholder="Permanent Address" type="text" id="name" required />
								</div>
								<div class="clrfx mt-10"></div>
                                
                                

								<!-- Phone input -->
								<div class="cell w-100">
									<input name="phone" placeholder="+44 123 456" type="Mobile" id="phone" required />
								</div>
								<div class="clrfx mt-10"></div>
                                
                                
                                
								<!-- Email input -->
								<div class="cell w-100">
									<input name="email" placeholder="your@email.com" type="email" id="email" required />
								</div>
								<div class="clrfx mt-10"></div>
								
								
							</form>
						</div>
						<!-- Map -->
						<div class="cell w-49">
                        <form id="tab-form" name="tab-form">
							<!-- Middle name -->
								<div class="cell w-100">
									<input name="name" placeholder="Middle name" type="text" id="name" required />
								</div>
								<div class="clrfx mt-10"></div>
                                
                                 <!-- Contact Details -->
								<div class="cell w-100">
									<input name="name" placeholder="Contact Details" type="text" id="name" required />
								</div>
								<div class="clrfx mt-10"></div>
                                
                                <!-- Correspondence Address  -->
								<div class="cell w-100">
									<input name="name" placeholder="Correspondence Address " type="text" id="name" required />
								</div>
								<div class="clrfx mt-10"></div>
                                
                                <!-- Telephone input -->
								<div class="cell w-100">
									<input name="phone" placeholder="+44 123 456" type="tel" id="phone" required />
								</div>
								<div class="clrfx mt-10"></div>
                                
                                <!-- Send button -->
								<div class="cell w-32">
									<input type="submit" value="Submit" class="button black" form="tab-form" />
								</div>
								
                                </form>
							<!--<div id="map-canvas" class="map fl-right"></div>-->
						</div>
					</div>
				</div>
				<!-- / Tab 1 content -->

				<!-- Tab 2 content -->
				<div class="tab-2">
					<div class="row">
						<div class="cell w-100">
							<div class="title large">Forms</div>
						</div>
					</div>
					<div class="row">
						<div class="cell w-100">
						</div>
					</div>
					<div class="row">
						<!-- Form -->
						<div class="cell w-49">
							<form id="tab-form" name="tab-form">
								<!-- Class input -->
								<div class="cell w-100">
									<input name="name" placeholder="Class" type="text" id="name" required />
								</div>
								<div class="clrfx mt-10"></div>
                                
                                <!-- Marks Details  input -->
								<div class="cell w-100">
									<input name="name" placeholder="Marks Details : [Need to be discuss with client]" type="text" id="name" required />
								</div>
								<div class="clrfx mt-10"></div>


                                
                                

								
							</form>
						</div>
						<!-- Map -->
						<div class="cell w-49">
                        <form id="tab-form" name="tab-form">
                        		<!-- Subjects input -->
								<div class="cell w-100">
									<input name="name" placeholder="Subjects" type="text" id="name" required />
								</div>
								<div class="clrfx mt-10"></div>
                                
                                <!-- Previous School input -->
								<div class="cell w-100">
									<input name="name" placeholder="Previous School" type="text" id="name" required />
								</div>
								<div class="clrfx mt-10"></div>                        
                        
							<!-- Send button -->
								<div class="cell w-32">
									<input type="submit" value="Submit" class="button black" form="tab-form" />
								</div>
								<!-- Reset button -->
								
                                
                                </form>
						</div>
					</div>
				</div>
				<!-- / Tab 2 content -->

				<!-- Tab 3 content -->
				<div class="tab-3">
					<div class="row">
						<div class="cell w-100">
							<div class="title large">Forms</div>
						</div>
					</div>
					<div class="row">
						<div class="cell w-100">
						</div>
					</div>
					<div class="row">
						<!-- Form -->
						<div class="cell w-49">
							<form id="tab-form" name="tab-form">
								<!-- Name input -->
								<div class="cell w-100">
									<input name="name" placeholder="Father Name" type="text" id="name" required />
								</div>
								<div class="clrfx mt-10"></div>
						
                                <!-- Father’s Occupation  -->
								<div class="cell w-100">
									<input name="name" placeholder="Father Occupation " type="text" id="name" required />
								</div>
								<div class="clrfx mt-10"></div>
                                
								<div class="cell w-100">
									<input name="email" placeholder="your@email.com" type="email" id="email" required />
								</div>
								<div class="clrfx mt-10"></div>
								<!-- Phone input -->
								<div class="cell w-100">
									<input name="phone" placeholder="+44 123 456" type="tel" id="phone" required />
								</div>
								<div class="clrfx mt-10"></div>
                                <!-- Office Contact Details   -->
								<div class="cell w-100">
									<input name="name" placeholder="Office Contact Details" type="text" id="name" required />
								</div>
								<div class="clrfx mt-10"></div>
								
								
								
							</form>
						</div>
						<!-- Map -->
						<div class="cell w-49">
							<form id="tab-form" name="tab-form">
								<!-- Name input -->
								<div class="cell w-100">
									<input name="name" placeholder="Mother Name" type="text" id="name" required />
								</div>
								<div class="clrfx mt-10"></div>
						
                                <!-- Father’s Occupation  -->
								<div class="cell w-100">
									<input name="name" placeholder="Mother Occupation " type="text" id="name" required />
								</div>
								<div class="clrfx mt-10"></div>
                                
								<div class="cell w-100">
									<input name="email" placeholder="your@email.com" type="email" id="email" required />
								</div>
								<div class="clrfx mt-10"></div>
								<!-- Phone input -->
								<div class="cell w-100">
									<input name="phone" placeholder="+44 123 456" type="tel" id="phone" required />
								</div>
								<div class="clrfx mt-10"></div>
                                <!-- Office Contact Details   -->
								<div class="cell w-100">
									<input name="name" placeholder="Office Contact Details" type="text" id="name" required />
								</div>
								<div class="clrfx mt-10"></div>
							<!-- Send button -->
								<div class="cell w-32">
									<input type="submit" value="Submit" class="button black" form="tab-form" />
								</div>
								
							</form>
						</div>
					</div>
				</div>
				<!-- / Tab 3 content -->

				<!-- Tab 4 content -->
				<div class="tab-4">
					<div class="row">
						<div class="cell w-100">
							<div class="title large">Forms</div>
						</div>
					</div>
					<div class="row">
						<div class="cell w-100">
						</div>
					</div>
					<div class="row">
						<!-- Form -->
						<div class="cell w-49">
							<form id="tab-form" name="tab-form">
								<!-- user input -->
								<div class="cell w-100">
									<input name="name" placeholder="Username" type="text" id="name" required />
								</div>
								<div class="clrfx mt-10"></div>
                                <!-- user input -->
								<div class="cell w-100">
									<input name="name" placeholder="Change Password" type="password" id="name" required />
								</div>
								<div class="clrfx mt-10"></div>
                                <!-- user input -->
								<div class="cell w-100">
									<input name="name" placeholder="Password" type="password" id="name" required />
								</div>
								<div class="clrfx mt-10"></div>
                                
								
								<!-- Send button -->
								<div class="cell w-32">
									<input type="submit" value="Submit" class="button black" form="tab-form" />
								</div>
								
							</form>
						</div>
						<!-- Map -->
						<div class="cell w-49">
							<!-- Google maps -->
							<div id="map-canvas" class="map fl-right"></div>
						</div>
					</div>
				</div>

			</div>
			<div class="clrfx mt-30"></div>
			<div class="clrfx mt-30"></div>
			<!-- / Tabs wrapper -->
		</section>

	</div>
</div>  
</div>  
</section>
<!--Module-->





 
<!--Footer-->
<footer id="colophon" class="section site-footer wow fadeInUp" role="contentinfo">
<div class="container">
<div class="footer-logo">

</div>
<div class="footer-social">
<ul class="inline text-center">
<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
<li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
<li class="gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
<li class="youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
<li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
<li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
</ul>
</div>
<div class="copyright text-center">
<p>Copyright &copy; 2015 Chalk N Dust - All Rights Reserved.</p>
<ul class="new_foot_nav">
	<li><a href="policie.html">Our Policies</a></li>
    <li><a href="term.html">Terms & Conditions</a></li>
    <li class="last"><a href="contact_us.html">Contact Us</a></li>
</ul>
</div>
</div>
</footer>
<!--Footer-->

<a href="#home" id="back-top">
<i class="fa fa-angle-up"></i>
</a>
</div>
