<!-- <link type="text/css" rel="stylesheet" href="../../../resources/css/font-awesome.min.css"> -->
<link href="../../../resources/css/dashboardpage/hoe.css" rel="stylesheet">
<script src="../../../resources/js/jquery-1.11.2.min.js"></script>
<script src="../../../resources/js/bootstrap.min.js"></script>
<script src="../../../resources/js/hoe.js"></script>
<div hoe-navigation-type="vertical" hoe-nav-placement="left" theme-layout="wide-layout" theme-bg="bg1">
    <div id="hoeapp-wrapper" class="hoe-hide-lpanel" hoe-device-type="desktop">
        <header id="hoe-header" hoe-lpanel-effect="shrink">
            <div class="hoe-left-header">
                <a href="#"><i class="fa fa-graduation-cap"></i> <span>Chalk N Dust</span></a> <span class="hoe-sidebar-toggle"><a
                    href="javascript:void(0)"></a></span>
            </div>
            <div class="hoe-right-header" hoe-position-type="relative">
                <span class="hoe-sidebar-toggle"><a href="javascript:void(0)"></a></span>
                <ul class="left-navbar">
                    <li>
                        <form method="post" class="hoe-searchbar">
                            <h4 style="padding-top: 7px;">
                                <a ng-click="setTab(1);" href="javascript:void(0)">Dashboard </a> {{subjectName}}
                            </h4>
                        </form>
                    </li>
                </ul>
                <ul class="right-navbar">
                    <!-- <li><a href="#" ng-show="fullName"><i class="fa fa-user"></i>{{fullName}} </a></li>
                	<li><a ui-sref="chalkanddust.student">My Profile</a></li>
                	<li><a ui-sref="chalkanddust.logout">Log Out</a></li> -->
                    <li class="dropdown hoe-rheader-submenu hoe-header-profile"><a href="javascript:void(0)" class="dropdown-toggle"
                        data-toggle="dropdown"> <span ng-show="isUndefined(userProfilePhoto)"><img src="../resources/images/user.png"
                                alt="no image"></span> <span ng-show="!isUndefined(userProfilePhoto)"><img class="img-circle "
                                ng-src="{{userProfilePhoto}}" alt="Profile Photo"></span> <span><b>{{fullName}}</b> <i class=" fa fa-angle-down"></i></span>
                    </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a ui-sref="chalkanddust.student"><i class="fa fa-user"></i>My Profile</a></li>
                            <li><a ui-sref="chalkanddust.logout"><i class="fa fa-power-off"></i>Logout</a></li>
                        </ul></li>
                </ul>
            </div>
        </header>
        <div id="hoeapp-container" hoe-color-type="lpanel-bg2" hoe-lpanel-effect="shrink">
            <aside id="hoe-left-panel" hoe-position-type="absolute">
                <div class="profile-box">
                    <div class="media">
                        <a class="pull-left" href="javascript:void(0)"> <span ng-show="isUndefined(userProfilePhoto)"><img
                                src="../resources/images/user.png" alt="no image"></span> <span ng-show="!isUndefined(userProfilePhoto)"><img
                                class="img-circle " ng-src="{{userProfilePhoto}}" alt="Profile Photo"></span>
                        </a>
                        <div class="media-body">
                            <h5 class="media-heading">
                                Welcome <span>{{fullName}}</span>
                            </h5>
                        </div>
                    </div>
                </div>
                <ul class="nav panel-list">
                    <li ng-class="{ active:isSet(1)}"><a ng-click="setTab(1);" href="javascript:void(0)"> <i class="fa fa-tachometer"></i> <span
                            class="menu-text">Dashboard</span>
                    </a></li>
                    <li ng-repeat="item in subjects"><a ng-click="setTabSubject(2,item);" href="javascript:void(0)"> <i class="fa fa-files-o"></i>
                            <span class="menu-text">{{item.subjectName}}</span> <span class="selected"></span>
                    </a> <!--                         <ul class="hoe-sub-menu"> --> <!--                             <li ng-class="{ active:isSet(2)}"><a ng-click="setTab(2);" href="javascript:void(0)"> <span class="menu-text">Notes</span> -->
                        <!--                                     <span class="selected"></span> --> <!--                             </a></li> --> <!--                             <li ng-class="{ active:isSet(3)}"><a ng-click="setTab(3);" href="javascript:void(0)"> <span class="menu-text">Videos</span> -->
                        <!--                                     <span class="selected"></span> --> <!--                             </a></li> --> <!--                             <li ng-class="{ active:isSet(4)}"><a ng-click="setTab(4);" href="javascript:void(0)"> <span class="menu-text">Test</span> -->
                        <!--                                     <span class="selected"></span> --> <!--                             </a></li> --> <!--                         </ul> -->
                    </li>
                </ul>
            </aside>
            <section id="main-content">
                <div class="inner-content">
                    <div class="panel theme-panel">
                        <div class="panel-body" style="min-height: 650px;">
                            <div class="col-md-12 column right-navbar-right">
                                <div ng-switch="tab">
                                    <div ng-switch-when="1">
                                        <!--                                         <h3>Welcome <span>{{fullName}}</span></h3> -->
                                        <div ng-include="'modules/student/templates/studentDashboard/dashboard.tpl.html'"></div>
                                    </div>
                                    <div ng-switch-when="2">
                                        <div ng-include="'modules/student/templates/studentDashboard/subjectDetails.tpl.html'"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel theme-panel">
                        <div class="panel-body">
                            <div class="col-md-4 column ISB_app">
                                <h4>
                                    <a charset="#">JOIN CHAT GROUPS</a>
                                </h4>
                                <h5>
                                    <a href="#">ISB 2016 Applicants</a>
                                </h5>
                                <h5>
                                    <a href="#">INSEAD Sept'16 Applicants</a>
                                </h5>
                                <h5>
                                    <a href="#">HEC Paris Sept'16 Applicants</a>
                                </h5>
                            </div>
                            <div class="col-md-4 column ISB_app ISB_app_text">
                                <h4>
                                    <a charset="#">HAVE A QUERY? REACH OUT TO US</a>
                                </h4>
                                <h5>
                                    <a href="#"> <i><img src="../../../resources/images/facebook.png"></i> Facebook
                                    </a>
                                </h5>
                                <h5>
                                    <a href="#"> <i><img src="../../../resources/images/whatsapp.gif"></i> +91-9999999999
                                    </a>
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>
<script>
     $(document).ready(function(){
        $('.dropdown-toggle').dropdown();
    });
</script>