<div id="accessMatrix">
	<div class="panel panel-default bg-color-thirtysecond">
		<uib-tabset>
			<uib-tab>
				<uib-tab-heading>
					{{"userAdministration.workflowAccess"| translate}}
				</uib-tab-heading>
				<div class="panel-body">
					<h3>{{"userAdministration.ofcGrouping" | translate}}</h3>
					<div class="row">
						<div class="col-sm-12 table-responsive">
							<table class="table">
								<thead class="bg-color-ninth">
									<div class="row bg-color-ninth">
										<div class="col-sm-5">{{"dashboard.workflow" | translate}}</div>
										<div class="col-sm-3">
											<div>{{"dashboard.workflow" | translate}}</div>
											<div>{{"dashboard.workflow" | translate}}</div>
										</div>
									</div>
								</thead>
								<tbody>
									<tr>
										
									</tr>
								</tbody>
							
							</table>
						
						</div>
					</div>
				</div>
			</uib-tab>
			<uib-tab>
				<uib-tab-heading>
					{{"userAdministration.lettersAccess"| translate}}
				</uib-tab-heading>
			</uib-tab>
			<uib-tab>
				<uib-tab-heading>
					{{"userAdministration.reportsAccess"| translate}}
				</uib-tab-heading>
			</uib-tab>
		</uib-tabset>
	</div>
</div>