<div id="registration">
        <!-- Panel 1 -->
        <alert ng-show="alert.show" type="{{alert.type}}" close="closeAlert()">{{alert.message}}</alert>
        <div class="panel panel-default bg-color-primary">
            <div class="panel-body">
                <h3>{{"registration.accountDetails" | translate}}</h3>
                <form name="registrationForm">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-8">
                                    <label for="username" class="small">{{"login.username" | translate}} *</label> <input type="text"
                                        class="form-control" id="username" ng-model="userDetails.username" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <label for="password" class="small">{{"login.password" | translate}} *</label> <input type={{inputType}}
                                        class="form-control" id="password" name="password" tooltip-enable="!inputModel"
                                        tooltip-trigger="mouseenter" tooltip-placement="bottom"
                                        tooltip="Please note: Strong password strength requires 2 upper case letters, 2 numbers and 2 lower case letters."
                                        ng-model="userDetails.password" password-strength required />
                                    <password-strength ng-model="userDetails.password"
                                        ng-show="registrationForm.password.$dirty"></password-strength>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <input type="checkbox" id="showPwd" ng-model="passwordCheckbox"
                                            ng-click="hideShowPassword()" /> <label for="showPwd" class="small">{{"registration.showPwd" | translate}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row"
                                ng-class="{ 'has-error' : registrationForm.confirmPwd.$invalid && !registrationForm.confirmPwd.$pristine }">
                                <div class="col-md-8">
                                    <label for="confirmPwd" class="small">{{"registration.confirmPwd" | translate}} *</label> <input type="password"
                                        class="form-control" id="confirmPwd" name="confirmPwd"
                                        ng-model="userDetails.confirmPassword" match="userDetails.password" required />
                                    <div ng-show="registrationForm.confirmPwd.$error.match">
                                        <span>Passwords do not match!</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="checkbox">
                                        <input type="checkbox" id="sendEmail" ng-model="sendEmail" required /> <label
                                            for="sendEmail" class="small">{{"registration.sendEmail" | translate}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="forename" class="small">{{"registration.forename" | translate}} *</label> <input type="text" class="form-control"
                                        id="forename" ng-model="userDetails.forename" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="surname" class="small">{{"registration.surname" | translate}} *</label> <input type="text" class="form-control"
                                        id="surname" ng-model="userDetails.surname" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="jobTitle" class="small">{{"registration.jobTitle" | translate}} *</label> <input type="text"
                                        class="form-control" id="jobTitle" ng-model="userDetails.jobTitle" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="knownAs" class="small">{{"registration.knownAs" | translate}} *</label> <input type="text" class="form-control"
                                        id="knownAs" ng-model="userDetails.displayAs" required />
                                    <div class="alert alert-danger" ng-show="registrationForm.knownAs.$error.required">Please
                                        enter your name!</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="email" class="small">{{"registration.email" | translate}} *</label> <input type="text"
                                        class="form-control" id="email" ng-model="userDetails.emailAddress" required />
                                </div>
                            </div>
                        </div>


                    </div>
                </form>
            </div>
        </div>

        <!--Panel 2  -->
        <div class="panel panel-default bg-color-primary">
            <div class="panel-heading bg-color-primary"> 
                <span class="lead">{{"registration.yourDomain" | translate}} </span><span class="small text-ninth"> {{"registration.domainInfo" | translate}}</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default bg-color-fourteen">
                            <div class="panel-body ">
                                <h4>{{"registration.availableDomains" | translate}}</h4>
                                <div class="btn bg-color-fourteen btn-droppable" data-drop="true"
                                    ng-repeat="item in domainsList"
                                    data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=domainsList])'}"
                                    ng-model="domainsList" jqyoui-droppable="{index:{{$index}}}">
                                    <div class="btn btn-fourteenth btn-draggable" data-drag="true"
                                        data-jqyoui-options="{revert: 'invalid'}"
                                        jqyoui-draggable="{index: {{$index}},placeholder:true}" ng-hide="!item.name"
                                        ng-model="domainsList">{{item.name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default  bg-color-thirteenth">
                            <div class="panel-body ">
                                <h4>
                                    {{"registration.defaultDomain" | translate}} <span class="small text-ninth">{{"registration.domainSelection" | translate}}</span>
                                </h4>
                                <div class="fixedDiv btn-droppable" data-drop="true" ng-model="defaultDomain"
                                    data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=defaultDomain])'}"
                                    jqyoui-droppable="{multiple:true}">
                                    <div class="btn btn-fourteenth btn-draggable" jqyoui-draggable="{index: {{$index}}}"
                                        data-drag="true" data-jqyoui-options="{revert: 'invalid'}"
                                        ng-repeat="item in defaultDomain" ng-model="defaultDomain" ng-show="item.name">{{item.name}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default  bg-color-fourteen">
                            <div class="panel-body ">
                                <h4>{{"registration.assignedDomains" | translate}}</h4>
                                <div class="fixedDiv" data-drop="true" ng-model="userDetails.assignedDomains"
                                    data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=userDetails.assignedDomains])'}"
                                    jqyoui-droppable="{multiple:true}">
                                    <div class="btn btn-fourteenth btn-draggable"
                                        ng-repeat='item in userDetails.assignedDomains' ng-show="item.name" data-drag="true"
                                        data-jqyoui-options="{revert: 'invalid'}" ng-model="userDetails.assignedDomains"
                                        jqyoui-draggable="{index: {{$index}}}">{{item.name}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right" id="formActionBtn">
            <button type="button" class="btn btn-default btn-primary" ng-click="enableCopyUser = false">{{"registration.cancelBtn" | translate}}</button>
            <button type="button" class="btn btn-default btn-secondary" ng-click="regCtrl.register()">{{"registration.submitBtn" | translate}}</button>
        </div>
</div>