<div id="registration">
        <!-- Panel 1 -->
        <div class="panel panel-default bg-color-primary">
            <div class="panel-body">
                <h3>{{"registration.accountDetails" | translate}}</h3>
                <form name="registrationForm">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="row">
                                <div class="col-md-8">
                                    <label for="username" >{{"login.username" | translate}} *</label> <input type="text"
                                        class="form-control" id="username" ng-model="userDetails.username" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8">
                                    <label for="password" >{{"login.password" | translate}} *</label> <input type={{inputType}}
                                        class="form-control" id="password" name="password" tooltip-enable="!inputModel"
                                        tooltip-trigger="mouseenter" tooltip-placement="bottom"
                                        uib-tooltip= {{"registration.success" | translate}}
                                        tooltip-class="tooltipColor"
                                        ng-model="userDetails.password" password-strength required />
                                    <password-strength ng-model="userDetails.password"
                                        ng-show="registrationForm.password.$dirty"></password-strength>
                                </div>
                                <div class="col-md-4">
                                          <label for="showPwd" >{{"registration.showPwd" | translate}}</label>
                                          <pretty-checkbox ng-model="passwordCheckbox" ng-click="hideShowPassword()" id="showPwd"
															value="''"></pretty-checkbox>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-8" ng-class="{ 'has-error' : registrationForm.confirmPwd.$invalid && !registrationForm.confirmPwd.$pristine }">
                                    <label for="confirmPwd" >{{"registration.confirmPwd" | translate}} *</label> <input type="password"
                                        class="form-control" id="confirmPwd" name="confirmPwd"
                                        ng-model="userDetails.confirmPassword" match="userDetails.password" required />
                                    <div ng-show="registrationForm.confirmPwd.$error.match">
                                        <span>Passwords do not match!</span>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <label for="sendEmail" >{{"registration.sendEmail" | translate}}</label>
                                    <pretty-checkbox ng-model="sendEmail" id="sendEmail" value="''">
                                    </pretty-checkbox>
                                    
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="forename" >{{"registration.forename" | translate}} *</label> <input type="text" class="form-control"
                                        id="forename" ng-model="userDetails.forename" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="middleName" >{{"registration.middleName" | translate}}</label> <input type="text" class="form-control"
                                        id="middleName" ng-model="userDetails.middle"  />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="surname" >{{"registration.surname" | translate}} *</label> <input type="text" class="form-control"
                                        id="surname" ng-model="userDetails.surname" required />
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 col-md-offset-1">
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="knownAs" >{{"registration.knownAs" | translate}} *</label> <input type="text" class="form-control"
                                        id="knownAs" ng-model="userDetails.displayAs" required />
                                    <div class="alert alert-danger" ng-show="registrationForm.knownAs.$error.required">Please
                                        enter your name!</div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="jobTitle" >{{"registration.jobTitle" | translate}} *</label> <input type="text"
                                        class="form-control" id="jobTitle" ng-model="userDetails.jobTitle" required />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label for="email">{{"registration.email" | translate}} *</label> <input type="text"
                                        class="form-control" id="email" ng-model="userDetails.email" required />
                                </div>
                            </div>
                        </div>


                    </div>
                </form>
            </div>
        </div>

        <!--Panel 2  -->
        <div class="panel panel-default bg-color-primary">
            <div class="panel-heading bg-color-primary"> 
                <span class="lead">{{"registration.yourDomain" | translate}} </span><span class="small text-ninth"> {{"registration.domainInfo" | translate}}</span>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="panel panel-default bg-color-fourteen">
                            <div class="panel-body ">
                                <h4>{{"registration.availableDomains" | translate}}</h4>
                                <div class="btn bg-color-fourteen btn-droppable" data-drop="true"
                                    ng-repeat="item in domainsList"
                                    data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=domainsList])'}"
                                    ng-model="domainsList" jqyoui-droppable="{index:{{$index}}}">
                                    <div class="btn btn-fourteenth btn-draggable" data-drag="true"
                                        data-jqyoui-options="{revert: 'invalid'}"
                                        jqyoui-draggable="{index: {{$index}},placeholder:true}" ng-hide="!item.domainName"
                                        ng-model="domainsList">{{item.domainName}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="panel panel-default  bg-color-thirteenth">
                            <div class="panel-body ">
                                <h4>
                                    {{"registration.defaultDomain" | translate}} <span class="small text-ninth">{{"registration.domainSelection" | translate}}</span>
                                </h4>
                                <div class="fixedDiv btn-droppable" data-drop="true" ng-model="defaultDomain"
                                    data-jqyoui-options="domainListValidation"
                                    jqyoui-droppable="{multiple:true}">
                                    <div class="btn btn-fourteenth btn-draggable" jqyoui-draggable="{index: {{$index}}}"
                                        data-drag="true" data-jqyoui-options="{revert: 'invalid'}"
                                        ng-repeat="item in defaultDomain" ng-model="defaultDomain" ng-show="item.domainName">{{item.domainName}}</div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default  bg-color-fourteen">
                            <div class="panel-body ">
                                <h4>{{"registration.assignedDomains" | translate}}</h4>
                                <div class="fixedDiv btn-droppable" data-drop="true" ng-model="assignedDomains"
                                    data-jqyoui-options="{accept:'.btn-draggable:not([ng-model=assignedDomains])'}"
                                    jqyoui-droppable="{multiple:true}">
                                    <div class="btn btn-fourteenth btn-draggable"
                                        ng-repeat='item in assignedDomains' ng-show="item.domainName" data-drag="true"
                                        data-jqyoui-options="{revert: 'invalid'}" ng-model="assignedDomains"
                                        jqyoui-draggable="{index: {{$index}}}">{{item.domainName}}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pull-right" id="formActionBtn"> 
            <button type="button" class="btn btn-default btn-primary" ng-click="disableCopyUser()">{{"registration.cancelBtn" | translate}}</button>
            <button type="button" class="btn btn-default btn-primary" ng-click="enablePermissions()" >{{"registration.nextBtn" | translate}}</button>
            <button type="button" class="btn btn-default btn-secondary" ng-click="register()">{{"registration.submitBtn" | translate}}</button>
        </div>
</div>