<script src="./resources/js/jquery-1.11.2.min.js"></script>
<script src="./resources/js/bootstrap.min.js"></script>
<script src="./resources/js/jquery.sticky.js"></script>
<script src="./resources/js/retina.js"></script>
<script src="./resources/js/singlepagenav.js"></script>
<script src="./resources/js/owl.carousel.min.js"></script>
<script src="./resources/js/jquery.parallax-1.1.3.js"></script>
<script src="./resources/js/isotope.pkgd.min.js"></script>
 <script src="./resources/js/jquery.magnific-popup.min.js"></script>
<script src="./resources/js/wow.min.js"></script>
<script src="./resources/js/jquery.easing-1.3.pack.js"></script>
<script src="./resources/js/jquery.appear.js"></script>
<script src="./resources/js/jquery.countTo.js"></script>
<script src="./resources/js/jquery.form.min.js"></script>
<script src="./resources/js/jquery.validate.min.js"></script>
<script src="./resources/js/jflickrfeed.min.js"></script>
<script src="./resources/js/main.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l=document.getElementsByTagName("a"),t=document.createElement("textarea");for(i=0;l.length-i;i++){try{a=l[i].getAttribute("href");if(a&&a.indexOf("/cdn-cgi/l/email-protection") > -1  && (a.length > 28)){s='';j=27+ 1 + a.indexOf("/cdn-cgi/l/email-protection");if (a.length > j) {r=parseInt(a.substr(j,2),16);for(j+=2;a.length>j&&a.substr(j,1)!='X';j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}j+=1;s+=a.substr(j,a.length-j);}t.innerHTML=s.replace(/</g,"&lt;").replace(/>/g,"&gt;");l[i].setAttribute("href","mailto:"+t.value);}}catch(e){}}}catch(e){}})();
/* ]]> */
</script>


<div id="home"><div id="wrapper" class="main-wrapper">
<header id="masthead" class="site-header navigation navbar-default">

<div class="header-top">
<div class="container">
<div class="row">
<div class="col-sm-6 col-md-6">
<nav class="top-nav">
<ul class="inline">
<li><a href="#"><i class="fa fa-envelope-o"></i>username@mailid.com</a></li>
<li><a href="#"><i class="fa fa-phone"></i> +91-445533654</a><a id="home"></a></li>
</ul>
</nav>
</div>
<div class="col-sm-6 col-md-6">
<nav class="top-nav">
<ul class="inline text-right">
<li ng-if="userName=='admin'"><a ui-sref="chalkanddust.adminhome" ng-show="fullName"><i class="fa fa-user"></i>{{fullName}} </a></li>
<li ng-if="userName!='admin'"><a ui-sref="chalkanddust.profile" ng-show="fullName"><i class="fa fa-user"></i>{{fullName}} </a></li>
<li ng-hide="fullName">
<a ui-sref="chalkanddust.login">Log In</a></li>
<li ng-hide="fullName">
<a ui-sref="chalkanddust.registration">Register</a></li>
<li ng-show="fullName">
<a ui-sref="chalkanddust.logout">Log Out</a></li>
</ul>
</nav>
</div>
</div>
</div>
</div>


<div class="header-bottom">
<div class="container">
<div class="navbar-header">
<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation" aria-expanded="false">
<span class="sr-only">Toggle navigation</span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
 
<a class="navbar-brand" ui-sref="chalkanddust.home">
<img src="resources/images/icons/logo2.png" alt="">
</a>
 
</div>
<nav class="collapse navbar-collapse navbar-right" id="navigation">
<ul class="nav navbar-nav">
<li><a href="#home">HOME</a></li>
<li><a href="#module">OUR MODULE</a></li>
<li><a href="#courses">COURSES</a></li>
<li><a href="#team">TEAM</a></li>
<li><a href="javascript:void(0)" ng-click="homeCtrl.contactUs()">CONTACT US</a></li>
</ul>
</nav>
</div>
</div>
</header>
 
<!--slider-->
<section id="start">
<div class="home-slider">
 
<div class="slide-item" style="background-image: url(resources/images/slider/slide4.jpg)">
<div class="slide-content container">
<div class="inner-content text-">
<!-- <span class="btn2 slide_image"><img src="resources/images/slider/main_arrow.png"></span> -->
<h2>Welcome to Chalk & Dust</h2>
<h4>Get in touch with the Leaders</h4>
<h4>TO MAKE YOU A WINNER</h4>


<!--<div class="btn-set">
<span class="btn1">
<a href="#" class="btn btn-shadow btn-main shutter-both">Learn More</a>
</span>
<span class="btn2">
<a href="#" class="btn btn-shadow btn-dark shutter-both">Start Now</a>
</span>
</div>-->
</div>
</div>
</div>
<div class="slide-item item2" style="background-image: url(./resources/images/slider/slide5.jpg)">
<div class="slide-content container">
<div class="inner-content">
<!-- <span class="btn2 slide_image"><img src="./resources/images/slider/main_arrow.png"></span> -->
<h2>Welcome to Chalk & Dust</h2>
<h4>Get in touch with the Leaders</h4>
<h4>TO MAKE YOU A WINNER</h4>
<!--<div class="btn-set">
<span class="btn1">
<a href="#" class="btn btn-shadow btn-main shutter-both">Learn More</a>
</span>
<span class="btn2">
<a href="#" class="btn btn-shadow btn-dark shutter-both">Start Now</a>
</span>
</div>-->
</div>
</div>
</div>
<div class="slide-item" style="background-image: url(./resources/images/slider/slide6.jpg)">
<div class="slide-content container">
<div class="inner-content text-">
<!-- <span class="btn2 slide_image"><img src="./resources/images/slider/main_arrow.png"></span> -->
<h2>Welcome to Chalk & Dust</h2>
<h4>Get in touch with the Leaders</h4>
<h4>TO MAKE YOU A WINNER</h4>
<!--<div class="btn-set">
<span class="btn1">
<a href="#" class="btn btn-shadow btn-main shutter-both">Learn More</a>
</span>
<span class="btn2">
<a href="#" class="btn btn-shadow btn-dark shutter-both">Start Now</a>
</span>
</div>-->
</div>
</div>
</div>
<div class="slide-item item2" style="background-image: url(./resources/images/slider/slide7.jpg)">
<div class="slide-content container">
<div class="inner-content">
<!-- <span class="btn2 slide_image"><img src="./resources/images/slider/main_arrow.png"></span> -->
<h2>Welcome to Chalk & Dust</h2>
<h4>Get in touch with the Leaders</h4>
<h4>TO MAKE YOU A WINNER</h4>
<!--<div class="btn-set">
<span class="btn1">
<a href="#" class="btn btn-shadow btn-main shutter-both">Learn More</a>
</span>
<span class="btn2">
<a href="#" class="btn btn-shadow btn-dark shutter-both">Start Now</a>
</span>
</div>-->
</div>
</div>
</div>
 
</div>
</section>
<!--slider-->

<!--Module-->
<section id="blog" class="section">
<div class="container">
<div class="row grid-blog">
 
<div class="col-sm-12 col-md-12">
<div class="sec-head text-left wow bounce">
<h2><a href="#" name="module" id="module"></a>OUR MODULES</h2>
<p>  </p>
</div>
</div>
 
 
<div class="col-xs-12 col-md-6 wow fadeInLeft">
<div class="row inner-grid">
<div class="col-xs-12 col-sm-6">
<div class="post-thumb">
<a href="#">
<img src="./resources/images/blog/news.jpg" alt="">
</a>
</div>
</div>
<div class="col-xs-12 col-sm-6 post-entry">
<h4><a href="#">Discussion room</a></h4>
<div class="post-hover">
<p>Student post your question here and connect with you for discussion.</p>
</div>
<div class="post-hover meta-icons">
<a href="#" class="post-comments" style="font-size:14px">Start</a>
</div>
</div>
</div>
</div>
 
 
<div class="col-xs-12 col-md-6 wow fadeInRight">
<div class="row inner-grid">
<div class="col-xs-12 col-sm-6">
<div class="post-thumb">
<a href="#">
<img src="./resources/images/blog/news2.jpg" alt="">
</a>
</div>
</div>
<div class="col-xs-12 col-sm-6 post-entry">
<h4><a href="#">Enquiry Form</a></h4>
<div class="post-hover">
<p>Connect with us and we will get talk to you within 24 hours.</p>
</div>

<div class="post-hover meta-icons">
<a href="#" class="post-comments" style="font-size:14px">Click</a>
</div>
</div>
</div>
</div>
 

 

</div>  
</div>  
</section>
<!--Module-->

<!--Slider-two-->
<section id="portfolio" class="section slide_bg">
<div class="student_slide">
		
		 <div class='csslider1 autoplay '>
		<input name="cs_anchor1" id='cs_slide1_0' type="radio" class='cs_anchor slide' >
		<input name="cs_anchor1" id='cs_slide1_1' type="radio" class='cs_anchor slide' >
		<input name="cs_anchor1" id='cs_slide1_2' type="radio" class='cs_anchor slide' >
		<input name="cs_anchor1" id='cs_slide1_3' type="radio" class='cs_anchor slide' >
		<input name="cs_anchor1" id='cs_play1' type="radio" class='cs_anchor' checked>
		<input name="cs_anchor1" id='cs_pause1_0' type="radio" class='cs_anchor pause'>
		<input name="cs_anchor1" id='cs_pause1_1' type="radio" class='cs_anchor pause'>
		<input name="cs_anchor1" id='cs_pause1_2' type="radio" class='cs_anchor pause'>
		<input name="cs_anchor1" id='cs_pause1_3' type="radio" class='cs_anchor pause'>
		<ul>
			<li class="cs_skeleton"><img src="./resources/images/slider/slider1.png" style="width: 100%;"></li>
			<li class='num0 img slide'> <img src="./resources/images/slider/slider1.png" alt='slider1' title='slider1' /></li>
			<li class='num1 img slide'> <img src="./resources/images/slider/slider2.png" alt='slider2' title='slider2' /></li>
			<li class='num2 img slide'> <img src="./resources/images/slider/slider3.png" alt='slider3' title='slider3' /></li>
			<li class='num3 img slide'> <img src="./resources/images/slider/slider4.png" alt='slider4' title='slider4' /></li>
		</ul>
		
		
		<div class='cs_arrowprev'>
			<label class='num0' for='cs_slide1_0'><span><i></i><b></b></span></label>
			<label class='num1' for='cs_slide1_1'><span><i></i><b></b></span></label>
			<label class='num2' for='cs_slide1_2'><span><i></i><b></b></span></label>
			<label class='num3' for='cs_slide1_3'><span><i></i><b></b></span></label>
		</div>
		<div class='cs_arrownext'>
			<label class='num0' for='cs_slide1_0'><span><i></i><b></b></span></label>
			<label class='num1' for='cs_slide1_1'><span><i></i><b></b></span></label>
			<label class='num2' for='cs_slide1_2'><span><i></i><b></b></span></label>
			<label class='num3' for='cs_slide1_3'><span><i></i><b></b></span></label>
		</div>
		<div class='cs_bullets'>
			<label class='num0' for='cs_slide1_0'> <span class='cs_point'></span>
				<span class='cs_thumb'><img src='./resources/cssslider_files/csss_tooltips1/slider1.jpg' alt='slider1' title='slider1' /></span></label>
			<label class='num1' for='cs_slide1_1'> <span class='cs_point'></span>
				<span class='cs_thumb'><img src='./resources/cssslider_files/csss_tooltips1/slider2.jpg' alt='slider2' title='slider2' /></span></label>
			<label class='num2' for='cs_slide1_2'> <span class='cs_point'></span>
				<span class='cs_thumb'><img src='./resources/cssslider_files/csss_tooltips1/slider3.jpg' alt='slider3' title='slider3' /></span></label>
			<label class='num3' for='cs_slide1_3'> <span class='cs_point'></span>
				<span class='cs_thumb'><img src='./resources/cssslider_files/csss_tooltips1/slider4.jpg' alt='slider4' title='slider4' /></span></label>
		</div>
		</div>
</div>
</section>
<!--Slider-two-->

<!--why-us-->
<section id="service" class="section bg-one">
<div class="container">
<div class="row">
 
<div class="col-sm-12 col-md-12">
<div class="sec-head text-left wow pulse">
<h2>Why Us</h2>
<p></p>
</div>
</div>
 
 
<div class="col-sm-6 col-md-3 text-center wow fadeInUp twenty">
<div class="service-item">
<div class="icon-box">
<img src="./resources/images/icons/link.png">
</div>
 
<div class="service-text text-center">
<p>Faculty from India’s premier institute (IIT and IIMs)</p>
</div>
</div>
</div>
 
 
<div class="col-sm-6 col-md-3 text-center wow fadeInUp twenty" data-wow-delay="0.3s">
<div class="service-item">
<div class="icon-box">
<img src="./resources/images/icons/chat.png">
</div>
 
<div class="service-text text-center">
<p>You can learn freely under their guidance and get in touch with them through our online </p>
</div>
</div>
</div>
 
 
<div class="col-sm-6 col-md-3 text-center wow fadeInUp twenty" data-wow-delay="0.6s">
<div class="service-item">
<div class="icon-box">
<img src="./resources/images/icons/tir.png">
</div>
 
<div class="service-text text-center">
<p> we can act as a medium by connecting you with your future aspiration</p>
</div>
</div>
</div>
 
 
<div class="col-sm-6 col-md-3 text-center wow fadeInUp twenty" data-wow-delay="0.9s">
<div class="service-item">
<div class="icon-box">
<img src="./resources/images/icons/question.png">
</div>
 
<div class="service-text text-center">
<p>Clear your doubts within 24 hours</p>
</div>
</div>
</div>

<div class="col-sm-6 col-md-3 text-center wow fadeInUp twenty" data-wow-delay="0.9s">
<div class="service-item">
<div class="icon-box">
<img src="./resources/images/icons/access.png">
</div>
 
<div class="service-text text-center">
<p>Get access to unlimited questions</p>
</div>
</div>
</div>
 
</div>  
</div>  
</section>
<!--whyus-->

<!--portfolio-->
<section id="portfolio" class="section course_bg">
<div class="container">
<div class="row">
 
<div class="col-sm-12 col-md-12">
<div class="sec-head text-left wow fadeInDown">
<h2>OUR <a id="courses"></a>COURSES</h2>
<p> </p>
</div>
</div>
 
</div>
</div>
<div class="container-fluid wow fadeIn">
<div class="row project-wrapper">

<div class="col-xs-12 col-sm-6 col-md-3 photography">
<div class="portfolio-item">
<img src="./resources/images/portfolio/portfolio1.jpg" alt="">
<div class="portfolio-content">
<div class="portfolio-inner">
<span class="btn2">
<a href="#" class="ajax-popup" data-effect="mfp-zoom-in">
<i class="ion-ios-redo-outline"></i>
</a>
</span>
<h4>Eight Standerd</h4>
<p>Foundation/Competitive Exam/Olympiads</p>
</div>
</div>
</div>
</div>


<div class="col-xs-12 col-sm-6 col-md-3 photoshop">
<div class="portfolio-item">
<img src="./resources/images/portfolio/portfolio2.jpg" alt="">
<div class="portfolio-content">
<div class="portfolio-inner">
<span class="btn2">
<a href="#" class="ajax-popup" data-effect="mfp-zoom-in">
<i class="ion-ios-redo-outline"></i>
</a>
</span>
<h4>Ninth Standerd</h4>
<p>Foundation/Competitive Exam/Olympiads</p>
</div>
</div>
</div>
</div>


<div class="col-xs-12 col-sm-6 col-md-3 web-design">
<div class="portfolio-item">
<img src="./resources/images/portfolio/portfolio10.jpg" alt="">
<div class="portfolio-content">
<div class="portfolio-inner">
<span class="btn2">
<a href="#" class="ajax-popup" data-effect="mfp-zoom-in">
<i class="ion-ios-redo-outline"></i>
</a>
</span>
<h4>Tenth Standerd</h4>
<p>NISE/Board/Competitive Exams</p>
</div>
</div>
</div>
</div>


<div class="col-xs-12 col-sm-6 col-md-3 branding">
<div class="portfolio-item">
<img src="./resources/images/portfolio/portfolio3.jpg" alt="">
<div class="portfolio-content">
<div class="portfolio-inner">
<span class="btn2">
<a href="#" class="ajax-popup" data-effect="mfp-zoom-in">
<i class="ion-ios-redo-outline"></i>
</a>
</span>
<h4>Elleventh Standerd</h4>
<p>Board / IIT/JEE / BSE</p>
</div>
</div>
</div>
</div>


<div class="col-xs-12 col-sm-6 col-md-3 photography">
<div class="portfolio-item">
<img src="./resources/images/portfolio/portfolio4.jpg" alt="">
<div class="portfolio-content">
<div class="portfolio-inner">
<span class="btn2">
<a href="#" class="ajax-popup" data-effect="mfp-zoom-in">
<i class="ion-ios-redo-outline"></i>
</a>
</span>
<h4>Twelth Standerd</h4>
<p>Board / IIT/JEE / BSE</p>
</div>
</div>
</div>
</div>


<div class="col-xs-12 col-sm-6 col-md-3 photoshop photography">
<div class="portfolio-item">
<img src="./resources/images/portfolio/portfolio5.jpg" alt="">
<div class="portfolio-content">
<div class="portfolio-inner">
<span class="btn2">
<a href="#" class="ajax-popup" data-effect="mfp-zoom-in">
<i class="ion-ios-redo-outline"></i>
</a>
</span>
<h4>Competitive</h4>
</div>
</div>
</div>
</div>

</div>
</div>
</section>
<!--portfolio-->

<!--Team-->
<section id="team" class="section">
<div class="container">
<div class="row">
 
<div class="col-sm-12 col-md-12">
<div class="sec-head text-left wow bunce">
<h2>M<a id="team1"></a>eet the Team</h2>
<p></p>
</div>
</div>
 
 
<div class="col-sm-6 col-md-3 wow fadeInUp">
<div class="team-mate">
<figure class="member-photo">
 
<img alt="" src="./resources/images/team/team1.jpg" class="img-responsive">
 
 
<div class="hover">
<div class="hover-inner">
 
<div class="member-info">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
</div>
 
<ul class="list-inline text-center">
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-instagram"></i></a></li>
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
</ul>
 
</div>
</div>
</figure>
 
<div class="member-title">
<h4>Diwakar Chaudhary</h4>
<span>Developer</span>
</div>
 
</div>
</div>
 
 
<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="0.3s">
<div class="team-mate">
<figure class="member-photo">
 
<img alt="" src="./resources/images/team/team2.png" class="img-responsive">
 
 
<div class="hover">
<div class="hover-inner">
 
<div class="member-info">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
</div>
 
<ul class="list-inline text-center">
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-instagram"></i></a></li>
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
</ul>
 
</div>
</div>
</figure>
 
<div class="member-title">
<h4>Ankit Bhardwaj</h4>
<span>Web, Graphic & 3d Designer</span>
</div>
 
</div>
</div>
 
 
<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="0.6s">
<div class="team-mate">
<figure class="member-photo">
 
<img alt="" src="./resources/images/team/team3.png" class="img-responsive">
 
 
<div class="hover">
<div class="hover-inner">
 
<div class="member-info">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
</div>
 
<ul class="list-inline text-center">
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-instagram"></i></a></li>
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
</ul>
 
</div>
</div>
</figure>
 
<div class="member-title">
<h4>Ankur Bhardwaj</h4>
<span>Java Developer</span>
</div>
 
</div>
</div>
 
 
<div class="col-sm-6 col-md-3 wow fadeInUp" data-wow-delay="0.9s">
<div class="team-mate">
<figure class="member-photo">
 
<img alt="" src="./resources/images/team/team4.jpg" class="img-responsive">
 
 
<div class="hover">
<div class="hover-inner">
 
<div class="member-info">
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur necessitatibus ullam, culpa odio.</p>
</div>
 
<ul class="list-inline text-center">
<li><a href="#"><i class="fa fa-twitter"></i></a></li>
<li><a href="#"><i class="fa fa-instagram"></i></a></li>
<li><a href="#"><i class="fa fa-facebook"></i></a></li>
</ul>
 
</div>
</div>
</figure>
 
<div class="member-title">
<h4>Abhishek Kumar</h4>
<span>Java Developer</span>
</div>
 
</div>
</div>
 
</div>
</div>
</section>
<!--Team-->
 
<!--Footer-->
<footer id="colophon" class="section site-footer wow fadeInUp" role="contentinfo">
<div class="container">
<div class="footer-logo">

</div>
<div class="footer-social">
<ul class="inline text-center">
<li class="twitter"><a href="#"><i class="fa fa-twitter"></i></a></li>
<li class="facebook"><a href="#"><i class="fa fa-facebook"></i></a></li>
<li class="gplus"><a href="#"><i class="fa fa-google-plus"></i></a></li>
<li class="youtube"><a href="#"><i class="fa fa-youtube"></i></a></li>
<li class="pinterest"><a href="#"><i class="fa fa-pinterest"></i></a></li>
<li class="instagram"><a href="#"><i class="fa fa-instagram"></i></a></li>
</ul>
</div>
<div class="copyright text-center">
<p>Copyright &copy; 2015 Chalk N Dust - All Rights Reserved.</p>
<ul class="new_foot_nav">
	<li><a href="policie.html">Our Policies</a></li>
    <li><a href="term.html">Terms & Conditions</a></li>
    <li class="last"><a href="javascript:void(0)" ng-click="homeCtrl.contactUs()">Contact Us</a></li>
</ul>
</div>
</div>
</footer>
<!--Footer-->

<a href="#home" ng-click="homeCtrl.backToTop()" id="back-top">
<i class="fa fa-angle-up"></i>
</a>
</div></div>