<style>
.title_text button a {
	color: #FFF;
	padding: 0px 40px;
}

.btn:focus, .btn:hover, a, a:focus, a:hover {
	text-decoration: none;
	outline: 0;
}

button {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button.btn-block {
	display: inline;
	width: auto;
	background: #6AA3C9 none repeat scroll 0 0;
	color: white;
}

#studentList th:last-child, td:last-child {
	width: 10%;
}

#studentList th {
	color: #fff;
}
</style>
<h3>Student List</h3>
<uib-alert id="uibAlert" ng-show="alert.show" type="{{alert.type}}" close="closeAlert()">{{alert.message}}</uib-alert>

<br />
<div class="container-fluid">
    <div class="row">

        <div class="table-responsive ">
            <div class="number_scroll">

                <input ng-model="search" type="text" style="width: 40%" placeholder="Search student" />
                <div class="num_s">
                    <uib-pagination total-items="$parent.totalItemsstudentList" ng-change="getData()" ng-model="$parent.currentPageStudentList"
                        max-size="$parent.maxSizeStudentList" items-per-page="$parent.itemsPerPageStudentList" boundary-link-numbers="true"></uib-pagination>
                </div>
            </div>
            <table id="studentList" class="table table-bordered">
                <thead>
                    <tr>
                        <th>Student Name</th>
                        <th>Class</th>
                        <th>Mobile</th>
                        <th>Email</th>
                        <th>Show</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        ng-repeat="item in studentList=studentListDetails| filter:search|startFrom:(currentPageStudentList-1)*itemsPerPageStudentList | limitTo:itemsPerPageStudentList">
                        <td>{{item.firstName+" "+item.lastName}}</td>
                        <td>{{item.studentClass}}</td>
                        <td>{{item.mobile}}</td>
                        <td>{{item.email}}</td>
                        <td><a ui-sref="chalkanddust.studentdetails({id: item.securUuid})" title="View"> <i
                                class="glyphicon glyphicon-eye-open" aria-hidden="true"></i>
                        </a></td>
                        <td><a type="button" ng-click="adminCtrl.deleteStudent(item.securUuid)" title="Delete"> <i
                                class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                        </a> <a type="button" ng-click="adminCtrl.resetPassword(item.securUuid)" title="Reset Password"> <i
                                class="glyphicon glyphicon-lock" aria-hidden="true"></i>
                        </a></td>
                    </tr>
                </tbody>
            </table>
            <div class="number_scroll">
                <div class="num_s">
                    <uib-pagination total-items="$parent.totalItemsstudentList" ng-change="getData()" ng-model="$parent.currentPageStudentList"
                        max-size="$parent.maxSizeStudentList" items-per-page="$parent.itemsPerPageStudentList" boundary-link-numbers="true"></uib-pagination>
                </div>
            </div>
        </div>

    </div>
</div>