<style>
.main_bg_bg{
background-image: none;
background-size: 100%;
    width: 0%;
    height: 1000px;
    top: 0;
    z-index: 0;
    position: fixed;
}


</style>
<script src="./resources/js/prefixfree.min.js"></script>
<div id="userDetailsOnAdminPage">
<h1>STUDENTS DETAILS</h1>
<button type="button" style="width: 100px;height:50px;float:right;text-align: center;"class="btn btn-secondary btn-block" id="back" ng-click="adminCtrl.goBackToAdminHomePage()" >Go Back</button>
<main>
  <input id="tab1" type="radio" name="tabs" checked>
  <label for="tab1">General Details</label>
  <input id="tab2" type="radio" name="tabs">
  <label for="tab2">Academic Details</label>
  <input id="tab3" type="radio" name="tabs">
  <label for="tab3">Parents Details</label>
  
  <!--  <input id="tab4" type="radio" name="tabs">
  <label for="tab4">Drupal</label>-->
  
  <section id="content1">
    <table width="100%">
      <tr>
        <td width="200px">Username</td>
        <td>{{userInfoToShow.userName}}<span class="empty" ng-show="!userInfoToShow.userName">N/A</span></td>
      </tr>
      <tr>
        <td>First Name</td>
        <td>{{userInfoToShow.firstName}}<span class="empty" ng-show="!userInfoToShow.firstName">N/A</span></td>
      </tr>
      <tr>
        <td>Middle Name</td>
        <td>{{userInfoToShow.middleName}}<span class="empty" ng-show="!userInfoToShow.middleName">N/A</span></td>
      </tr>
      <tr>
        <td>Last Name</td>
        <td>{{userInfoToShow.lastName}}<span class="empty" ng-show="!userInfoToShow.lastName">N/A</span></td>
      </tr>
      <tr>
        <td>Address</td>
        <td>{{userInfoToShow.address}}<span class="empty" ng-show="!userInfoToShow.address">N/A</span></td>
      </tr>
      <tr>
        <td>City</td>
        <td>{{userInfoToShow.city}}<span class="empty" ng-show="!userInfoToShow.city">N/A</span></td>
      </tr>
      <tr>
        <td>State</td>
        <td>{{userInfoToShow.state}}<span class="empty" ng-show="!userInfoToShow.state">N/A</span></td>
      </tr>
      <tr>
        <td>Country</td>
        <td>{{userInfoToShow.country}}<span class="empty" ng-show="!userInfoToShow.country">N/A</span></td>
      </tr>
      <tr>
        <td>Pincode</td>
        <td>{{userInfoToShow.pincode}}<span class="empty" ng-show="!userInfoToShow.pincode">N/A</span></td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{userInfoToShow.email}}<span class="empty" ng-show="!userInfoToShow.email">N/A</span></td>
      </tr>
      <tr>
        <td>Mobile</td>
        <td>{{userInfoToShow.mobile}}<span class="empty" ng-show="!userInfoToShow.mobile">N/A</span></td>
      </tr>
      <tr>
        <td>Landline</td>
        <td>{{userInfoToShow.landline}}<span class="empty" ng-show="!userInfoToShow.landline">N/A</span></td>
      </tr>
      <tr>
        <td>Correspondence Address</td>
        <td>{{userInfoToShow.correspondenceAddress}}<span class="empty" ng-show="!userInfoToShow.correspondenceAddress">N/A</span></td>
      </tr>
    </table>
  </section>
  <section id="content2">
    <table width="100%">
      <tr>
        <td width="200px">Class Name</td>
        <td>{{academicInfoToShow.studentClassName}}<span class="empty" ng-show="!academicInfoToShow.studentClassName">N/A</span></td>
      </tr>
      <tr>
        <td>Subjects</td>
        <td>{{studentSubjectsToShow}}<span class="empty" ng-show="!studentSubjectsToShow">N/A</span></td>
      </tr>
      <tr>
        <td>Percentage</td>
        <td>{{academicInfoToShow.percentage}}</td>
      </tr>
      <tr>
        <td>Previous School</td>
        <td>{{academicInfoToShow.previousSchool}}<span class="empty" ng-show="!academicInfoToShow.previousSchool">N/A</span></td>
      </tr>
      
    </table>
  </section>
  <section id="content3">
    <table width="100%">
      <tr>
        <td width="200px">Father Name</td>
        <td>{{parentsInfoToShow.fatherName}}<span class="empty" ng-show="!parentsInfoToShow.fatherName">N/A</span></td>
      </tr>
      <tr>
        <td>Father Email</td>
        <td>{{parentsInfoToShow.fatherEmail}}<span class="empty" ng-show="!parentsInfoToShow.fatherEmail">N/A</span></td>
      </tr>
      <tr>
        <td>Father Mobile</td>
        <td>{{parentsInfoToShow.fatherMobile}}<span class="empty" ng-show="!parentsInfoToShow.fatherMobile">N/A</span></td>
      </tr>
      <tr>
        <td>Father Office Address</td>
        <td>{{parentsInfoToShow.fatherOfficeAddress}}<span class="empty" ng-show="!parentsInfoToShow.fatherOfficeAddress">N/A</span></td>
      </tr>
      <tr>
        <td>Father Occupation</td>
        <td>{{parentsInfoToShow.fatherOccupation}}<span class="empty" ng-show="!parentsInfoToShow.fatherOccupation">N/A</span></td>
      </tr>
      <tr>
        <td>Mother Name</td>
        <td>{{parentsInfoToShow.motherName}}<span class="empty" ng-show="!parentsInfoToShow.motherName">N/A</span></td>
      </tr>
      <tr>
        <td>Mother Email</td>
        <td>{{parentsInfoToShow.motherEmail}}<span class="empty" ng-show="!parentsInfoToShow.motherEmail">N/A</span></td>
      </tr>
      <tr>
        <td>Mother Mobile</td>
        <td>{{parentsInfoToShow.motherMobile}}<span class="empty" ng-show="!parentsInfoToShow.motherMobile">N/A</span></td>
      </tr>
      <tr>
        <td>Mother Office Address</td>
        <td>{{parentsInfoToShow.motherOfficeAddress}}<span class="empty" ng-show="!parentsInfoToShow.motherOfficeAddress">N/A</span></td>
      </tr>
      <tr>
        <td>Mother Occupation</td>
        <td>{{parentsInfoToShow.motherOccupation}}<span class="empty" ng-show="!parentsInfoToShow.motherOccupation">N/A</span></td>
      </tr>
      
    </table>
  </section>
  
  <!--  <section id="content4">
    
  </section>--> 
  
</main>
</div>