<style>
.title_text {
	width: 70%;
	float: left;
}

.title_name {
	width: 30%;
	float: left;
}

.title_name {
	text-align: right;
	padding-right: 20px;
	padding-top: 25px;
}

.title_name_class {
	padding-top: 0px;
}

.title_name_sub {
	padding-top: 15px;
}

.title_text textarea {
	width: 100%;
	height: 100px;
	padding-bottom: 5px;
	border-radius: 5px;
	padding: 5px;
	color: #000;
	margin: 5px 0px;
	border: 1px solid #CCC;
}

.title_text select {
	width: 60%;
	height: 40px;
	padding-bottom: 5px;
	border-radius: 5px;
	padding: 5px;
	color: #000;
	margin: 5px 0px;
	border: 1px solid #CCC;
}

.title_text button a {
	color: #FFF;
	padding: 0px 40px;
}

.btn:focus, .btn:hover, a, a:focus, a:hover {
	text-decoration: none;
	outline: 0;
}

.title_text button {
	padding: 8px 0px;
	cursor: pointer;
	background: #2f889a;
	color: #FFF;
	width: 100%;
	border-radius: 5px;
	font-weight: bold;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

button, input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button.btn-block {
	display: inline;
	width: auto;
	background: #6AA3C9 none repeat scroll 0 0;
	color: white;
}

#testGroupList th:last-child, td:last-child {
	width: 10%;
}

#testGroupList th {
	color: #fff;
}

input {
	display: block;
}
</style>
<div class="span12" style="visibility: visible; animation-name: fadeInLeft;">
    <div class="row inner-grid">
        <div class="user_log_detail">
            <form name="testGroupListForm" role="form" action="" method="post" novalidate>
                <h3>Test Group List</h3>
                <uib-alert id="uibAlert" ng-show="alert.show" type="{{alert.type}}" close="closeAlert()">{{alert.message}}</uib-alert>
            </form>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">

        <div class="table-responsive ">
            <div class="number_scroll">

                <input ng-model="search" type="text" style="width: 40%" placeholder="Search test group" />
                <div class="num_s">
                    <uib-pagination total-items="$parent.totalItemstestGroupList" ng-change="getTestGroupListData()"
                        ng-model="$parent.currentPagetestGroupList" max-size="$parent.maxSizetestGroupList"
                        items-per-page="$parent.itemsPerPagetestGroupList" boundary-link-numbers="true"></uib-pagination>
                </div>
            </div>
            <table id="testGroupList" class="table table-bordered">
                <thead>
                    <tr>
                        <th>S.No.</th>
                        <th>Name</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        ng-repeat="item in testGroupAdminList=testGroupListDetails | filter:search|startFrom:(currentPagetestGroupList-1)*itemsPerPagetestGroupList | limitTo:itemsPerPagetestGroupList">
                        <td>{{$index+1}}</td>
                        <td>{{item.testGroupName}}</td>
                        <td><a type="button" ng-click="deleteTestGroup(item.testGroupUuid)" title="Delete"> <i
                                class="glyphicon glyphicon-trash" aria-hidden="true"></i>
                        </a></td>
                    </tr>
                </tbody>
            </table>
            <div class="number_scroll">
                <div class="num_s">
                    <uib-pagination total-items="$parent.totalItemstestGroupList" ng-change="getTestGroupListData()"
                        ng-model="$parent.currentPagetestGroupList" max-size="$parent.maxSizetestGroupList"
                        items-per-page="$parent.itemsPerPagetestGroupList" boundary-link-numbers="true"></uib-pagination>
                </div>
            </div>
        </div>

    </div>
</div>