<style>
.title_text {
	width: 70%;
	float: left;
}

.title_name {
	width: 30%;
	float: left;
}

.title_name {
	text-align: right;
	padding-right: 20px;
	padding-top: 25px;
}

.title_name_sub {
	padding-top: 25px;
}

.title_name_title {
	padding-top: 85px;
}

.title_name_des {
	padding-top: 88px;
}

.title_text textarea {
	width: 100%;
	height: 100px;
	padding-bottom: 5px;
	border-radius: 5px;
	padding: 5px;
	color: #000;
	margin: 5px 0px;
	border: 1px solid #CCC;
}

.title_text select {
	width: 60%;
	height: 40px;
	padding-bottom: 5px;
	border-radius: 5px;
	padding: 5px;
	color: #000;
	margin: 5px 0px;
	border: 1px solid #CCC;
}

.title_text button a {
	color: #FFF;
	padding: 0px 40px;
}

.btn:focus, .btn:hover, a, a:focus, a:hover {
	text-decoration: none;
	outline: 0;
}

.title_text button {
	padding: 8px 0px;
	cursor: pointer;
	background: #2f889a;
	color: #FFF;
	width: 100%;
	border-radius: 5px;
	font-weight: bold;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

button, input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

button.btn-block {
	display: inline;
	width: auto;
	background: #6AA3C9 none repeat scroll 0 0;
	color: white;
}

#topicList th:last-child, td:last-child {
	width: 10%;
}

#topicList th{
	color:#fff;
}
</style>
<div class="span12"
	style="visibility: visible; animation-name: fadeInLeft;">
	<div class="row inner-grid">
		<div class="user_log_detail">
			<h3>Student Topic Request List</h3>
		</div>
	</div>
</div>

<div class="container-fluid">
	<div class="row">

		<div class="table-responsive ">
		<div class="number_scroll">
    	
        <input ng-model="search" type="text" style="width: 40%" placeholder="Search topic" />
       <div class="num_s">
          <uib-pagination total-items="$parent.totalItemsTopicRequestList" ng-change="getTopicRequestData()" ng-model="$parent.currentPageTopicRequestList" max-size="$parent.maxSizeTopicRequestList" items-per-page="$parent.itemsPerPageTopicRequestList"  boundary-link-numbers="true"></uib-pagination>      
         </div>
    </div>
			<table id="topicList" class="table table-bordered">
				<thead>
					<tr>
						<th>Student Details</th>
						<th>Class</th>
						<th>Subject</th>
						<th>Topic Title</th>
						<th>Topic Description</th>
						<th>Action</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in topicRequestList=topicRequestListDetails | filter:search|startFrom:(currentPageTopicRequestList-1)*itemsPerPageTopicRequestList | limitTo:itemsPerPageTopicRequestList">
						<td>{{item.studentName}}<br>{{item.email}}<br>{{item.mobile}}</td>
						<td>{{item.studentClass}}</td>
						<td>{{item.subjectName}}</td>
						<td>{{item.topicTitle}}</td>
						<td>{{item.topicDescription}}</td>
						<td>
						<a ng-click="adminCtrl.approveTopicRequest(item.requestSecurUuid)"
                ng-show="item.approved != '1' "><span class="glyphicon glyphicon-ok"></span></a> <span
                ng-show="item.approved == '1'" class="glyphicon glyphicon-minus"></span>
						</td>
					</tr>
				</tbody>
			</table>
			<div class="number_scroll">     
         <div class="num_s">
          <uib-pagination total-items="$parent.totalItemsTopicRequestList" ng-change="getTopicRequestData()" ng-model="$parent.currentPageTopicRequestList" max-size="$parent.maxSizeTopicRequestList" items-per-page="$parent.itemsPerPageTopicRequestList"  boundary-link-numbers="true"></uib-pagination>      
         </div> 
    </div>
		</div>

	</div>
</div>