<style>
.title_text {
	width: 70%;
	float: left;
}

.title_name {
	width: 30%;
	float: left;
}

.title_name {
	text-align: right;
	padding-right: 20px;
	padding-top: 10px;
}

.title_name_class {
	padding-top: 0px;
}

.title_name_sub {
	padding-top: 20px;
}

.title_name_title {
	padding-top: 15px;
}

.title_name_des {
	padding-top: 80px;
}

.title_name_photo {
	padding-top: 56px;
}

.title_text textarea {
	width: 100%;
	height: 100px;
	padding-bottom: 5px;
	border-radius: 5px;
	padding: 5px;
	color: #000;
	margin: 5px 0px;
	border: 1px solid #CCC;
}

.title_text select {
	width: 60%;
	height: 40px;
	padding-bottom: 5px;
	border-radius: 5px;
	padding: 5px;
	color: #000;
	margin: 5px 0px;
	border: 1px solid #CCC;
}

.title_text button a {
	color: #FFF;
	padding: 0px 40px;
}

.btn:focus, .btn:hover, a, a:focus, a:hover {
	text-decoration: none;
	outline: 0;
}

.title_text button {
	padding: 8px 0px;
	cursor: pointer;
	background: #2f889a;
	color: #FFF;
	width: 100%;
	border-radius: 5px;
	font-weight: bold;
	border: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
}

button, input, select, textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}
</style>
<div class="col-xs-12 col-md-10 wow fadeInLeft" style="visibility: visible; animation-name: fadeInLeft;">
    <div class="row inner-grid">
        <div class="user_log_detail">
            <form name="videoMasterForm" role="form" action="" method="post" novalidate>
                <h3>Video Master</h3>
                <uib-alert id="uibAlert" ng-show="alert.show" type="{{alert.type}}" close="closeAlert()">{{alert.message}}</uib-alert>
                <div class="title_name">
                    <label class="title_name_class">Class</label><br> <label class="title_name_sub">Subject</label><br> <label
                        class="title_name_title">Video Title</label><br> <label class="title_name_des">Video Link</label><br /> <br />
                </div>
                <div class="title_text">
                    <div ng-if="isEmpty(videoDetails.videoUuid)" class="form-group"
                        ng-class="{ 'has-error' : videoMasterForm.studentClass.$invalid && !videoMasterForm.studentClass.$pristine }">
                        <select class="form-control" ng-model="videoDetails.classId" name="studentClass" placeholder="Class"
                            ng-options="studentclass.classId as studentclass.className for studentclass in classes" ng-required="true"
                            ng-change="showSubjectsList(videoDetails.classId)">
                            <option value="" disabled>Select Class</option>
                        </select>
                        <p ng-show="videoMasterForm.studentClass.$error.required && !videoMasterForm.studentClass.$pristine">Class is required.</p>
                    </div>
                    <div ng-if="!isEmpty(videoDetails.videoUuid)" class="form-group"
                        ng-class="{ 'has-error' : videoMasterForm.studentClass.$invalid && !videoMasterForm.studentClass.$pristine }">
                        <select class="form-control" ng-model="videoDetails.classId" disabled="true" name="studentClass" placeholder="Class"
                            ng-options="studentclass.classId as studentclass.className for studentclass in classes" ng-required="true"
                            ng-change="showSubjectsList(videoDetails.classId)">
                            <option value="" disabled>Select Class</option>
                        </select>
                        <p ng-show="videoMasterForm.studentClass.$error.required && !videoMasterForm.studentClass.$pristine">Class is required.</p>
                    </div>
                    <div ng-if="isEmpty(videoDetails.videoUuid)" class="form-group">
                        <select class="form-control" ng-model="videoDetails.subjectId" name="studentSubject" placeholder="Subject"
                            ng-options="studentSubject.subjectId as studentSubject.subjectName for studentSubject in subjectsList" ng-required="true">
                            <option value="" disabled>Select Subject</option>
                        </select>
                        <p ng-show="videoMasterForm.studentSubject.$error.required && !videoMasterForm.studentSubject.$pristine">Subject is
                            required.</p>
                    </div>
                    <div ng-if="!isEmpty(videoDetails.videoUuid)" class="form-group"
                        ng-class="{ 'has-error' : videoMasterForm.studentSubject.$invalid && !videoMasterForm.studentSubject.$pristine }">
                        <select class="form-control" ng-model="videoDetails.subjectId" disabled="true" name="studentSubject" placeholder="Subject"
                            ng-options="studentSubject.subjectId as studentSubject.subjectName for studentSubject in subjectsList" ng-required="true">
                            <option value="" disabled>Select Subject</option>
                        </select>
                        <p ng-show="videoMasterForm.studentSubject.$error.required && !videoMasterForm.studentSubject.$pristine">Subject is
                            required.</p>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : videoMasterForm.videoTitle.$invalid && !videoMasterForm.videoTitle.$pristine }">
                        <textarea class="form-control" id="videoTitle" name="videoTitle" ng-model="videoDetails.videoTitle" type="text"
                            placeholder="Video Title" required></textarea>
                        <span style="color: red" class="help-block"
                            ng-show="videoMasterForm.videoTitle.$invalid  && !videoMasterForm.videoTitle.$pristine"> <span
                            ng-show="videoMasterForm.videoTitle.$error.required">Video Title is required.</span>
                        </span>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : videoMasterForm.videoLink.$invalid && !videoMasterForm.videoLink.$pristine }">
                        <textarea class="form-control" id="videoLink" name="videoLink" ng-model="videoDetails.videoLink" type="text"
                            placeholder="Video Link" required></textarea>
                        <span style="color: red" class="help-block"
                            ng-show="videoMasterForm.videoLink.$invalid  && !videoMasterForm.videoLink.$pristine"> <span
                            ng-show="videoMasterForm.videoLink.$error.required">Video Link is required.</span>
                        </span>
                    </div>

                    <div ng-if="isEmpty(videoDetails.videoUuid)" class="form-group">
                        <button type="button" class="btn btn-secondary btn-block" ng-disabled="videoMasterForm.$invalid"
                            ng-click="adminCtrl.createVideoData()">Submit</button>
                    </div>
                    <div ng-if="!isEmpty(videoDetails.videoUuid)" class="form-group">
                        <button type="button" class="btn btn-secondary btn-block" ng-disabled="videoMasterForm.$invalid"
                            ng-click="adminCtrl.updatevideoData()">Update</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>