<section class="container-fluid" id="main-section">
	<div id="home">
		<alert ng-show="alert.show" type="{{alert.type}}" close="closeAlert()">{{alert.message}}</alert>
		<div id="editMode" ng-class="{'workspace-center': editWorkspace }">
			<div class="row">
				<div class="col-xs-12 col-md-3">
					<div class="row">
						<div class="col-xs-6">
							<div class="ex-block">
								<a href=""> <i
									class="propcoicon propcoicon-reports text-sixth icon-extra-large"></i>
									<p>{{"dashboard.reports" |translate}}</p>
								</a>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="ex-block">
								<i
									class="propcoicon propcoicon-workflow text-sixth icon-extra-large"></i>
								<p>{{"dashboard.workflow" |translate}}</p>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="ex-block">
								<i
									class="propcoicon propcoicon-email text-sixth icon-extra-large"></i>
								<p>{{"dashboard.email" |translate}}</p>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="ex-block">
								<i
									class="propcoicon propcoicon-diary text-sixth icon-extra-large"></i>
								<p>{{"dashboard.diary" |translate}}</p>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="ex-block">
								<i
									class="propcoicon propcoicon-mail-merge text-sixth icon-extra-large"></i>
								<p>{{"dashboard.mailMerge" |translate}}</p>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="ex-block">
								<i
									class="propcoicon propcoicon-message-centre text-sixth icon-extra-large"></i>
								<p>{{"dashboard.msgCenter" |translate}}</p>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="ex-block">
								<i
									class="propcoicon propcoicon-task-manager text-sixth icon-extra-large"></i>
								<p>{{"dashboard.taskMgr" |translate}}</p>
							</div>
						</div>
						<div class="col-xs-6">
							<div class="ex-block">
								<i
									class="propcoicon propcoicon-document-manager text-sixth icon-extra-large"></i>
								<p>{{"dashboard.docMgr" |translate}}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-3">
					<div class="row">
						<div class="col-xs-6" ng-repeat="icon in iconsListColumnOne">
							<div class="ex-block removeItem" data-drop="true"
								ng-model="iconsListColumnOne" jqyoui-droppable>
								<i
									class="propcoicon propcoicon-cancel text-sixth icon-small pull-right"
									ng-click="remove($index,'columnOne')" ng-show="editWorkspace"></i>
								<div data-drag="true" ng-model="iconsListColumnOne"
									data-jqyoui-options="{revert: 'invalid',  helper: 'clone'}">
									<i class="propcoicon text-secondary icon-extra-large"
										ng-class="icon.icon"></i>
									<p>{{icon.name}}</p>
								</div>
								
							</div>
						</div>
						<div class="col-xs-6"
							ng-repeat="n in [] | range: 8 - iconsListColumnOne.length">
							<div class="ex-block removeItem" data-drop="true"
								ng-model="bookmarkedItemsColumnOne" jqyoui-droppable
								ng-show="editWorkspace">
								<i
									class="propcoicon propcoicon-cancel text-sixth icon-small pull-right"
									ng-click="remove($index, 'columnTwo')"
									ng-show="bookmarkedItemsColumnOne[$index]"></i>
								<div data-drag="true" ng-model="bookmarkedItemsColumnOne"
									data-jqyoui-options="{revert: 'invalid',  helper: 'clone'}">
									<i class="propcoicon text-secondary icon-extra-large"
										ng-class="bookmarkedItemsColumnOne[$index].icon"></i>
									<p>{{bookmarkedItemsColumnOne[$index].name}}</p>
								</div>
								
							</div>
						</div>
					</div>
				</div>
				<div class="col-xs-12 col-md-3">
					<div class="row">
						<div class="col-xs-6" ng-repeat="icon in iconsListColumnTwo ">
							<div class="ex-block removeItem" data-drop="true"
								ng-model="iconsListColumnTwo" jqyoui-droppable>
								<i
									class="propcoicon propcoicon-cancel text-sixth icon-small pull-right"
									ng-click="remove($index, 'columnThree')" ng-show="editWorkspace"></i>
								<div data-drag="true" ng-model="iconsListColumnTwo[$index]"
									data-jqyoui-options="{revert: 'invalid',  helper: 'clone'}">
									<i class="propcoicon text-twentyfirst  icon-extra-large"
										ng-class="icon.icon"></i>
									<p>{{icon.name}}</p>
								</div>
								
							</div>
						</div>
						<div class="col-xs-6"
							ng-repeat="n in [] | range: 8 - iconsListColumnTwo.length">
							<div class="ex-block removeItem" data-drop="true"
								ng-model=bookmarkedItemsColumnTwo jqyoui-droppable
								ng-show="editWorkspace">
								<i
									class="propcoicon propcoicon-cancel text-sixth icon-small pull-right"
									ng-click="remove($index,'columnFour')"
									ng-show="bookmarkedItemsColumnTwo[$index]"></i>
								<div data-drag="true" ng-model="bookmarkedItemsColumnTwo[$index]"
									data-jqyoui-options="{revert: 'invalid',  helper: 'clone'}">
									<i class="propcoicon text-twentyfirst  icon-extra-large"
										ng-class="bookmarkedItemsColumnTwo[$index].icon"></i>
									<p>{{bookmarkedItemsColumnTwo[$index].name}}</p>
								</div>
								
							</div>
						</div>
					</div>
				</div>

				<div class="col-xs-12 col-md-3 ">
					<div class="pull-right" ng-show="!editWorkspace">
						<button class="btn btn-fourth" id="editBtn"
							ng-click="dashboardCtrl.showEditScreen()"> {{"dashboard.editBtn" |
							translate}}</button>
					</div>
					<div class="pull-right" ng-show="editWorkspace" id="editWorkspaceIcons">
						<i class="propcoicon propcoicon-cancel text-sixth icon-mid "
							ng-click="dashboardCtrl.disableEditScreen()"></i> <i
							class="propcoicon propcoicon-circled-tick  text-secondary icon-mid"
							ng-click="dashboardCtrl.saveDashboard()"></i>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
