<link href="../../../resources/css/dashboardpage/hoe.css" rel="stylesheet">
<body hoe-navigation-type="vertical" hoe-nav-placement="left" theme-layout="wide-layout" theme-bg="bg1">
    <div id="hoeapp-wrapper" class="hoe-hide-lpanel" hoe-device-type="desktop">
        <header id="hoe-header" hoe-lpanel-effect="shrink">
            <div class="hoe-left-header">
                <a ui-sref="chalkanddust.home" href="javascript:void(0);"><i class="fa fa-graduation-cap"></i> <span>Chalk & Dust</span></a> <span
                    class="hoe-sidebar-toggle"><a href="#"></a></span>
            </div>
            <div class="hoe-right-header" hoe-position-type="relative">
                <!--                 <span class="hoe-sidebar-toggle"><a href="#"></a></span> -->
                <ul class="left-navbar">
                    <li>
                        <form method="post" class="hoe-searchbar">
                            <h4>
                                <a ui-sref="chalkanddust.profile" href="javascript:void(0);">Dashboard</a>
                            </h4>
                        </form>
                    </li>
                </ul>
                <ul class="right-navbar">
                    <!-- <li><a href="#" ng-show="fullName"><i class="fa fa-user"></i>{{fullName}} </a></li>
                	<li><a ui-sref="chalkanddust.student">My Profile</a></li>
                	<li><a ui-sref="chalkanddust.logout">Log Out</a></li> -->
                    <li class="dropdown hoe-rheader-submenu hoe-header-profile"><a href="javascript:void(0)" class="dropdown-toggle"
                        data-toggle="dropdown"> <span ng-show="isUndefined(userProfilePhoto)"><img src="../resources/images/user.png"
                                alt="no image"></span> <span ng-show="!isUndefined(userProfilePhoto)"><img class="img-circle "
                                ng-src="{{userProfilePhoto}}" alt="Profile Photo"></span> <span><b>{{fullName}}</b> <i class=" fa fa-angle-down"></i></span>
                    </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a ui-sref="chalkanddust.student"><i class="fa fa-user"></i>My Profile</a></li>
                            <li><a ui-sref="chalkanddust.logout"><i class="fa fa-power-off"></i>Logout</a></li>
                        </ul></li>
                </ul>
            </div>
        </header>
        <div id="hoeapp-container" hoe-color-type="lpanel-bg2" hoe-lpanel-effect="shrink">
            <section id="main-content">
                <div class="inner-content">
                    <div class="col-md-9 column t_instruction t_one">
                        <h3>Online Test</h3>
                        <article>
                            <h4>
                                </>Time Remaining <i class="fa fa-times"></i> 02:30 h
                            </h4>
                        </article>
                    </div>
                    <div class="col-md-9 column t_instruction_ans">
                        <div ng-repeat="itemButton in btnList">
                            <button type="button" class="btn btn-secondary" style="float: left; margin-left: 10px; margin-top: 20px;"
                                ng-click="changeQuestion(itemButton.id)">{{itemButton.index}}</button>
                        </div>
                        <!--                         <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" items-per-page="itemsPerPage" -->
                        <!--                             boundary-link-numbers="true"></uib-pagination> -->
                    </div>
                    <div class="col-md-9 column t_instruction_ans">
                        <br />
                        <div style="margin-left: 30px; font-size: 20px;">
                            <p>{{item.question}}</p>
                            <div class="col-md-12 column answer_label">
                                <div ng-if="item.SelectedOption.optionA=='true'">
                                    <label><input name="{{item.questionSecuruuid}}" type="checkbox" ng-model="SelectedOption.optionA" selected="true">
                                        &nbsp;&nbsp;{{item.optionA}}</label>
                                </div>
                                <div ng-if="item.SelectedOption.optionA==='undefined'">
                                    <label><input name="{{item.questionSecuruuid}}" type="checkbox" ng-model="SelectedOption.optionA">
                                        &nbsp;&nbsp;{{item.optionA}}</label>
                                </div>
                                <div class="clearfix"></div>
                                <label><input name="{{item.questionSecuruuid}}" type="checkbox" ng-model="SelectedOption.optionB">
                                    &nbsp;&nbsp;{{item.optionB}}</label>
                                <div class="clearfix"></div>
                                <label><input name="{{item.questionSecuruuid}}" type="checkbox" ng-model="SelectedOption.optionC">
                                    &nbsp;&nbsp;{{item.optionC}}</label>
                                <div class="clearfix"></div>
                                <label><input name="{{item.questionSecuruuid}}" type="checkbox" ng-model="SelectedOption.optionD">
                                    &nbsp;&nbsp;{{item.optionD}}</label> <br> <br> <br> <br> <br>.
                            </div>
                        </div>
                        <div class="col-md-9 column t_instruction_ans t_one test_b_mark">
                            <button type="button" class="btn btn-secondary" style="float: left; margin-left: 40px; margin-top: 20px;"
                                ng-click="submitAnswer(item.questionSecuruuid,SelectedOption)">Submit Answer</button>
                        </div>
                    </div>
                    <div class="col-md-9 column t_instruction t_one test_next">
                        <p>
                            <a href="#">Exit Exam</a>
                        </p>
                        <article>
                            <a href="#">Next <i class="fa fa-arrow-circle-o-right"></i></a>
                        </article>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="../../../../resources/js/1.11.2.jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../../../../resources/js/bootstrap.min.js"></script>
    <script src="../../../../resources/js/hoe.js"></script>
</body>
