@import url(https://fonts.googleapis.com/css?family=Open+Sans);
*{margin:0px; padding:0px;}
.dr_com_main{
	width:100%;
	height:auto;
	margin:0 auto;
	font-family: 'Open Sans', sans-serif;
	background:#edeff1;
}
.main_border{
	border:1px solid #c3dbf2;
}
.dr_com_head{
	width:100%;
	margin:0 auto;
	height:40px;
	background:#3f4868;
	color:#fff;
}
.dr_heading{
	width:80%;
	margin:0 auto;
	height:80px;
}
.dr_heading ul{
	float:left;
	list-style:none;
	float:left;
	height:80px;
}
.dr_heading ul li{
	float:left;
	
}
.dr_heading ul li a{
	text-decoration:none;
	font-size:14px;
	color:#FFF;
	display:block;
	padding:0px 10px;
	line-height:40px;
	font-family:Roboto;
	transition:0.5s;
}
.dr_heading ul li a:hover{
	display:block;
	background:#666;
	transition:0.5s;
	color:#000;
}
.dr_search{
	float:right;
	width:23%;
	height:40px;
	line-height:40px;
}
.dr_search input{
	width:100%;
	height:28px;
	background-color:#fff;
	border-radius:5px;
	border:1px solid #999;
	paddig:3px;
	margin:4px;
	padding-left:30px;
	background-image:url(../../images/icons/question.png);
	background-size:12%;
	cursor:pointer;
	background-position:left;
	background-repeat:no-repeat;
}
.dr_main_detail{
	width:80%;
	margin:0 auto;
	height:auto;
}
.dr_subject{
	width:23%;
	float:left;
	height:auto;
}

.dr_sub_com{
	width:50%;
	float:left;
	min-height:100px;
	max-height:auto;
	margin:0px 18px;
}
.dr_events{
	width:23%;
	float:left;
	max-height:auto;

}
.clear{
	clear:both;
}
.dr_subject h4{
	display:block;
	background:#9CF;
	line-height:35px;
	color:#000;
	text-decoration:none;
	list-style:none;
	margin-top:0px !important;
	margin-bottom:0px !important;
	padding-left:15px;
}
.dr_subject ul{
	list-style:none;
}
.dr_subject ul li{
	float:none;
}
.dr_subject ul li a{
	font-size:14px;
	line-height:30px;
	border-bottom:1px solid #c3dbf2;
	display:block;
	background:#FFF;
	border:1px solid #c3dbf2;
	transition:0.5s;
	padding-left:15px;
	text-decoration:none;
	color:#000;
}
.dr_subject ul li a i{
	float:right;
	position:relative;
	padding-right:20px;
	font-family:'FontAwesome';
	color:#CCC;
}
.dr_subject ul li a:hover{
	font-size:14px;
	line-height:30px;
	border-bottom:1px solid #c3dbf2;
	display:block;
	background:#9CF;
	transition:0.5s;
	padding-left:15px;
	text-decoration:none;
	color:#000;
}
.dr_bg img{
	width:100%;
}
.dr_bg_img_sub{
	width:100%;
	border:1px solid #c3dbf2;
	margin-bottom:15px;
}
.dr_main_bg{
	background:#FFF;
}
.dr_subject_dis{
	border-top:1px solid #c3dbf2;
	border-bottom:1px solid #c3dbf2;
}
.dr_icon_list{
	width:90%;
	margin:0 auto;
	height:5px;
}
.dr_icon_list span{
	float:left;
	width:20%;
	margin-top:5px;
	font-size:12px;
	padding:3px;
}
.dr_icon_list span i{
	font-family:'FontAwesome';
	padding-right:10px;
}
.dr_dis_head{
	width:100%;
	margin-bottom:5px;
	border-bottom:2px solid #CCC;
	height:30px;
}
.dr_dis_head ul{
	list-style:none;
}
.dr_dis_head ul li{
	float:left;
}
ul li a{
	text-decoration:none;
}
.dr_dis_head ul li a{
	line-height:18px;
	padding-right:20px;
	font-size:14px;
	color:#000;
}
.glyphicon{
	padding-right:2px !important;
}
.dr_bg_img_sub h3, p{
	padding:10px;
	line-height:25px;
}
.dr_events{
	background:#fff;
	border:1px solid #99ccff;
}
.dr_notification h3{
	margin:0px 0px;
	padding:5px 10px;
	display:block;
	background:#99ccff;
}
.dr_notification span{
	width:100%;
	background:#fff;
	height:150px;
	overflow:hidden;
}
.dr_notification span ul{
	list-style:none;
}
.dr_notification span ul li{
	float:none;
	line-height:30px;
	border-bottom:2px solid #CCC;
	padding:0px 10px;
}
.dr_bg_img_sub textarea{
	width:98%;
	height:80px;
	padding:5px;
	margin:5px;
	border-radius:10px;
	border:1px solid #CCC;
}
.dr_stud_img img{
	width:100%;
}
.dr_stud_img{
	width:60px;
	height:60px;
	float:left;
	padding:10px;
}
.dr_student_com{
	width:100%;
	margin:5px auto;
}
.dr_student_com h5{
	padding-top:10px;
	margin:0px;
}
.dr_student_com p{
	padding-top:1px;
	margin:0px;
}
.dr_update{
	height:100%;
}
.dr_update h5{
	margin:0px 0px;
}
.dr_update{padding:5px;
}
.com_bg{background:#f3f6f9;
}
.dr_new_entery{
	width: 75%;
	margin: 0 auto;
	min-height: 100px;
	max-height: auto;
	margin-bottom: 40px;
	border: 2px solid #9CF;
	background-color: #FFFFFF;
}
.footer_head h4{
	margin:0px;
	color:#e0e4cc;
	text-align:center;
	line-height:40px;
	font-size:16px;
}
.footer_head a{
	color:#e0e4cc;
	transition:0.5s;
}
.footer_head a:hover{
	color:#C60;
	transition:0.5s;
}
.dr_new_entery h3{
	border-bottom: 1px dotted #9CF;
	padding-bottom: 5px;
	padding-left: 40px;
	padding-top: 20px;
	font-family: Roboto;
}
.dr_new_entery table{
	width:80%;
	margin:0 auto;
	margin-bottom:40px;
	margin-top:40px;
}
.dr_new_entery table td select{
	width:400px;
	float:left;
	margin:10px 10px;
	alignment-adjust:baseline;
	text-align:left;
	height:35px;
	line-height:30px;
	padding:5px;
	border:1px solid #666;
	background-color:transparent;
	border-radius:5px;
}

.end_text{
	text-align:end;
	text-align-last:end;
}
.right_one{
	text-align:right;
}
.sub_size input{
	width:200px !important;
}
.dr_new_entery table td button {
  border:0;
  outline:none;
  border-radius:0;
  padding:7px 20px;
  font-size:1.5rem;
  margin:0px 10px;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:#9CF;
  border:2px solid #09F;
  color:white;
  transition:all.5s ease;
  -webkit-appearance: none;
}
.dr_new_entery table td button:hover{
    background:#666;
	color:#fff;
	transition:0.5s;
  }

.dr_new_entery table td textarea {
 width:400px;
	float:left;
	margin:10px 10px;
	alignment-adjust:baseline;
	text-align:left;
	height:35px;
	min-height:70px;
	max-height:100%;
	line-height:30px;
	padding:5px;
	border:1px solid #666;
	background-color:transparent;
	border-radius:5px;
}
.dr_new_entery table td input {
	float:left;
	margin:10px 10px;
	alignment-adjust:baseline;
	text-align:left;
	height:35px;
	min-height:30px;
	line-height:30px;
	padding:5px;
	background-color:transparent;
	border-radius:5px;
}
@media only screen and (max-width: 768px){
.dr_heading {
    width: 90%;
    margin: 0 auto;
    height: 80px;
}
.dr_heading ul li a{
	font-size:12px;
}
.dr_search {
    float: right;
    width:38%;
    height: 20px;
	font-size:8px;
    line-height: 40px;
}
.dr_new_entery table{
	width:80%;
	margin:0 auto;
	margin-bottom:40px;
	margin-top:40px;
}
.dr_new_entery table td select{
	width:60%;
	float:left;
	margin:10px 10px;
	alignment-adjust:baseline;
	text-align:left;
	height:35px;
	line-height:30px;
	padding:5px;
	border:1px solid #666;
	background-color:transparent;
	border-radius:5px;
}

.end_text{
	text-align:end;
	text-align-last:end;
}
.right_one{
	text-align:right;
}
.sub_size input{
	width:200px !important;
}
.dr_new_entery table td button {
  border:0;
  outline:none;
  border-radius:0;
  padding:5px 15px;
  font-size:1.5rem;
  margin:10px 10px;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:#9CF;
  border:2px solid #09F;
  color:white;
  transition:all.5s ease;
  -webkit-appearance: none;
}
.dr_new_entery table td button:hover{
    background:#666;
	color:#fff;
	transition:0.5s;
  }

.dr_new_entery table td textarea {
 width:80%;
	float:left;
	margin:10px 10px;
	alignment-adjust:baseline;
	text-align:left;
	height:35px;
	min-height:70px;
	max-height:100%;
	line-height:30px;
	padding:5px;
	border:1px solid #666;
	background-color:transparent;
	border-radius:5px;
}
.dr_new_entery table td input {
	float:left;
	margin:10px 10px;
	alignment-adjust:baseline;
	text-align:left;
	height:35px;
	min-height:30px;
	line-height:30px;
	padding:5px;
	background-color:transparent;
	border-radius:5px;
}
.footer_head h4 {
    margin: 0px;
    color: #e0e4cc;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
}
}
@media (min-width: 768px) and (max-width: 1024px){
.dr_heading {
    width: 90%;
    margin: 0 auto;
    height: 80px;
}
.dr_heading ul li a{
	font-size:12px;
}
.dr_search {
    float: right;
    width:28%;
    height: 20px;
	font-size:8px;
    line-height: 40px;
}
.dr_new_entery table{
	width:80%;
	margin:0 auto;
	margin-bottom:40px;
	margin-top:40px;
}
.dr_new_entery table td select{
	width:60%;
	float:left;
	margin:10px 10px;
	alignment-adjust:baseline;
	text-align:left;
	height:35px;
	line-height:30px;
	padding:5px;
	border:1px solid #666;
	background-color:transparent;
	border-radius:5px;
}
.dr_new_entery table td button {
  border:0;
  outline:none;
  border-radius:0;
  padding:5px 15px;
  font-size:1.5rem;
  margin:10px 10px;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:#9CF;
  border:2px solid #09F;
  color:white;
  transition:all.5s ease;
  -webkit-appearance: none;
}
.dr_new_entery table td textarea {
 width:80%;
	float:left;
	margin:10px 10px;
	alignment-adjust:baseline;
	text-align:left;
	height:35px;
	min-height:70px;
	max-height:100%;
	line-height:30px;
	padding:5px;
	border:1px solid #666;
	background-color:transparent;
	border-radius:5px;
}
.dr_new_entery table td input {
	float:left;
	margin:10px 10px;
	alignment-adjust:baseline;
	text-align:left;
	height:35px;
	min-height:30px;
	line-height:30px;
	padding:5px;
	background-color:transparent;
	border-radius:5px;
}
.footer_head h4 {
    margin: 0px;
    color: #e0e4cc;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
}
}
@media (min-width: 920px) and (max-width: 1280px) {
.dr_heading {
    width: 90%;
    margin: 0 auto;
    height: 80px;
}
.dr_heading ul li a{
	font-size:12px;
}
.dr_search {
    float: right;
    width:15%;
    height: 20px;
	font-size:8px;
    line-height: 40px;
}
.dr_new_entery table{
	width:80%;
	margin:0 auto;
	margin-bottom:40px;
	margin-top:40px;
}
.dr_new_entery table td select{
	width:60%;
	float:left;
	margin:10px 10px;
	alignment-adjust:baseline;
	text-align:left;
	height:35px;
	line-height:30px;
	padding:5px;
	border:1px solid #666;
	background-color:transparent;
	border-radius:5px;
}
.dr_new_entery table td button {
  border:0;
  outline:none;
  border-radius:0;
  padding:5px 15px;
  font-size:1.5rem;
  margin:10px 10px;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:#9CF;
  border:2px solid #09F;
  color:white;
  transition:all.5s ease;
  -webkit-appearance: none;
}
.dr_new_entery table td textarea {
 width:80%;
	float:left;
	margin:10px 10px;
	alignment-adjust:baseline;
	text-align:left;
	height:35px;
	min-height:70px;
	max-height:100%;
	line-height:30px;
	padding:5px;
	border:1px solid #666;
	background-color:transparent;
	border-radius:5px;
}
.dr_new_entery table td input {
	float:left;
	margin:10px 10px;
	alignment-adjust:baseline;
	text-align:left;
	height:35px;
	min-height:30px;
	line-height:30px;
	padding:5px;
	background-color:transparent;
	border-radius:5px;
}
.footer_head h4 {
    margin: 0px;
    color: #e0e4cc;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
}
.dr_subject {
    width: 23%;
    float: left;
    height: auto;
}
.dr_sub_com {
    width: 48%;
    float: left;
    min-height: 100px;
    max-height: auto;
    margin: 0px 18px;
}
.dr_events {
    width: 23%;
    float: left;
    max-height: auto;
}
.dr_main_detail {
    width: 80%;
    margin: 0 auto;
    height: auto;
}
}
@media (min-width: 800px) and (max-width: 1280px) {
.dr_heading {
    width: 90%;
    margin: 0 auto;
    height: 80px;
}
.dr_heading ul li a{
	font-size:12px;
}
.dr_search {
    float: right;
    width:25%;
    height: 20px;
	font-size:8px;
    line-height: 40px;
}
.dr_new_entery table{
	width:80%;
	margin:0 auto;
	margin-bottom:40px;
	margin-top:40px;
}
.dr_new_entery table td select{
	width:60%;
	float:left;
	margin:10px 10px;
	alignment-adjust:baseline;
	text-align:left;
	height:35px;
	line-height:30px;
	padding:5px;
	border:1px solid #666;
	background-color:transparent;
	border-radius:5px;
}
.dr_new_entery table td button {
  border:0;
  outline:none;
  border-radius:0;
  padding:5px 15px;
  font-size:1.5rem;
  margin:10px 10px;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:#9CF;
  border:2px solid #09F;
  color:white;
  transition:all.5s ease;
  -webkit-appearance: none;
}
.dr_new_entery table td textarea {
 width:80%;
	float:left;
	margin:10px 10px;
	alignment-adjust:baseline;
	text-align:left;
	height:35px;
	min-height:70px;
	max-height:100%;
	line-height:30px;
	padding:5px;
	border:1px solid #666;
	background-color:transparent;
	border-radius:5px;
}
.dr_new_entery table td input {
	float:left;
	margin:10px 10px;
	alignment-adjust:baseline;
	text-align:left;
	height:35px;
	min-height:30px;
	line-height:30px;
	padding:5px;
	background-color:transparent;
	border-radius:5px;
}
.footer_head h4 {
    margin: 0px;
    color: #e0e4cc;
    text-align: center;
    line-height: 40px;
    font-size: 14px;
}
}
@media (min-width: 360px) and (max-width: 640px) {
.dr_heading {
    width: 100%;
    margin: 0 auto;
	height:80px;
}
.dr_heading ul li a{
	font-size:8px;
}
.dr_search {
    float: right;
    width:40%;
    height: 20px;
	font-size:8px;
    line-height: 20px;
}
.dr_new_entery table{
	width:80%;
	margin:0 auto;
	margin-bottom:40px;
	margin-top:40px;
	font-size:10px;
}
.dr_new_entery table td select{
	width:40%;
	float:left;
	margin:10px 10px;
	alignment-adjust:baseline;
	text-align:left;
	height:35px;
	font-size:10px;
	line-height:30px;
	padding:5px;
	border:1px solid #666;
	background-color:transparent;
	border-radius:5px;
}
.dr_new_entery table td button {
  border:0;
  outline:none;
  border-radius:0;
  padding:5px 15px;
  font-size:1rem;
  margin:2px 3px;
  font-weight:bold;
  text-transform:uppercase;
  letter-spacing:.1em;
  background:#9CF;
  border:2px solid #09F;
  color:white;
  transition:all.5s ease;
  -webkit-appearance: none;
}
.dr_new_entery table td textarea {
 width:60%;
	float:left;
	margin:10px 10px;
	alignment-adjust:baseline;
	text-align:left;
	height:35px;
	min-height:70px;
	max-height:100%;
	line-height:30px;
	padding:3px;
	border:1px solid #666;
	background-color:transparent;
	border-radius:5px;
}
.dr_new_entery table td input {
	float:left;
	margin:5px 5px;
	alignment-adjust:baseline;
	text-align:left;
	height:20px;
	min-height:30px;
	line-height:10px;
	padding:5px;
	background-color:transparent;
	border-radius:5px;
}
.footer_head h4 {
    margin: 0px;
    color: #e0e4cc;
    text-align: center;
    line-height: 40px;
    font-size:10px;
}
}
@media (min-width: 768px) and (max-width: 980px){
	.dr_main_detail {
    width: 80%;
    margin: 0 auto;
    height: auto;
}
.dr_update h5 {
    margin: 0px 0px;
	font-size:12px;
	font-weight:bold;
}
p {
    margin: 0 0 10px;
	width:100%;
	font-size:12px;
}
.dr_main_detail {
    width: 80%;
    margin: 0 auto;
    height: auto;
}
.dr_subject {
    width: 23%;
    float: left;
    height: auto;
}
.dr_sub_com {
    width:48%;
    float: left;
    min-height: 100px;
    max-height: auto;
    margin: 0px 18px;
}
.dr_events {
    width: 23%;
    float: left;
    max-height: auto;
}
.dr_bg_img_sub h3{
    padding:10px;
    line-height: 20px;
	font-size:16px;
	font-weight:bold;
}
.dr_icon_list span {
    float: left;
    width:30%;
    margin-top: 5px;
    font-size: 12px;
    padding: 3px;
}
.dr_subject h4 {
    display: block;
    background: #9CF;
    line-height:30px;
    color: #000;
    text-decoration: none;
    list-style: none;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-left:10px;
}
.dr_search {
    float: right;
    width:33%;
    height: 40px;
    line-height: 40px;
}
.dr_notification span ul li {
    float: none;
    line-height:20px;
    border-bottom: 2px solid #CCC;
    padding: 0px 6px;
	font-size:12px;
}
}
@media (min-width: 360px) and (max-width: 640px){
.dr_main_detail {
    width: 80%;
    margin: 0 auto;
    height: auto;
}
.dr_update h5 {
    margin: 0px 0px;
	font-size:10px;
	font-weight:bold;
}
p {
    margin: 0 0 10px;
	width:100%;
	font-size:10px;
}
.dr_subject {
    width:33%;
    float: left;
    height: auto;
}
.dr_sub_com {
    width:50%;
    float: left;
    min-height: 100px;
    max-height: auto;
    margin: 0px 18px;
	float:left;
}
.dr_events {
	display:none;
}
.dr_bg_img_sub h3{
    padding:10px;
    line-height: 20px;
	font-size:12px;
	font-weight:bold;
}
.dr_bg_img_sub p{
    padding:10px;
    line-height: 20px;
	font-size:10px;
}
.dr_icon_list span {
    float: left;
    width:70%;
	clear:both;
    margin-top: 5px;
    font-size: 12px;
    padding: 3px;
}
.dr_subject h4 {
    display: block;
    background: #9CF;
    line-height:25px;
	font-size:12px;
	font-weight:bold;
    color: #000;
    text-decoration: none;
    list-style: none;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-left:10px;
}
.dr_subject ul li a{
	font-size:9px;
}
.dr_subject ul li a:hover{
	font-size:10px;
}
.dr_heading ul li a {
    text-decoration: none;
    font-size:8px;
    color: #FFF;
    display: block;
    padding: 0px 5px;
    line-height:40px;
    font-family: Roboto;
    transition: 0.5s;
}
.dr_search {
    float: right;
    width:40%;
    height: 40px;
    line-height: 40px;
}
.dr_notification span ul li {
    float: none;
    line-height:20px;
    border-bottom: 2px solid #CCC;
    padding: 0px 6px;
	font-size:12px;
}
}