body {
    color: $text-color-primary;
    background-color: $bg-color-fourth;
    font-family: $font-family;
}

h1,h2,h3,h4,h5,h6,p,ul,li{
     font-family: $font-family;
}

a {
    color: $text-color-primary;
    font-family: $font-family;
}

a:HOVER {
    color: $text-color-primary;
    text-decoration: none;
}

a.list-group-item {
    color: inherit;
}

.list-group-item {
    background-color: transparent;
    border: 0px solid #ddd;
    padding: 2px 0;
}

a.list-group-item:hover, a.list-group-item:focus {
    color: $text-color-primary;
    text-decoration: none;
    background-color: $bg-color-third;
}

.glyphicon-calendar {
    cursor: pointer;
}

.bg-color-primary {
    background-color: $bg-color-primary !important;
    border-color: $bg-color-primary !important;
}

.bg-color-secondary {
    background-color: $bg-color-secondary !important;
    border-color: $bg-color-secondary !important;
}

.bg-color-third {
    background-color: $bg-color-third !important;
    border-color: $bg-color-third !important;
}

.bg-color-fourth {
    background-color: $bg-color-fourth !important;
    border-color: $bg-color-fourth !important;
}

.bg-color-fifth {
    background-color: $bg-color-fifth !important;
    border-color: $bg-color-fifth !important;
}

.bg-color-sixth {
    background-color: $bg-color-sixth !important;
    border-color: $bg-color-sixth !important;
}

.bg-color-seventh {
    background-color: $bg-color-seventh !important;
    border-color: $bg-color-seventh !important;
}

.bg-color-eighth {
    background-color: $bg-color-eighth !important;
    border-color: $bg-color-eighth !important;
}

.bg-color-ninth {
    background-color: $bg-color-ninth !important;
    border-color: $bg-color-ninth !important;
}

.bg-color-tenth {
    background-color: $bg-color-tenth !important;
    border-color: $bg-color-tenth !important;
}

.bg-color-eleventh {
    background-color: $bg-color-eleventh !important;
    border-color: $bg-color-eleventh !important;
}

.bg-color-twelfth {
    background-color: $bg-color-twelfth !important;
    border-color: $bg-color-twelfth !important;
}

.bg-color-thirteenth {
    background-color: $bg-color-thirteenth !important;
    border-color: $bg-color-thirteenth !important;
}

.bg-color-fourteen {
    background-color: $bg-color-fourteen !important;
    border-color: $bg-color-fourteen !important;
}

.bg-color-fifteenth {
    background-color: $bg-color-fifteenth !important;
    border-color: $bg-color-fifteenth !important;
}

.bg-color-sixteenth {
    background-color: $bg-color-sixteenth !important;
    border-color: $bg-color-sixteenth !important;
}
.bg-color-seventeenth {
    background-color: $bg-color-seventeenth !important;
    border-color: $bg-color-seventeenth !important;
}
.bg-color-eighteenth {
    background-color: $bg-color-eighteenth !important;
    border-color: $bg-color-eighteenth !important;
}
.bg-color-ninteenth {
    background-color: $bg-color-ninteenth !important;
    border-color: $bg-color-ninteenth !important;
}
.bg-color-twenty {
    background-color: $bg-color-twenty !important;
    border-color: $bg-color-twenty !important;
}
.bg-color-twentyfirst {
    background-color: $bg-color-twentyfirst !important;
    border-color: $bg-color-twentyfirst !important;
}

.bg-color-twentysecond {
    background-color: $bg-color-twentysecond !important;
    border-color: $bg-color-twentysecond !important;
}
.bg-color-twentythird {
    background-color: $bg-color-twentythird !important;
    border-color: $bg-color-twentythird !important;
}
.bg-color-twentyfourth {
    background-color: $bg-color-twentyfourth !important;
    border-color: $bg-color-twentyfourth !important;
}
.bg-color-twentyfifth {
    background-color: $bg-color-twentyfifth !important;
    border-color: $bg-color-twentyfifth !important;
}

.bg-color-twentysixth {
    background-color: $bg-color-twentysixth !important;
    border-color: $bg-color-twentysixth !important;
}

.bg-color-twentyseventh {
    background-color: $bg-color-twentyseventh !important;
    border-color: $bg-color-twentyseventh !important;
}

.bg-color-twentyeighth {
    background-color: $bg-color-twentyeighth !important;
    border-color: $bg-color-twentyeighth !important;
}
.bg-color-twentyninth {
    background-color: $bg-color-twentyninth !important;
    border-color: $bg-color-twentyninth !important;
}
.bg-color-thirty {
    background-color: $bg-color-thirty !important;
    border-color: $bg-color-thirty !important;
}
.bg-color-thirtyfirst {
    background-color: $bg-color-thirtyfirst !important;
    border-color: $bg-color-thirtyfirst !important;
}
.bg-color-thirtysecond {
    background-color: $bg-color-thirtysecond !important;
    border-color: $bg-color-thirtysecond !important;
}

.text-primary {
    color: $text-color-primary !important;
}

.text-secondary {
    color: $text-color-secondary !important;
}

.text-third {
    color: $text-color-third !important;
}

.text-fourth {
    color: $text-color-fourth !important;
}

.text-fifth {
    color: $text-color-fifth !important;
}

.text-sixth {
    color: $text-color-sixth !important;
}

.text-seventh {
    color: $text-color-seventh !important;
}

.text-eighth {
    color: $text-color-eighth !important;
}

.text-ninth {
    color: $text-color-ninth !important;
}

.text-tenth {
    color: $text-color-tenth !important;
}

.text-eleventh {
    color: $text-color-eleventh !important;
}

.text-twelfth {
    color: $text-color-twelfth !important;
}

.text-thirteenth {
    color: $text-color-thirteenth !important;
}

.text-fourteenth {
    color: $text-color-fourteenth !important;
}
.text-fifteenth {
    color: $text-color-fifteenth !important;
}
.text-sixteenth {
    color: $text-color-sixteenth !important;
}
.text-seventeenth {
    color: $text-color-seventeenth !important;
}
.text-eighteenth {
    color: $text-color-eighteenth !important;
}

.text-ninteenth {
    color: $text-color-ninteenth !important;
}

.text-twenty {
    color: $text-color-twenty !important;
}

.text-twentyfirst {
    color: $text-color-twentyfirst !important;
}

.text-twentysecond {
    color: $text-color-twentysecond !important;
}

.text-twentythird {
    color: $text-color-twentythird !important;
}

.text-twentyfourth {
    color: $text-color-twentyfourth !important;
}

.btn-primary{
    background-color: $btn-primary-color !important;
        :hover{
            background-color: $btn-primary-hover-color !important;
        }
}

.btn-secondary {
    background-color:$btn-secondary-color !important;
        :hover { 
            background-color:$btn-secondary-hover-color !important;
        }
}

.btn-third{
    background-color:$btn-third-color !important;
        :hover { 
            background-color:$btn-third-hover-color !important;
        }
}

.btn-fourth{
    background-color:$btn-fourth-color !important;
        :hover { 
            background-color:$btn-fourth-hover-color !important;
        }
}

.btn-fifth{
    background-color:$btn-fifth-color !important;
        :hover { 
            background-color:$btn-fifth-hover-color !important;
        }
}

.btn-sixth{
    background-color:$btn-sixth-color !important;
        :hover { 
            background-color:$btn-sixth-hover-color !important;
        }
}

.btn-seventh{
    background-color:$btn-seventh-color !important;
        :hover { 
            background-color:$btn-seventh-hover-color !important;
        }
}

.btn-eighth{
    background-color:$btn-eighth-color !important;
        :hover { 
            background-color:$btn-eighth-hover-color !important;
        }
}

.btn-ninth{
    background-color:$btn-ninth-color !important;
        :hover { 
            background-color:$btn-ninth-hover-color !important;
        }
}

.btn-tenth{
    background-color:$btn-tenth-color !important;
        :hover { 
            background-color:$btn-tenth-hover-color !important;
        }
}

.btn-eleventh{
    background-color:$btn-eleventh-color !important;
        :hover { 
            background-color:$btn-eleventh-hover-color !important;
        }
}

.btn-twelfth{
    background-color:$btn-twelfth-color !important;
        :hover { 
            background-color:$btn-twelfth-hover-color !important;
        }
}

.btn-thirteenth{
    background-color:$btn-thirteenth-color !important;
        :hover { 
            background-color:$btn-thirteenth-hover-color !important;
        }
}

.btn-fourteenth{
    background-color:$btn-fourteenth-color !important;
        :hover { 
            background-color:$btn-fourteenth-hover-color !important;
        }
}

.button-margin-left {
    margin-left: 2%;
}

.button-margin-right {
    margin-right: 2%;
}

.button-margin-both {
    margin-left: 2%;
    margin-right: 2%;
}

.flex-button {
    border-radius: 5px !important;
    width: 22.5%;
    margin-top: 10px;
    margin-right: 2.5%;
    white-space: normal;
}

.no-margin {
    margin: 0 !important;
}

.no-padding {
    padding: 0 !important;
}

.search {
    display: inline-block;
    margin: 0px;
    vertical-align: top;
}

.search button {
    line-height: 20px;
}

.search button .propcoicon {
    vertical-align: top;
}

.panel-footer, .panel-footer a {
    color: $text-color-fourteenth;
}

.childtopmargin10>* {
    margin-top: 10px !important;
}

.childtopmargin10>span {
    display: inline-block;
}

.childrightmargin10>* {
    margin-right: 10px !important;
}

.childrightmargin10>*:last-child {
    margin-right: 0px !important;
}

.margintop10 {
    margin-top: 10px !important;
}

.margintop20 {
    margin-top: 20px !important;
}

.marginright10 {
    margin-right: 10px !important;
}

.container-scroll {
    overflow-y: auto !important;
    height: 400px !important;
}

.icon-button {
    border-radius: 5px;
}

.icon-extra-small {
    font-size: 15px;
}

.icon-small {
    font-size: 25px;
}

.icon-mid {
    font-size: 35px;
}

.icon-large {
    font-size: 42px;
}

.icon-extra-large {
    font-size: 70px;
}

.icon-xxl {
    font-size: 100px;
}

.log-history {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.v-top {
    vertical-align: top;
}

.v-mid {
    vertical-align: middle;
}

.v-bot {
    vertical-align: bottom;
}

#loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background-color: $bg-color-ninth;
    opacity: 0.8; 
        img { 
            width : 100px;
            position: relative;
            margin: auto;
            top: 40%;
            left:45%;
            z-index: 100000;
    }
}
.strong {
    color: $text-color-secondary;
}

.medium {
    color: $text-color-tenth;
}

.weak {
    color: $text-color-sixth;
}
.has-error{
    .form-control{
        background-color: $bg-color-twentyninth;
    }
    span{
        color: $text-color-sixth;
    }
}

.noShadow {
    border : none !important;
    box-shadow : none !important;
}

.panel {
	border-radius: 8px;
}

.no-left-margin {
        margin-left: 0px !important;
    }
    
    
    

.gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div{font-weight:400}
.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}
@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}
.gm-style{font-family:Roboto,Arial,sans-serif;font-size:11px;font-weight:400;text-decoration:none}.gm-style img{max-width:none}
    
