
html, body{
width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;  
}



.gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div{font-weight:400}
.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}
@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}
.gm-style{font-family:Roboto,Arial,sans-serif;font-size:11px;font-weight:400;text-decoration:none}.gm-style img{max-width:none}
 #loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:10000;
    background-color: #666;
    opacity: 0.8; 
        img { 
            width : 100px;
            position: relative;
            margin: auto;
            top: 40%;
            left:45%;
            z-index: 100000;
    }
} 
.bg-color-sixth {
    background-color: #3498DB !important;
    border-color: #3498DB !important;
}

.bg-color-seventh {
    background-color: #F5F5F5 !important;
    border-color: #F5F5F5 !important;
}

#classdiv{
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 2px;
    padding-left: 2px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}



}

.width-100{
width:100%;
}

.height-100{
	height:100%;
}
.height-inherit{
height:inherit;
}

.font-size-30{
font-size:30px;
}

.text-color-white{
color:white !important;
}

.capitalize{
 text-transform: capitalize;
}

.transparent-color{
background-color:transparent;
}
@media screen
and (min-device-width : 360px)
and (max-device-width : 640px) {
	body{
		min-width:100% !important;
		}
	.main_bg_bg{
		min-width:100% !important;
		max-width:100% !important;
		background-size:100% !important;
		z-index:-1;
		position: relative;
	}
	.service_font_02 p{
		font-size: 16px !important;
    	padding: 0% 9%;
		}
	.why_us_service{
		width:100%;
	}
		.service_font_02{
		width:100%;
		}
	.team_mate_360{
		width:100%;
		padding-bottom:10%;
	}
	.home-slider{
		z-index:0;
		position: relative;
	}
	.navbar-nav{
		z-index:99999999999999;
		position: relative;
		background-color:#fff;
	}
	.navbar-nav > li > a {
    	color:#0a0a0a;
	}
	.copyright-360 p{
		font-size:16px;
		float:left;
		color:#fff;
		padding-bottom:5px;
	}
	.new_foot_nav li a{
		margin-bottom:10px;
	}
	.portfolia-respons{
		max-width:98%;
		margin:1% 1%;
	}
	.icon_360 ul li a{
		font-size:16px;
		padding:2px;
		height:30px;
		width:30px;
		line-height:30px;
	}
	
}
@media screen
and (min-device-width : 320px)
and (max-device-width : 360px) {
	body{
		min-width:100% !important;
		}
	.main_bg_bg{
		min-width:100% !important;
		max-width:100% !important;
		background-size:100% !important;
		z-index:-1;
		position: relative;
	}
	.service_font_02 p{
		font-size:16px;
		}
	.why_us_service{
		width:100% !important;
		float:none;
		text-align: center;
	}
	.twenty{
		max-width:100% !important;
	}
	.team_mate_360{
		width:100%;
	}
	.home-slider{
		z-index:0;
		position: relative;
	}
	.navbar-nav{
		z-index:9999;
		position: relative;
		background-color:#fff;
	}
	.navbar-nav > li > a {
    	color:#0a0a0a;
	}
	.portfolia-respons{
		max-width:98%;
		margin:1% 1%;
	}
	.ng-binding{
		font-size:11px !important;
	}
	.icon_360 ul li a{
		font-size:16px;
		padding:2px;
		height:20px;
		width:20px;
		line-height:20px;
	}
	
}
@media screen and (max-device-width: 360px) and (min-device-width: 320px){
.ng-binding {
    text-align: left;
}}
@media screen
and (min-device-width : 600px)
and (max-device-width : 1024px) {
	body{
		min-width:100% !important;
		}
	.main_bg_bg{
		min-width:100% !important;
		max-width:100% !important;
		background-size:100% !important;
		z-index:-1;
		position: relative;
	}
	.service_font_02 p{
		font-size:16px;
		}
	.why_us_service{
		width:100% !important;
		float:none;
		text-align: center;
	}
	.twenty{
		max-width:100% !important;
	}
	.team_mate_360{
		width:100%;
	}
	.home-slider{
		z-index:0;
		position: relative;
	}
	.navbar-nav{
		z-index:9999;
		position: relative;
		background-color:#fff;
	}
	.navbar-nav > li > a {
    	color:#0a0a0a;
	}
	.portfolia-respons{
		max-width:98%;
		margin:1% 1%;
	}
	.ng-binding{
		font-size:11px !important;
	}

	
}


@media screen
and (min-device-width : 348px)
and (max-device-width : 640px) {
	body{
		min-width:100% !important;
		}
	.main_bg_bg{
		min-width:100% !important;
		max-width:100% !important;
		background-size:100% !important;
		z-index:-1;
		position: relative;
	}
	.service_font_02 p{
		font-size:16px;
		}
	.why_us_service{
		width:100% !important;
		float:none;
		text-align: center;
	}
	.twenty{
		max-width:100% !important;
	}
	.team_mate_360{
		width:100%;
	}
	.home-slider{
		z-index:0;
		position: relative;
	}
	.navbar-nav{
		z-index:9999;
		position: relative;
		background-color:#fff;
	}
	.navbar-nav > li > a {
    	color:#0a0a0a;
	}
	.portfolia-respons{
		max-width:98%;
		margin:1% 1%;
	}
	.ng-binding{
		font-size:11px !important;
	}

	
}

@media screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
		.web-design{
			margin-top:8px;
		}
		.port_left{
			float:left;
		}
		.port_left_clear{
			clear:both;
		}
		.member-photo{
			padding-top:15px;
			margin-bottom: -13px;
		}
		.new_foot_nav{
			margin-bottom:20px;
			padding-top:10px;
			padding-left:220px;
		}
		.copyright{
			width:100%;
			text-align:center;
		}
}

.visibilty-visible{
    visibility: visible !important;
}

.no-padding{
	padding:0;
}

@media screen and (min-device-width:348px) and (max-device-width:640px){ 
     .not_640{
    	position:relative;
    	float:left;
    	clear:both;
    	margin-bottom:20px;
    	z-index:9999;
    }
    .ng-binding {
    font-size: 11px !important;
    text-align: center;
    line-height: 20px;
	}
	.right-navbar-right{
		clear: both !important;
    margin-bottom: 42px;
    width: 100%;
    float: left !important;
	}
	.dashboardSubjects{
	clear:both;
	}
	.disc-room i{
		    padding-left: 36% !important;
    text-align: center !important;
	}
}
@media screen and (max-device-width: 1280px) and (min-device-width: 800px){
     .not_640{
    	position:relative;
    	float:left;
    	clear:both;
    	margin-bottom:20px;
    	z-index:9999;
    }
    .ng-binding {
    font-size: 11px !important;
    text-align: center;
    line-height: 20px;
	}
	.right-navbar-right{
		clear: both !important;
    margin-bottom: 42px;
    width: 100%;
    float: left !important;
	}
		.dashboardSubjects{
	clear:both;
	}
	.disc-room i{
    padding-left: 36% !important;
    text-align: center !important;
	}
}
@media screen and (max-device-width: 533px) and (min-device-width: 320px){
    .not_640{
    	position:relative;
    	float:left;
    	margin-bottom:20px;
    	clear:both;
    	z-index:9999;
    }
    .ng-binding {
    font-size: 11px !important;
    text-align: center;
    line-height: 20px;
	}
	.right-navbar-right{
		clear:both;
	}
	.right-navbar-right{
		clear: both !important;
    margin-bottom: 42px;
    width: 100%;
    float: left !important;
	}
		.dashboardSubjects{
	clear:both;
	}
		.disc-room i{
	    padding-left: 36% !important;
    text-align: center !important;
	}
}
@media screen and (max-device-width: 1024px) and (min-device-width: 768px){
    .not_640{
    	position:relative;
    	float:left;
    	margin-bottom:20px;
    	left:0;
    	clear:both;
    	z-index:9999;
    }
    .ng-binding {
    font-size: 11px !important;
    text-align: center;
    line-height: 20px;
	}
	.right-navbar-right{
		clear: both !important;
    margin-bottom: 42px;
    width: 100%;
    float: left !important;
	}
		.dashboardSubjects{
	clear:both;
	}
	.disc-room i{
	    padding-left: 36% !important;
    text-align: center !important;
	}
}

.feature_box_width{
	height:200%;
}
