.gm-style .gm-style-mtc label,.gm-style .gm-style-mtc div{font-weight:400}
.gm-style .gm-style-cc span,.gm-style .gm-style-cc a,.gm-style .gm-style-mtc div{font-size:10px}
@media print {  .gm-style .gmnoprint, .gmnoprint {    display:none  }}@media screen {  .gm-style .gmnoscreen, .gmnoscreen {    display:none  }}
.gm-style{font-family:Roboto,Arial,sans-serif;font-size:11px;font-weight:400;text-decoration:none}.gm-style img{max-width:none}
 #loading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100000;
    background-color: #666;
    opacity: 0.8; 
        img { 
            width : 100px;
            position: relative;
            margin: auto;
            top: 40%;
            left:45%;
            z-index: 100000;
    }
} 
.bg-color-sixth {
    background-color: #3498DB !important;
    border-color: #3498DB !important;
}

.bg-color-seventh {
    background-color: #F5F5F5 !important;
    border-color: #F5F5F5 !important;
}

#classdiv{
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 2px;
    padding-left: 2px;
}

.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}



}

.width-100{
width:100%;
}

.height-100{
	height:100%;
}
.height-inherit{
height:inherit;
}

.font-size-30{
font-size:30px;
}

.text-color-white{
color:white !important;
}

.capitalize{
 text-transform: capitalize;
}

.transparent-color{
background-color:transparent;
}