#close-btn button {
	border-radius: 50%;
}

#attached-file {
	padding-left: 10px;
	display: inline-block;
}

#compose-mail-model .container {
	width: 500px;
}

.list-group-item-heading {
	color: $text-color-primary;
}

.btn-email {
	border: 1px solid #666 !important;
}

#email-body {
	padding: 10px 15px;
	color: #666;
}

#folder-options #mail-box {
	padding: 20px 10px;
}

#folder-options #mail-box a.list-group-item {
	color: $text-color-primary;
}

#folder-options #mail-box .list-group-item {
	background-color: transparent;
	border: 0px solid #ddd;
	padding: 2px 0;
}

#folder-options #mail-box a.list-group-item:hover, #folder-options #mail-box a.list-group-item:focus
	{
	color: $text-color-primary;
	text-decoration: none;
	background-color: $bg-color-third;
}

#folder-options>div:FIRST-CHILD {
	padding-right: 0px;
}

#folder-options>div:last-child {
	padding-left: 0px;
}

#mail-list>table {
	border: 1px solid #333;
}

#mail-list .table>thead>tr>th, #mail-list .table>tbody>tr>th, #mail-list .table>tfoot>tr>th,
	#mail-list .table>thead>tr>td, #mail-list .table>tbody>tr>td,
	#mail-list .table>tfoot>tr>td {
	border: none !important;
}

#mail-list .table td {
	padding: 0 8px;
}

#mail-panel .panel-footer {
	border-top: 1px solid #666;
}