#home{ 
    .ex-block {
        background-color: $bg-color-primary;
        margin-bottom: 15%;
        text-align: center;
        border-radius: 5px;
        min-height: 180px;
        height:auto;
        
        i.propcoicon {
     	   margin-bottom: 5px;
     	   height: 120px;
     	   padding: 20px;
     	   font-size: 100px;
    	}
    	
    	i.propcoicon-cancel{
    		font-size: 30px;
    		display: none;
       		position: absolute;
	    	right: 8px;
	    	top: 8px;
	    	cursor: pointer;
	    	padding: 0;
    	}
    }
    
    div.removeItem {
        position: relative; 
    }
    
    div.removeItem:hover {
        background-color: #3E3E3E !important; 
    }
    
    div.removeItem >  i{
    	display: none;
        position: absolute;
	    right: 8px;
	    top: 8px;
	    cursor: pointer;
    }
    
    div.removeItem p {
        margin: 10px 0 10px;
    }
    
    div.removeItem:hover >  i{
        display:inline-block;
    }
    
    .propcoicon {
        vertical-align: top;
    }
    
    #my-diary .table-bordered>tbody>tr>td {
        border-right: 0px solid #ddd;
        border-left: 0px solid #ddd;
        vertical-align: middle;
        padding: 0px 5px;
    }
    
    #my-diary .table-bordered>tbody>tr>td[rowspan] {
        width: 40px;
    }
    
    #my-diary .table-bordered {
        border-right: 0px solid #ddd;
        border-left: 0px solid #ddd;
        border-top: 0px solid #ddd;
    }
}
.nav-tabs-fan {
    margin-top: 20px;
}

.nav-tabs-fan li {
    padding: 0;
}

.nav-tabs-fan li a {
    height: 120px;
}

.bg-color-fan-tab1 {
    background-color: $bg-color-sixteenth !important;
}

.bg-color-fan-tab2 {
    background-color: $bg-color-seventeenth !important;
}

.bg-color-fan-tab3 {
    background-color: $bg-color-eighteenth !important;
}

.bg-color-fan-tab4 {
    background-color: $bg-color-ninteenth !important;
}

.bg-color-fan-tab5 {
    background-color: $bg-color-twenty !important;
}

.bg-color-fan-tab6 {
    background-color: $bg-color-twentyfirst !important;
}

.bg-color-fan-progression2 {
    background-color: $bg-color-twentysecond !important;
}

.bg-color-fan-progression3 {
    background-color: $bg-color-twentythird !important;
}

.bg-color-fan-progression4 {
    background-color: $bg-color-twentyfourth !important;
}

.bg-color-fan-progression5 {
    background-color: $bg-color-secondary !important;
}

.nav-tabs-fan li.active.bg-color-fan-tab2 a {
    color: $text-color-fifteenth;
}

.nav-tabs-fan li.active.bg-color-fan-tab3 a {
    color: $text-color-sixteenth;
}

.nav-tabs-fan li.active.bg-color-fan-tab4 a {
    color: $text-color-seventeenth;
}

.nav-tabs-fan li.active.bg-color-fan-tab5 a {
    color: $text-color-eighteenth;
}

.nav-tabs-fan>li.active>a, .nav-tabs-fan>li.active>a:hover,
    .nav-tabs-fan>li.active>a:focus {
    padding: 0;
    background-color: transparent;
    border-right: 1px solid #666;
}

.nav-tabs-fan>li>a:hover, .nav-tabs-fan>li>a:focus {
    text-decoration: none;
    background-color: transparent;
    cursor: pointer;
}

.nav-tabs-fan>li {
    border-right: 1px solid #666;
    border-radius: 5px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    color: red;
}

.nav-tabs-fan>li>a {
    padding: 0;
    font-size: 30px;
    margin-right: 0;
}

.nav-tabs-fan li.active a:after {
    bottom: -30px;
    color: inherit;
    content: "▼";
    font-size: 30px;
    left: 44%;
    position: absolute;
}

div.progression-no {
    border-radius: 5px 5px 0 0;
    color: $text-color-primary;
    font-size: 45px;
    height: 60%;
    margin: -1px 0 0 -1px;
    padding-top: 5px;
    text-align: center;
    width: 100.9%;
}

div.progression-no+i {
    bottom: 0;
    font-size: 100%;
    height: 30px;
    left: 25%;
    position: absolute;
    right: 0;
    text-align: center;
    top: 50%;
    vertical-align: middle;
    width: 50%;
}

div.progression-title {
    color: $text-color-primary !important;
    font-size: 15px;
    padding-top: 18px;
    text-align: center;
    text-transform: uppercase;
}

#matches .matches-container {
    background-color: $bg-color-fourth;
    border-radius: 5px;
    margin-top: 30px;
    min-height: 140px;
}

#matches .matches-container .property-goods {
    height: 140px;
    width: 60px;
}

#matches .matches-container .property-hot {
    background-color: $bg-color-twentysixth;
    min-height: 140px;
    padding-top: 35px;
    text-align: center;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#matches .matches-container .property-goods .property-goods-item {
    background-color: $bg-color-twentyseventh;
    overflow: hidden;
    width: 100%;
    font-size: 18px;
    text-align: center;
    height: 25%;
    border-bottom: 1px solid #4D4D4D;
}

#matches .matches-container .property-goods .property-goods-item:FIRST-CHILD
    {
    border-top-left-radius: 5px;
}

#matches .matches-container .property-goods .property-goods-item:last-CHILD
    {
    border-bottom-left-radius: 5px;
}

#views {
    padding-top: 30px;
}

#offers {
    padding-top: 30px;
}

#interests #interests-left-container, #interests #interests-right-container
    {
    margin-top: 30px;
}

/* maintenance.html */
#expend-limit {
    background-color: $bg-color-primary;
    border-radius: 4px;
    color: $text-color-third;
    display: inline-block;
    padding: 7px;
    margin-right: 10px;
}

/* fee-dishburshment.html */
#right-container #fee-disbursement .navbar-form .input-group {
    vertical-align: top;
}

#right-container #fee-disbursement .panel-group .panel-heading a {
    display: block;
    position: relative;
}

#right-container #fee-disbursement .panel-group .panel-heading a:after {
    content: "−";
    font-size: 30px;
    position: absolute;
    right: 15px;
    top: -9px;
    color: #4d4d4d;
}

#right-container #fee-disbursement .panel-group .panel-heading a.collapsed:after
    {
    content: '+';
}

#right-container #payments-breakdown table#overall-balance-strip {
    background-color: $bg-color-twentyeighth;
}

#right-container #payments-breakdown table#overall-balance-strip td,
    #right-container #payments-breakdown table#overall-balance-strip th {
    border: none;
    border-right: 1px solid #4d4d4d;
}

#process-choice a>button {
    margin-bottom: 7px;
    margin-top: 5px;
    margin-right: 10px;
    width: 50px;
    height: 50px;
    border: none;
}

#dialog-box {
    width: 600px;
}

#editBtn {
    border: 1px solid $text-color-twentysecond !important;
    border-radius: 15px;
}

.workspace-center {
      margin-left:300px;
}

#userMgtModal {
	margin:20px;
}

#dropdown {
	position: absolute;
    right: 40px;
    top: 10px;
}

#search {
	position: absolute;
    right: 20px;
    top: 10px;
}

#userMgtHeader {
	    font-size: 17px;
}

#searchResult{
	border-radius:8px;
	padding: 5px;
}

#userMgtIcons i {
	margin-right: 10px;
}

#userMgtModal a {
	display:block;
}

#userMgtModal li :hover {
	background-color: #3E3E3E !important;
}

#userMgtModal >div {
	border-radius:8px;
}

