@media all and (min-width : 420px) {
	 #login .container{
		width: 380px;
		margin-top: 100px;
	} 
}


#login-section{
	
}

/* #login-section .panel{
	width: 380px;
	margin-top: 100px;
} */

#login .panel{
	border:none;
}

#login footer{
	color: $text-color-ninteenth;
}

#login footer strong{
	color: $text-color-primary;
}

#remember {
	position: relative;
	float:right;
}

#login {
	background-image: url(../img/login-top-bg.png),url(../img/login-bottom-bg.png);
	background-repeat: no-repeat, no-repeat;
	background-position:top, bottom;
	
}

/* #bottomImg {
	background-image: url(../img/login-bottom-bg.png);
	background-repeat: no-repeat;
	background-position: 50% 40%;
	background-size:cover;
} */