.nav-tabs-lg{ 
	li img {
		vertical-align: top;
		width: 25px;
		height: 25px;
	}
	
	li a>span {
		display: inline-block;
		height: 35px;
		padding: 0 5px;
		font-size: 15px;
		line-height: 15px;
	}
	
	li a>span span {
		color: $text-color-third;
		font-size: 13px;
	}
	
	li>a {
		background-color: $bg-color-primary;
		border: 1px solid #333;
		color: $text-color-primary;
	}
	
	li.active>a, li.active>a:hover, li.active>a:focus
		{
		background-color: $bg-color-seventh;
		border: 1px solid #1A1A1A;
		color: $text-color-primary;
	}
	
	li>a:hover, li>a:focus {
		background-color: $bg-color-seventh;
		border: 1px solid #1A1A1A;
		cursor: pointer;
	}
}

.nav-tabs-md{
	li {
		min-width: 150px;
		a {
			background-color: $bg-color-primary;
			border: 1px solid #333;
			color: $text-color-primary;
		}
	}
	
	li.active>a, li.active>a:hover, li.active>a:focus{
		background-color: $bg-color-fourth;
		border: 1px solid #4D4D4D;
		color: $text-color-primary;
	}
	
	li>a:hover,li>a:focus {
		background-color: $bg-color-fourth;
		border: 1px solid #4D4D4D;
		cursor: pointer;
	}
}

.nav-tabs {
	border-bottom: 0px solid #ddd;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus
	{
	color: $text-color-primary;
}

.tab-content {
	border-radius: 0 5px 5px;
	margin: 0 0 25px;
	padding: 0 15px 20px;
}

.panel-default>.panel-heading {
	color: $text-color-primary;
	border: 0px solid #ddd;
}

.panel-default>.panel-heading+.panel-collapse>.panel-body {
	border: none;
}