$font-family: 'Lato', san-serif, verdana;

/* Button Colors */ 

$btn-primary-color:#333;
$btn-primary-hover-color:#333;
$btn-secondary-color:#7AC943;
$btn-secondary-hover-color:#7AC943;
$btn-third-color:#0095FF;
$btn-third-hover-color:#0095FF;
$btn-fourth-color:#4D4D4D;
$btn-fourth-hover-color:#4D4D4D;
$btn-fifth-color:#D1D1D1;
$btn-fifth-hover-color:#D1D1D1;
$btn-sixth-color:#FF1D25;
$btn-sixth-hover-color:#FF1D25;
$btn-seventh-color:#1A1A1A;
$btn-seventh-hover-color:#1A1A1A;
$btn-eighth-color:#adadad;
$btn-eighth-hover-color:#adadad;
$btn-ninth-color:#666;
$btn-ninth-hover-color:#666;
$btn-tenth-color:#fff;
$btn-tenth-hover-color:#fff;
$btn-eleventh-color:#808080;
$btn-eleventh-hover-color:#808080;
$btn-twelfth-color:#AAA;
$btn-twelfth-hover-color:#AAA;
$btn-thirteenth-color:#4E4E4E;
$btn-thirteenth-hover-color:#4E4E4E;
$btn-fourteenth-color:#3fa4f0;
$btn-fourteenth-hover-color:#3fa4f0;



/* Background Colors */ 

$bg-color-primary:#333;
$bg-color-secondary:#7AC943;
$bg-color-third:#0095FF;
$bg-color-fourth:#4D4D4D;
$bg-color-fifth:#D1D1D1;
$bg-color-sixth:#FF1D25;
$bg-color-seventh:#1A1A1A;
$bg-color-eighth:#adadad;
$bg-color-ninth:#666;
$bg-color-tenth:#fff;
$bg-color-eleventh:#EEE;
$bg-color-twelfth:#E2E2E2;
$bg-color-thirteenth:#808080;
$bg-color-fourteen:#282828;
$bg-color-fifteenth:#AAA;
$bg-color-sixteenth:#C7281F;
$bg-color-seventeenth:#4095CD;
$bg-color-eighteenth:#40C1E2;
$bg-color-ninteenth:#59C796;
$bg-color-twenty:#9BD772;
$bg-color-twentyfirst:#FF931E;
$bg-color-twentysecond:#0071BC;
$bg-color-twentythird:#00ADD8;
$bg-color-twentyfourth:#22B573;
$bg-color-twentyfifth:#959595;
$bg-color-twentysixth:#E46C0A;
$bg-color-twentyseventh:#C8C8C8;
$bg-color-twentyeighth:#272727;
$bg-color-twentyninth:#FF6467;
$bg-color-thirty:#4E4E4E;
$bg-color-thirtyfirst:#21b573;
$bg-color-thirtysecond:#000;




/* Text Colors */

$text-color-primary:#fff;
$text-color-secondary:#7AC943;
$text-color-third:#0095FF;
$text-color-fourth:#4D4D4D;
$text-color-fifth:#D1D1D1;
$text-color-sixth:#FF1D25;
$text-color-seventh:#1A1A1A;
$text-color-eighth:#adadad;
$text-color-ninth:#E2E2E2;
$text-color-tenth:#E46C0A;
$text-color-eleventh:#30A570;
$text-color-twelfth:#AAA;
$text-color-thirteenth:#808080;
$text-color-fourteenth:#666;
$text-color-fifteenth:#4095CD;
$text-color-sixteenth:#40C1E2;
$text-color-seventeenth:#59C796;
$text-color-eighteenth:#9BD772;
$text-color-ninteenth:#C4C0C0;
$text-color-twenty:#333;
$text-color-twentyfirst:#3fa4f0;
$text-color-twentysecond:#7A7A7A;
$text-color-twentythird:#4C374C;
$text-color-twentyfourth:#21b573;


