<link href="../../../resources/css/dashboardpage/hoe.css" rel="stylesheet">
<main class="tab_with"> <input id="tab1" type="radio" name="tabs" checked> <label for="tab1">Note</label> <input id="tab2" type="radio"
    name="tabs"> <label for="tab2">Video</label> <input id="tab3" type="radio" name="tabs"> <label for="tab3">Text</label>
<section class="section_tab" id="content1">
    <div class="col-md-3 column">
        <div class="feature-box pdf_space">
            <span class="feature-icon"><i class="fa fa-file-pdf-o"></i></span>
            <h4>
                <a href="#">Download</a>
            </h4>
        </div>
    </div>
    <div class="col-md-3 column">
        <div class="feature-box pdf_space">
            <span class="feature-icon"><i class="fa fa-file-pdf-o"></i></span>
            <h4>
                <a href="#">Download</a>
            </h4>
        </div>
    </div>
    <div class="col-md-3 column">
        <div class="feature-box pdf_space">
            <span class="feature-icon"><i class="fa fa-file-pdf-o"></i></span>
            <h4>
                <a href="#">Download</a>
            </h4>
        </div>
    </div>
    <div class="col-md-3 column">
        <div class="feature-box pdf_space">
            <span class="feature-icon"><i class="fa fa-file-pdf-o"></i></span>
            <h4>
                <a href="#">Download</a>
            </h4>
        </div>
    </div>
</section>
<section class="section_tab" id="content2">
    <div class="col-md-3 column">
        <div class="feature-box pdf_space">
            <span class="feature-icon"><i class="fa fa-file-movie-o"></i></span>
            <h4>
                <a href="#">Watch on youtube</a>
            </h4>
        </div>
    </div>
    <div class="col-md-3 column">
        <div class="feature-box pdf_space">
            <span class="feature-icon"><i class="fa fa-file-movie-o"></i></span>
            <h4>
                <a href="#">Watch on youtube</a>
            </h4>
        </div>
    </div>
    <div class="col-md-3 column">
        <div class="feature-box pdf_space">
            <span class="feature-icon"><i class="fa fa-file-movie-o"></i></span>
            <h4>
                <a href="#">Watch on youtube</a>
            </h4>
        </div>
    </div>
    <div class="col-md-3 column">
        <div class="feature-box pdf_space">
            <span class="feature-icon"><i class="fa fa-file-video-o"></i></span>
            <h4>
                <a href="#">Watch on youtube</a>
            </h4>
        </div>
    </div>
</section>
<section class="section_tab" id="content3">
    <div class="col-md-4 column">
        <div class="feature-box pdf_space">
            <span class="feature-icon"><i class="fa fa-file-text-o"></i></span>
            <h4>Gmat Test</h4>
            <h4>
                <a href="#">Take Test</a>
            </h4>
        </div>
    </div>
    <div class="col-md-4 column">
        <div class="feature-box pdf_space">
            <span class="feature-icon"><i class="fa fa-file-text-o"></i></span>
            <h4>Untimed Test</h4>
            <h4>
                <a href="#">Take Test</a>
            </h4>
        </div>
    </div>
    <div class="col-md-4 column">
        <div class="feature-box pdf_space">
            <span class="feature-icon"><i class="fa fa-file-text-o"></i></span>
            <h4>CR Mass upload test 1</h4>
            <h4>
                <a href="#">Take Test</a>
            </h4>
        </div>
    </div>
    <div class="col-md-4 column">
        <div class="feature-box pdf_space">
            <span class="feature-icon"><i class="fa fa-file-text-o"></i></span>
            <h4>Mix paper Trial</h4>
            <h4>
                <a href="#">Take Test</a>
            </h4>
        </div>
    </div>
</section>
</main>
<div class="col-md-3 column right-navbar-right">
    <div class="notification">
        <h3>
            <i class="fa-circle"></i>Notification
        </h3>
        <p>
            <span>Coming Soon</span>
        </p>
        <div class="clearfix"></div>
        <div class="disc-room">
            <br> <br> <a ui-sref="chalkanddust.discussionroomfirstpage"> <i class="fa-group"></i><br>
                <h3>Discussion Room</h3>
            </a>
        </div>
    </div>
</div>
<script src="./resources/prefixfree.min.js"></script>
<script src="./resources/1.11.2.jquery.min.js"></script>
<script src="./resources/bootstrap.min.js"></script>
<script src="./resources/js/hoe.js"></script>