<link href="../../../resources/css/dashboardpage/hoe.css" rel="stylesheet">
<main class="tab_with"> <input id="tab1" type="radio" name="tabs" checked> <label for="tab1">Video</label> <input id="tab2"
    type="radio" name="tabs"> <label for="tab2">Notes</label> <input id="tab3" type="radio" name="tabs"> <label for="tab3">Test</label>
<section class="section_tab" id="content1">
    <div ng-show="!showVideoDiv" class="col-md-12 column" ng-repeat="item in videoObject">
        <div class="feature-box pdf_space">
            <iframe width="600" height="315" ng-src="{{item.videoEmbedLink}}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div ng-show="showVideoDiv" class="col-md-12 column">
        <div class="feature-box pdf_space">No videos right now ,coming soon.</div>
    </div>
</section>
<section class="section_tab" id="content2">
    <div ng-show="!showNotesDiv" class="col-md-12 column" ng-repeat="item in notesObject">
        <div class="feature-box">
            <span class="feature-icon"><i class="fa fa-file-pdf-o"></i></span>
            <h4>
                <a target="_blank" ui-sref="chalkanddust.shownotes({pdfUrl: item.fileUrl, pdfName: item.notesTitle})">Notes</a>
            </h4>
        </div>
    </div>
    <div ng-show="showNotesDiv" class="col-md-12 column">
        <div class="feature-box pdf_space">No notes right now ,coming soon.</div>
    </div>
</section>
<section class="section_tab" id="content3">
    <div class="col-md-12 column">
        <div class="feature-box">
            <span class="feature-icon"><i class="fa fa-file-text-o"></i></span>
            <h4>20 Min Test</h4>
            <h4>
                <a ui-sref="chalkanddust.testInstruction({type:'cf92f98c-4684-11e6-beb8-9e71128cae77'})">Take Test</a>
            </h4>
        </div>
    </div>
    <div class="col-md-12 column">
        <div class="feature-box">
            <span class="feature-icon"><i class="fa fa-file-text-o"></i></span>
            <h4>40 Min Test</h4>
            <h4>
                <a ui-sref="chalkanddust.testInstruction({type:'cf92fe46-4684-11e6-beb8-9e71128cae77'})">Take Test</a>
            </h4>
        </div>
    </div>
    <div class="col-md-12 column">
        <div class="feature-box">
            <span class="feature-icon"><i class="fa fa-file-text-o"></i></span>
            <h4>60 Min Test</h4>
            <h4>
                <a ui-sref="chalkanddust.testInstruction({type:'cf92fc16-4684-11e6-beb8-9e71128cae77'})">Take Test</a>
            </h4>
        </div>
    </div>
</section>
</main>
<div class="col-md-3 column right-navbar-right">
    <div class="notification">
        <h3>
            <i class="fa-circle"></i>Notification
        </h3>
        <p>
            <span>Coming Soon</span>
        </p>
        <div class="clearfix"></div>
        <div class="disc-room">
            <br> <br> <a ui-sref="chalkanddust.discussionroomfirstpage"> <i class="fa-group"></i><br>
                <h3>Discussion Room</h3>
            </a>
        </div>
    </div>
</div>
<script src="./resources/prefixfree.min.js"></script>
<script src="./resources/1.11.2.jquery.min.js"></script>
<script src="./resources/bootstrap.min.js"></script>
<script src="./resources/js/hoe.js"></script>