<style>
#content4 th {
	color: #fff;
}
</style>
<main class="col-sm-3 col-md-12 col-sm-6 col-md-12 col-sm-9"> 
<input id="tab1" type="radio" name="tabs" checked> 
<label for="tab1">Video</label>
<input id="tab2" type="radio" name="tabs"> 
<label for="tab2">Notes</label>
<input id="tab3" type="radio" name="tabs"> 
<label for="tab3">Test</label>
<input id="tab4" type="radio" name="tabs"> 
<label for="tab4">Result</label>
<section class="section_tab" id="content1">
    <div ng-show="!showVideoDiv" class="col-md-12 col-sm-6 column" ng-repeat="item in videoObject">
        <div class="feature-box pdf_space feature_box_width">
            <iframe width="100%" ng-src="{{item.videoEmbedLink}}" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>
    <div ng-show="showVideoDiv" class="col-md-12 col-sm-6 column">
        <div class="feature-box pdf_space feature_box_width">No videos right now ,coming soon.</div>
    </div>
</section>
<section class="section_tab" id="content2">
    <div ng-show="!showNotesDiv" class="col-md-12 col-sm-6 column" ng-repeat="item in notesObject">
        <div class="feature-box">
            <span class="feature-icon"><i class="fa fa-file-pdf-o"></i></span>
            <h4>
                <a target="_blank" ui-sref="chalkanddust.shownotes({pdfUrl: item.fileUrl, pdfName: item.notesTitle})">Notes</a>
            </h4>
        </div>
    </div>
    <div ng-show="showNotesDiv" class="col-md-12 col-sm-6 column">
        <div class="feature-box pdf_space feature_box_width">No notes right now ,coming soon.</div>
    </div>
</section>
<section class="section_tab" id="content3">
    <div class="col-md-12 column">
        <div class="feature-box">
            <span class="feature-icon"><i class="fa fa-file-text-o"></i></span>
            <h4>20 Min Test</h4>
            <h4>
                <a ui-sref="chalkanddust.testInstruction({type:'cf92f98c-4684-11e6-beb8-9e71128cae77',scheduletestuuid:1,subjectId:1})">Take Test</a>
            </h4>
        </div>
    </div>
    <div class="col-md-12 column">
        <div class="feature-box">
            <span class="feature-icon"><i class="fa fa-file-text-o"></i></span>
            <h4>40 Min Test</h4>
            <h4>
                <a ui-sref="chalkanddust.testInstruction({type:'cf92fe46-4684-11e6-beb8-9e71128cae77',scheduletestuuid:1,subjectId:1})">Take Test</a>
            </h4>
        </div>
    </div>
    <div class="col-md-12 column">
        <div class="feature-box">
            <span class="feature-icon"><i class="fa fa-file-text-o"></i></span>
            <h4>60 Min Test</h4>
            <h4>
                <a ui-sref="chalkanddust.testInstruction({type:'cf92fc16-4684-11e6-beb8-9e71128cae77',scheduletestuuid:1,subjectId:1})">Take Test</a>
            </h4>
        </div>
    </div>
</section>
<section class="section_tab" id="content4">
    <div ng-show="showResultDiv" class="col-md-12 column">
        <div class="row">
            <div class="table-responsive ">
                <table id="ResultListTable" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Test</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Total Marks</th>
                            <th>Show</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="result in resultList">
                            <td>{{result.testTitle}}</td>
                            <td>{{result.testDate}}</td>
                            <td>{{result.testTime}}</td>
                            <td>{{result.totalMarks}}</td>
                            <td><a ng-click="detailedResult(result.testUuid)" title="View"> <i class="glyphicon glyphicon-eye-open"
                                    aria-hidden="true"></i>
                            </a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div ng-show="showResultDetailsDiv" class="col-md-12 column">
        <div class="row">
            <div>
                <button name="back" ng-click="backToResultList()" class="btn btn-primary">Back</button>
            </div>
            <div class="table-responsive ">
                <table id="ResultListTable" class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Option A</th>
                            <th>Option B</th>
                            <th>Option C</th>
                            <th>Option D</th>
                            <th>Answer Opted</th>
                            <th>Answer</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="resultDetail in resultDetailList">
                            <td>{{resultDetail.question}}</td>
                            <td>{{resultDetail.optionA}}</td>
                            <td>{{resultDetail.optionB}}</td>
                            <td>{{resultDetail.optionC}}</td>
                            <td>{{resultDetail.optionD}}</td>
                            <td>{{resultDetail.answerOpted}}</td>
                            <td>{{resultDetail.answer}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div ng-show="!showResultDiv && !showResultDetailsDiv" class="col-md-12 column">
        <div class="feature-box pdf_space">Result data not available.</div>
    </div>
</section>
</main>
<div class="col-md-3 column right-navbar-right">
    <div class="notification">
        <h3>
            <i class="fa-circle"></i>Notification
        </h3>
        <div style="min-height: 200px;">
            <p ng-repeat="item in notificationList">
                <a ui-sref="chalkanddust.testInstruction({type:item.testTypeUuid,scheduletestuuid:item.scheduleTestUuid,subjectId:item.subjectId})">{{item.testTitle}}</a>
            </p>
        </div>
        <div class="clearfix"></div>
        <div class="disc-room">
            <br> <br> <a ui-sref="chalkanddust.discussionroomfirstpage"> <i class="fa-group"></i><br>
                <h3>Discussion Room</h3>
            </a>
        </div>
    </div>
</div>
<script src="./resources/js/prefixfree.min.js"></script>
<script src="./resources/js/hoe.js"></script>