<style>
.main_bg_bg {
background-size: 100%;
	width: 100%;
	height: 1000px;
	top: 0;
	z-index: 0;
    background:none;
}
</style>
<div id="hoeDiv" hoe-navigation-type="vertical" hoe-nav-placement="left" theme-layout="wide-layout" theme-bg="bg1">
    <div id="hoeapp-wrapper" class="hoe-hide-lpanel" hoe-device-type="desktop">
        <header id="hoe-header" hoe-lpanel-effect="shrink">
            <div class="hoe-left-header">
                <a ui-sref="chalkanddust.home" href="javascript:void(0);"><i class="fa fa-graduation-cap"></i> <span>Chalk & Dust</span></a> <span
                    class="hoe-sidebar-toggle"><a href="#"></a></span>
            </div>
            <div class="hoe-right-header" hoe-position-type="relative">
                <!--                 <span class="hoe-sidebar-toggle"><a href="#"></a></span> -->
                <ul class="left-navbar">
                    <li>
                        <form method="post" class="hoe-searchbar">
                            <h4>
                                <a ui-sref="chalkanddust.profile" href="javascript:void(0);">Dashboard</a>
                            </h4>
                        </form>
                    </li>
                </ul>
                <ul class="right-navbar">
                    <!-- <li><a href="#" ng-show="fullName"><i class="fa fa-user"></i>{{fullName}} </a></li>
                	<li><a ui-sref="chalkanddust.student">My Profile</a></li>
                	<li><a ui-sref="chalkanddust.logout">Log Out</a></li> -->
                    <li class="dropdown hoe-rheader-submenu hoe-header-profile"><a href="javascript:void(0)" class="dropdown-toggle"
                        data-toggle="dropdown"> <span ng-show="isUndefined(userProfilePhoto)"><img src="./resources/images/user.png"
                                alt="no image"></span> <span ng-show="!isUndefined(userProfilePhoto)"><img class="img-circle "
                                ng-src="{{userProfilePhoto}}" alt="Profile Photo"></span> <span><b>{{fullName}}</b> <i class=" fa fa-angle-down"></i></span>
                    </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                            <li><a ui-sref="chalkanddust.student"><i class="fa fa-user"></i>My Profile</a></li>
                            <li><a ui-sref="chalkanddust.logout"><i class="fa fa-power-off"></i>Logout</a></li>
                        </ul></li>
                </ul>
            </div>
        </header>
        <div id="hoeapp-container" hoe-color-type="lpanel-bg2" hoe-lpanel-effect="shrink">
            <section id="main-content">
                <div class="inner-content">
                    <div class="col-md-9 column t_instruction">
                        <h3>Instructions For This Test</h3>
                    </div>
                    <div class="col-md-9 column t_instruction_ans">
                        <br />
                        <div style="margin-left: 30px;">
                            <h3>Before beginning the exam:</h3>
                            <div style="font-size: 16px;">
                                <p>
                                    1. <b>Minimum Browser Requirements</b> Internet Explorer 9, Firefox 1, or Google Chrome are required to log into
                                    the exam
                                </p>
                                <p>2. Make sure you have a good internet connection.</p>
                                <p>3. Check for hardware with suitable power supply.</p>
                                <p>4. Click on Submit button to submit the exam.</p>
                            </div>
                        </div>
                        <button type="button" class="btn btn-secondary" ng-click="startTest();">Start Test</button>
                        <button type="button" class="btn btn-secondary" ng-click="goBackToDashBoard();">Back To Dashboard</button>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <script src="./resources/js/hoe.js"></script>
</div>
