<style>
.main_bg_bg{
background-image: none;
background-size:100%;
	width:0%;
	height:1000px;
	
	top:0;
	z-index:0;
	position:fixed;
}
</style>
<div><div class="d_head">
	<div class="logo">
	<a href="index.html"><img src="../../../../resources/images/logo.png" /></a>
	</div>
	<div class="menu_d_room">
    	<ul>
        	<li><a href="#"><i class="search_d"></i>Search</a></li>
            <li><a href="#"><i class="resent_d"></i>Resent Topic</a></li>
            <li><a href="#"><i class="hottest_d"></i>Hottest Topic</a></li>
            <li><a href="#"><i class="member_d"></i>Member Listing</a></li>
            <li><a href="#"><i class="home_d"></i>Back To Home Page</a></li>
            <li><a href="#"><i class="moderation_d"></i>Moderation Log</a></li>
            <li><a href="#"><i class="register_d"></i>Register</a></li>
            <li><a href="#"><i class="log_d"></i>Log In</a></li>
        </ul>
    </div>
</div>
	<div class="clear"></div>
<div class="table_d">
	<div class="main_time">
    	<h5>The time now is: 27/01/2016 17:09:09</h5>
        <h3><a href="#">Forum Index</a></h3>
    </div>
    <table width="100%">
  <tr>
    <th scope="col" height="40px">no</th>
    <th scope="col" height="40px">Forums</th>
    <th scope="col" height="40px">&nbsp;&nbsp;Topics&nbsp;&nbsp;</th>
    <th scope="col" height="40px">&nbsp;&nbsp;Messages&nbsp;&nbsp;</th>
    <th scope="col" height="40px">&nbsp;Last Message&nbsp;</th>
  </tr>
  <tr>
    <td>1</td>
    <td><a ui-sref="chalkanddust.topics">Open Discussion</a><br />
    	<p>Want to talk about OSBI and SpagoBI? Got great ideas for SpagoBI enhancement? Want to make suggestions? Here is the right place.</p></td>
    <td align="center">333</td>
    <td align="center">814</td>
    <td align="center" class="center_d"><p>25/01/2016 18:53:45</p><a href="#">velmuruganms12.spw
    &nbsp;&nbsp;</a></td>
  </tr>
  <tr>
    <td>1</td>
    <td><a href="#">Technical Help - SpagoBI Server - CORE</a><br />
<p>Need help to setup SpagoBI? Issues with some SpagoBI core and cross-platform functionalities? Questions regarding usage, operation? Ask for help, share your experience with other developers in this section.</p> </td>
    <td align="center">814</td>
    <td align="center">814</td>
    <td align="center" class="center_d"><p>25/01/2016 18:53:45</p><a href="#">velmuruganms12.spw
    &nbsp;&nbsp;</a></td>
  </tr>
  <tr>
    <td>1</td>
    <td><a href="#">Technical Help - SpagoBI Server - REPORTING</a><br />
    <p>Need help about SpagoBI reporting? Issues with some SpagoBI report engines (Birt, JasperReport, accessible reporting) ? Ask for help, share your experience with other developers in this section. </p></td>
    <td align="center">814</td>
    <td align="center">814</td>
    <td align="center" class="center_d"><p>25/01/2016 18:53:45</p><a href="#">velmuruganms12.spw
    &nbsp;&nbsp;</a></td>
  </tr>
  <tr>
    <td>1</td>
    <td><a href="#">Technical Help - SpagoBI Server - OLAP</a><br />
    	<p>Need help about SpagoBI multidimensional analysis? Issues with some SpagoBI OLAP engines (JPivotMondrian, JPaloMondrian, XMLA engine) ? Ask for help, share your experience with other developers in this section. </p>
    </td>
    <td align="center">814</td>
    <td align="center">814</td>
    <td align="center" class="center_d"><p>25/01/2016 18:53:45</p><a href="#">velmuruganms12.spw
    &nbsp;&nbsp;</a></td>
  </tr>
  <tr>
    <td>1</td>
    <td><a href="#">Technical Help - SpagoBI Server - CHART & DASH</a><br />
    	<p>Need help about SpagoBI charts and dashs? Issues with some SpagoBI chart/dash engines (charts with JfreeChart, dashs with OpenLazslo) ? Ask for help, share your experience with other developers in this section. </p></td>
    <td align="center">333</td>
    <td align="center">814</td>
    <td align="center" class="center_d"><p>25/01/2016 18:53:45</p><a href="#">velmuruganms12.spw
    &nbsp;&nbsp;</a></td>
  </tr>
  <tr>
    <td>1</td>
    <td><a href="#">Technical Help - SpagoBI Server - GEO/GIS</a><br />
    	<p>Need help about SpagoBI geo-referenced analysis? Issues with some SpagoBI GEO engines (GEO with SVG, GIS with external WMS servers) ? Ask for help, share your experience with other developers in this section. </p></td>
    <td align="center">333</td>
    <td align="center">814</td>
    <td align="center" class="center_d"><p>25/01/2016 18:53:45</p><a href="#">velmuruganms12.spw
    &nbsp;&nbsp;</a></td>
  </tr>
  <tr>
    <td>1</td>
    <td><a href="#">Technical Help - SpagoBI Server - KPI</a><br />
    	<p>Need help about SpagoBI KPIs? Issues with the SpagoBI KPI engine ? Ask for help, share your experience with other developers in this section. </p></td>
    <td align="center">333</td>
    <td align="center">814</td>
    <td align="center" class="center_d"><p>25/01/2016 18:53:45</p><a href="#">velmuruganms12.spw
    &nbsp;&nbsp;</a></td>
  </tr>
  <tr>
    <td>1</td>
    <td><a href="#">Technical Help - SpagoBI Server - COCKPIT</a><br />
    	<p>Need help about SpagoBI cockpits? Issues with the SpagoBI engine for interactive cockpits (Composed Document) ? Ask for help, share your experience with other developers in this section.</p></td>
    <td align="center">333</td>
    <td align="center">814</td>
    <td align="center" class="center_d"><p>25/01/2016 18:53:45</p><a href="#">velmuruganms12.spw
    &nbsp;&nbsp;</a></td>
  </tr>
  <tr>
    <td>1</td>
    <td><a href="#">Technical Help - SpagoBI Server - FREE INQUIRY</a><br />
    	<p>Need help about SpagoBI free inquiring? Issues with some SpagoBI inquiry engines (QbE, Smart Filter) ? Ask for help, share your experience with other developers in this section. </p></td>
    <td align="center">333</td>
    <td align="center">814</td>
    <td align="center" class="center_d"><p>25/01/2016 18:53:45</p><a href="#">velmuruganms12.spw
    &nbsp;&nbsp;</a></td>
  </tr>
  <tr>
    <td>1</td>
    <td><a href="#">Technical Help - SpagoBI Server - AD HOC REPORTING</a><br />
    	<p>Need help about SpagoBI Ad Hoc Reporting? Issues with some SpagoBI Worksheet Engine? Ask for help, share your experience with other developers in this section. </p></td>
    <td align="center">333</td>
    <td align="center">814</td>
    <td align="center" class="center_d"><p>25/01/2016 18:53:45</p><a href="#">velmuruganms12.spw
    &nbsp;&nbsp;</a></td>
  </tr>
  <tr>
    <td>1</td>
    <td><a href="#">Technical Help - SpagoBI Server - SELF SERVICE BI</a><br />
    	<p>Need help about SpagoBI Self Service BI? Ask for help and suggestions, share your experience with other developers in this section. </p></td>
    <td align="center">333</td>
    <td align="center">814</td>
    <td align="center" class="center_d"><p>25/01/2016 18:53:45</p><a href="#">velmuruganms12.spw
    &nbsp;&nbsp;</a></td>
  </tr>
  <tr>
    <td>1</td>
    <td><a href="#">	Technical Help - SpagoBI Server - RT CONSOLE</a><br />
    	<p>Need help about SpagoBI RT monitoring? Issues with the SpagoBI engine for RT monitoring (RT Console) ? Ask for help, share your experience with other developers in this section. </p></td>
    <td align="center">333</td>
    <td align="center">814</td>
    <td align="center" class="center_d"><p>25/01/2016 18:53:45</p><a href="#">velmuruganms12.spw
    &nbsp;&nbsp;</a></td>
  </tr>
</table>

    
    <div class="clear"></div>
    <div class="powered"><p>Powered by Chalk & Dust</p></div>
</div>
</div>