<style>
.main_bg_bg{
background-image: none;
background-size:100%;
	width:0%;
	height:1000px;
	
	top:0;
	z-index:0;
	position:fixed;
}
</style>
<div><div class="d_head">
	<div class="logo">
	<a href="index.html"><img src="../../../../resources/images/logo.png" /></a>
	</div>
	<div class="menu_d_room" align="right">
    	<ul>
        	<li><a ui-sref="chalkanddust.student" ng-show="fullName"><i class="fa fa-user"></i>{{fullName}}</a></li>
        </ul>
    </div>
</div>
	<div class="clear"></div>
<div class="table_d">
	<div class="main_time">
	<br/>
    	<h5>The time now is: {{currentDate | date:'MMM dd, yyyy h:mm a'}}</h5>
        
    </div>
    	<div class="clear"></div>
    <div class="number_scroll">
    	
        <input ng-model="search" type="text" style="width: 40%" placeholder="Search topic" />
        <div class="num_s">
        	<pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"></pagination>
        </div>
    </div>
    <table width="100%">
	  <tr>
	    <th scope="col" height="40px" width="770px">Topic</th>
	    <th scope="col" height="40px" width="85px">&nbsp;&nbsp;Comments &nbsp;&nbsp;</th>
	    <th scope="col" height="40px" width="160px">&nbsp;Last Message&nbsp;</th>
	  </tr>
	  <tbody>
       <tr ng-repeat="item in topicDetails | filter:search" >
	    <td><a href="#" ui-sref="chalkanddust.discussionroomcomments({topicId: item.topicId})">{{item.topicTitle}}</a></td>
	    <td align="center">{{item.comments}}</td>
	    <td align="center" class="center_d"><p>{{item.lastModifiedDate}}</p><a ui-sref="chalkanddust.student">{{item.lastModifiedUserName}}
	    &nbsp;&nbsp;</a></td>
	   </tr>  
</table>
<div class="number_scroll">     
        <div class="num_s">
        	<pagination total-items="totalItems" ng-model="currentPage" items-per-page="itemsPerPage"></pagination>
        </div>
    </div>

    
    <div class="clear"></div>
    <div class="powered"><p>Powered by Chalk&Dust</p></div>
</div>
</div>
