<style>
.main_bg_bg{
background-image: none;
background-size:100%;
	width:0%;
	height:1000px;
	
	top:0;
	z-index:0;
	position:fixed;
}
</style>
<div ><div class="d_head">
	<div class="logo">
	<a ui-sref="chalkanddust.home"><img src="../../../../resources/images/logo.png" /></a>
	</div>
	<div class="menu_d_room">
    	<ul>
    		<li><a ui-sref="chalkanddust.student" ng-show="fullName"><i class="fa fa-user"></i>{{fullName}}</a></li>
        </ul>
        <div class="number_scroll">
      <button  style="float: right;" ng-click="disCtrl.goBackToProfileScreen()">Go Back</button>
          <button class="requestTopicButton"  style="float: right;" ng-click="">Request New Topic For Discussion</button>
        </div>
    </div>
</div>
	<div class="clear"></div>
<div class="table_d">
	<div class="main_time">
		<h3><label>Subjects Index</label></h3><br/>
    	<h5>The time now is: {{currentDate | date:'MMM dd, yyyy h:mm a'}}</h5><br/>
    </div>
    <table width="100%">
  <tr>
     <th scope="col" width="10px" height="10px"></th>
    <th scope="col" height="40px">Subjects</th>
    <th scope="col" height="40px">&nbsp;&nbsp;Topics&nbsp;&nbsp;</th>
    <th scope="col" height="40px">&nbsp;&nbsp;Messages&nbsp;&nbsp;</th>
    <th scope="col" height="40px">&nbsp;Last Message&nbsp;</th>
  </tr>
  <tbody>
       <tr ng-repeat="item in topicStatistics">
        <td><img src="./resources/images/icon_D/folder_big.gif" /></td>
	    <td align="center">
	    <h1><a href="#" ui-sref="chalkanddust.discussionroomtopics({subjectId: item.subjectId})">{{item.subjectName}}</a></h1></td>
	    <td align="center">{{item.topics}}<span class="empty" ng-show="!item.topics">N/A</span></td>
	    <td align="center">{{item.comments}}<span class="empty" ng-show="!item.comments">N/A</span></td>
	    <td align="center" class="center_d"><p>{{item.lastModifiedDate}}</p>{{item.lastModifiedUserName}}
	    &nbsp;&nbsp;  <span class="empty" ng-show="!item.lastModifiedDate">N/A</span></td>
       </tr>
  </tbody>
</table>

    
    <div class="clear"></div>
    <div class="powered"><p>Powered by Chalk & Dust</p></div>
</div>
</div>