<style>
.main_bg_bg{
background-image: none;
background-size:100%;
	width:0%;
	height:1000px;
	
	top:0;
	z-index:0;
	position:fixed;
}
</style>
<div><div class="d_head">
	<div class="logo">
	<a ui-sref="chalkanddust.home"><img src="../../../../resources/images/logo.png" /></a>
	</div>
	<div class="menu_d_room" align="right">
    	<ul>
        	<li><a ui-sref="chalkanddust.student" ng-show="fullName"><i class="fa fa-user"></i>{{fullName}}</a></li>
        </ul>
        <div class="number_scroll">
      <button  style="float: right;" ng-click="topicCtrl.goBackToSubjectsScreen()">Go Back</button>
    <button class="requestTopicButton"  style="float: right;" ng-click="topicCtrl.openTopicRequest()">Request New Topic For Discussion</button>
    </div>
    </div>
</div>
	<div class="clear"></div>
<div class="table_d">
	<div class="main_time">
<h3><label ng-bind="subjectName"></label></h3><br/>
    	<h5>The time now is: {{currentDate | date:'MMM dd, yyyy h:mm a'}}</h5>
        
    </div>
    	<div class="clear"></div>
    <div class="number_scroll">
    	
        <input ng-model="search" type="text" style="width: 40%" placeholder="Search topic" />
        <div class="num_s">
          <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" items-per-page="itemsPerPage"  boundary-link-numbers="true"></uib-pagination>      
         </div> 
    </div>
    <table width="100%">
	  <tr>
       <th scope="col" width="10px" height="10px"></th>
	    <th scope="col" height="40px" width="770px">Topic</th>
	    <th scope="col" height="40px" width="85px">&nbsp;&nbsp;Comments &nbsp;&nbsp;</th>
	    <th scope="col" height="40px" width="160px">&nbsp;Last Message&nbsp;</th>
	  </tr>
	  <tbody>
       <tr ng-repeat="item in topicDetails=topicList | filter:search|startFrom:(currentPage-1)*itemsPerPage | limitTo:itemsPerPage" >
        <td><img src="./resources/images/icon_D/folder_big.gif" /></td>
	    <td style="text-align: left;"><a href="#" ui-sref="chalkanddust.discussionroomcomments({topicId: item.topicId})">{{item.topicTitle}}</a><span class="empty" ng-show="!item.topicTitle">N/A</span></td>
	    <td align="center">{{item.comments}}</td>
	    <td align="center" class="center_d"><p>{{item.lastModifiedDate}}</p>{{item.lastModifiedUserName}}
	    &nbsp;&nbsp;<span class="empty" ng-show="!item.lastModifiedDate">N/A</span></td>
	   </tr>  
</table>
<div class="number_scroll">     
         <div class="num_s"> 
          <uib-pagination total-items="totalItems" ng-model="currentPage" max-size="maxSize" items-per-page="itemsPerPage"  boundary-link-numbers="true"></uib-pagination>      
         </div> 
    </div>

    
    <div class="clear"></div>
</div>
</div>
<div footer></div>