<style>
.main_bg_bg{
background-image: none;
background-size:100%;
	width:0%;
	height:1000px;
	
	top:0;
	z-index:0;
	position:fixed;
}
</style>
<div>
<div class="d_head">
	<div class="logo">
	<a href="index.html"><img src="../../../../resources/images/logo.png" /></a>
	</div>
	<div class="menu_d_room">
    	<ul>
        	<li><a href="#"><i class="search_d"></i>Search</a></li>
            <li><a href="#"><i class="resent_d"></i>Resent Topic</a></li>
            <li><a href="#"><i class="hottest_d"></i>Hottest Topic</a></li>
            <li><a href="#"><i class="member_d"></i>Member Listing</a></li>
            <li><a href="#"><i class="home_d"></i>Back To Home Page</a></li>
            <li><a href="#"><i class="moderation_d"></i>Moderation Log</a></li>
            <li><a href="#"><i class="register_d"></i>Register</a></li>
            <li><a href="#"><i class="log_d"></i>Log In</a></li>
        </ul>
    </div>
</div>
	<div class="clear"></div>
<div class="table_d">
	<div class="main_time number_scroll">
    	<h5>DataSource with Chalk & Dust</h5>
        <button style="float:right"><a href="#">Post Reply</a></button>
        <h3 style="float:left"><a href="#">Forum Index</a> &raquo;&nbsp;<a href="#">Open Discussion</a></h3>
    </div>
    	<div class="clear"></div>
    
    <table width="100%">
  <tr>
    <th scope="col" height="40px" width="200px">Auther</th>
    <th scope="col" height="40px">Message</th>
  </tr>
  <tr>
    <td align="center" height="10" bgcolor="#FFFFFF">06/11/2014 17:33:17</td>
    <td align="left" height="10" bgcolor="#FFFFFF"><h5>Subject: <a href="#">DataSource with MongoDB</a></h5>
    </td>
  </tr>
  <tr>
    <td>v.striano.spw <br />
            <br /><br />
            Joined: 05/11/2014 12:03:16<br />
Messages: 1 <br />
 <br /><br />&nbsp;
    </td>
    <td>Hi, <br />
    how to set the field Driver(jdbc) for MongoDB in a new data source? (use SpagoBI 5.x)<br /><br />
    thanks <br /><br />
    Vincenzo
    <br />
    
    </td>
 </tr>
  <tr>
    <td align="center" height="10" bgcolor="#FFFFFF">06/11/2014 17:33:17</td>
    <td align="left" height="10" bgcolor="#FFFFFF"><h5>Subject: <a href="#">DataSource with MongoDB</a></h5>
        </div>
    </td>
  </tr>
  <tr>
    <td>v.striano.spw <br />
            <br /><br />
            Joined: 05/11/2014 12:03:16<br />
Messages: 1 <br />
 <br /><br />&nbsp;
    </td>
    <td>Hi, <br />
    how to set the field Driver(jdbc) for MongoDB in a new data source? (use SpagoBI 5.x)<br /><br />
    thanks <br /><br />
    Vincenzo
    <br />
    
    </td>
 </tr>
  <tr>
    <td align="center" height="10" bgcolor="#FFFFFF">06/11/2014 17:33:17</td>
    <td align="left" height="10" bgcolor="#FFFFFF"><h5>Subject: <a href="#">DataSource with MongoDB</a></h5>
        </div>
    </td>
  </tr>
  <tr>
    <td>v.striano.spw <br />
            <br /><br />
            Joined: 05/11/2014 12:03:16<br />
Messages: 1 <br />
 <br /><br />&nbsp;
    </td>
    <td>Hi, <br />
    how to set the field Driver(jdbc) for MongoDB in a new data source? (use SpagoBI 5.x)<br /><br />
    thanks <br /><br />
    Vincenzo
    <br />
    
    </td>
 </tr>
  <tr>
    <td align="center" height="10" bgcolor="#FFFFFF">06/11/2014 17:33:17</td>
    <td align="left" height="10" bgcolor="#FFFFFF"><h5>Subject: <a href="#">DataSource with MongoDB</a></h5>
        </div>
    </td>
  </tr>
  <tr>
    <td>v.striano.spw <br />
            <br /><br />
            Joined: 05/11/2014 12:03:16<br />
Messages: 1 <br />
 <br /><br />&nbsp;
    </td>
    <td>Hi, <br />
    how to set the field Driver(jdbc) for MongoDB in a new data source? (use SpagoBI 5.x)<br /><br />
    thanks <br /><br />
    Vincenzo
    <br />
    
    </td>
 </tr>
  <tr>
    <td align="center" height="10" bgcolor="#FFFFFF">06/11/2014 17:33:17</td>
    <td align="left" height="10" bgcolor="#FFFFFF"><h5>Subject: <a href="#">DataSource with MongoDB</a></h5>
        </div>
    </td>
  </tr>
  <tr>
    <td>v.striano.spw <br />
            <br /><br />
            Joined: 05/11/2014 12:03:16<br />
Messages: 1 <br />
 <br /><br />&nbsp;
    </td>
    <td>Hi, <br />
    how to set the field Driver(jdbc) for MongoDB in a new data source? (use SpagoBI 5.x)<br /><br />
    thanks <br /><br />
    Vincenzo
    <br />
    
    </td>
 </tr>
  <tr>
    <td align="center" height="10" bgcolor="#FFFFFF">06/11/2014 17:33:17</td>
    <td align="left" height="10" bgcolor="#FFFFFF"><h5>Subject: <a href="#">DataSource with MongoDB</a></h5>
    </td>
  </tr>
  <tr>
    <td>v.striano.spw <br /><br /><br />
            Joined: 05/11/2014 12:03:16<br />
Messages: 1 <br />
 <br /><br />&nbsp;
    </td>
    <td>Hi, <br />
    how to set the field Driver(jdbc) for MongoDB in a new data source? (use SpagoBI 5.x)<br /><br />
    thanks <br /><br />
    Vincenzo
    <br />
    
    </td>
 </tr>
  <tr>
    <td align="center" height="10" bgcolor="#FFFFFF">06/11/2014 17:33:17</td>
    <td align="left" height="10" bgcolor="#FFFFFF"><h5>Subject: <a href="#">DataSource with MongoDB</a></h5>
        </div>
    </td>
  </tr>
  <tr>
    <td>v.striano.spw <br />
            <br /><br />
            Joined: 05/11/2014 12:03:16<br />
Messages: 1 <br />
 <br /><br />&nbsp;
    </td>
    <td>Hi, <br />
    how to set the field Driver(jdbc) for MongoDB in a new data source? (use SpagoBI 5.x)<br /><br />
    thanks <br /><br />
    Vincenzo
    <br />
    
    </td>
 </tr>
 
 
 
  
  
</table>
    <div class="clear"></div>
    <div class="powered"><p>Powered by Chalk&Dust</p></div>
</div>
</div>