<style>
.main_bg_bg {
	background-image: none;
	background-size: 100%;
	height: 1000px;
	top: 0;
	z-index: 0;
}

.fa.fa-comments-o {
	padding-left: 30px !important;
}
</style>
<div id="discussionRoomPage">
    <div class="dr_com_main">
        <div class="dr_com_head">
            <div class="dr_heading">
                <ul>
                    <li><a href="mailto:infochalkndust@gmail.com"><i class="fa fa-envelope-o"></i>{{contact_email}}</a></li>
                    <li><a href="javascript:void(0)"><i class="fa fa-phone"></i>{{contact_number1}}</a><a id="home"></a></li>
                </ul>
                <div class="dr_search">
                    <ul>
                        <li ng-hide="isGuest"><a ui-sref="chalkanddust.topicrequest"><span class="glyphicon glyphicon-plus"></span>New Topic
                                Request</a></li>
                        <li><a href="javascript:void(0);" ng-click="secondCtrl.goBackToFirstPage();"><span
                                class="glyphicon glyphicon-chevron-left"></span>Go Back</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="clear"></div>
        <div class="dr_main_detail">
            <div class="dr_subject main_border" style="background-color: white;">
                <h4>ABOUT THIS DISCUSSION</h4>
                <div class="dr_update" style="margin-top: 10px;">
                    <h3>&nbsp;&nbsp;&nbsp;Last Update</h3>
                    <p>
                        &nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-time">&nbsp;</span> <span
                            ng-if="isUndefined(topicDetails.lastModifiedDate)">{{topicDetails.topicCreationDate}}</span> <span
                            ng-if="!isUndefined(topicDetails.lastModifiedDate)">{{topicDetails.lastModifiedDate}}</span>
                    </p>
                </div>
                <div class="dr_update" style="margin-top: 5px;">
                    <h3>&nbsp;&nbsp;&nbsp;Author</h3>
                    <p>&nbsp;&nbsp;&nbsp;Chalk N Dust Admin</p>
                </div>
            </div>
            <div class="dr_sub_com">
                <div class="dr_dis_head">
                    <ul>
                        <b><li><label style="font-size: 30px;" class="dis_r_heading">Discussion Room - {{subjectName}}</label></li></b>
                    </ul>
                </div>
                <div class="dr_bg_img_sub dr_bg">
                    <p ng-show="!isUndefined(imageLink)">
                        <img ng-src="{{imageLink}}" alt="Topic Image" class="img-responsive" width="250" height="250">
                    </p>
                </div>
                <div class="dr_bg_img_sub dr_main_bg">
                    <br />
                    <div class="dr_icon_list">
                        <i class="fa fa-clock-o"></i> {{topicDetails.topicCreationDate}} <i class="fa fa-comments-o"></i> {{topicDetails.comments}}
                    </div>
                    <br />
                    <h3>{{topicDetails.topicTitle}}</h3>
                    <p>{{topicDetails.topicDescription}}</p>
                    <div class="clear"></div>
                </div>
                <div class="dr_bg_img_sub dr_main_bg dr_std_scroll">
                
                    <div class="dr_student_com com_bg" ng-repeat="item in commentsList">
                        <div class="row">
                            <div class="col-sm-12">
                                <b style="margin: 10px;">{{item.userName}}</b>
                            </div>
<!--                             <div class="col-sm-3" align="right" ng-if="securUuid==item.userSecurUuid"> -->
<!--                                 <a href="javascript:void(0)" ng-click="editComment(item.commentUuid)"><i class="glyphicon glyphicon-pencil"></i></a> -->
<!--                             </div> -->
                        </div>
                        <p style="margin-top: 10px;">{{item.createdDate}}</p>
                        <p>{{item.generalComments}}</p>
                    </div>
                
                    
                </div>
                <div>
                        <textarea name="textarea" id="commentTextArea" ng-model="commentsinfo.generalComments" cols="" rows=""
                            placeholder="comment..." ng-keypress="secondCtrl.process($event, $this)"></textarea>
                        <!-- <input type="text" id="commentTextArea" ng-model="commentsinfo.generalComments" placeholder="comment..." ng-enter="commCtrl.saveComment()"/> -->
                    </div>
            </div>
            <div class="dr_events">
                <div class="dr_notification">
                    <h3>Notification</h3>
                    <span>
                        <ul>
                            <marquee direction="up" scrollamount="4">
                                <div style="min-height: 200px;">
                              <h4> <p ng-repeat="item in studentNotificationList"> 
                                 {{item.notification}}</p></h4>
                                </div>
                            </marquee>
                        </ul>
                    </span>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <nav class="navbar">
            <div footer></div>
        </nav>
    </div>
</div>
