<link href="../../../../resources/css/discussionRoom/discussionRoomPage.css" rel="stylesheet" type="text/css" />
<link type="text/css" rel="stylesheet" href="../../../../resources/css/font-awesome.min.css">
<link type="text/css" rel="stylesheet" href="../../../../resources/css/bootstrap.min.css">
<style>
.main_bg_bg {
	background-image: none;
	background-size: 100%;
	width: 0%;
	height: 1000px;
	top: 0;
	z-index: 0;
	position: fixed;
}
</style>
<div class="dr_com_main">
  <div class="dr_com_head">
    <div class="dr_heading">
      <ul>
        <li><a href="#"><span class="glyphicon glyphicon-envelope"></span>username@mailid.com </a></li>
        <li><a href="#"><span class="glyphicon glyphicon-earphone"></span>+91-445533654</a></li>
      </ul>
      <div class="dr_search">
        <ul>
          <li><a href="#"><span class="glyphicon glyphicon-plus"></span>New Topic Request</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-chevron-left"></span>Go Back</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="clear"></div>
  <div class="dr_main_detail">
    <div class="dr_subject main_border">
      <h4>ABOUT THIS DISCUSSION </h4>
      	<div class="dr_update">
        	<h5>Last Update</h5>
            <p><span class="glyphicon glyphicon-time">10h. ago</span></p>
       </div>
       <div class="dr_update">
        	<h5>Auther</h5>
            <p>Harshal Modi @grondmaster</p>
       </div>
    </div>
    <div class="dr_sub_com">
      <div class="dr_dis_head">
        <ul>
          <li><a href="#">Discussions</a></li>
        </ul>
      </div>
      <div class="dr_bg_img_sub dr_bg"><img src="../../../../resources/images/66A_Master-bedroom02.jpg" /></div>
      <div class="dr_bg_img_sub dr_main_bg">
        <div class="dr_icon_list"> <span class="glyphicon glyphicon-time"> 01:20 pm</span> <span><i class="fa-comments"></i>18..</span> </div>
        <h3>Student Stories: Articles by current Engineering Students</h3>
        <p>"360 minutes hain tumhare paas!" 90 questions, 360 minutes, 4 minutes per question seems quite an ordinary task but in reality it's not. JEE Mains is one of most eloquent way of summarising two years of Physics, Chemistry and Mathematics in a small booklet. JEE Mains is the primary step to enter an IIT/NIT/IIIT. The paper consists of 90 multiple choice questions with single correct answers. The level of questions is as same as the NCERT level with some questions being a little tougher. The paper covers almost the full 2 years course with questions ranging from basic mechanics to advanced rotational mechanics. Cracking JEE Mains requires at least two years of dedicated as well as systematic preparation. Normally, the paper consists of about 25% of questions that are easy, 50% average and rest 25% difficult questions. Holding on to your nerves is very important during the exam..</p>
        <div class="clear"></div>
      </div>
      
      
      
      <div class="dr_bg_img_sub dr_main_bg">
      <div class="dr_student_com com_bg">
      	<div class="dr_stud_img"><img src="../../../../resources/images/useravatar.png" /></div>
        <h5><a href="#">Ashish Poddar </a> <a href="#"> @a.poddar</a></h5>
        <p><a href="#">@pratyay.nigam</a>  Is it not 180 minutes? A good article </p>
        <p>A Good Artical however.....</p>
      </div>
      <div class="dr_student_com com_bg">
      	<div class="dr_stud_img"><img src="../../../../resources/images/useravatar.png" /></div>
        <h5><a href="#">Ashish Poddar </a> <a href="#"> @a.poddar</a></h5>
        <p><a href="#">@pratyay.nigam</a>  Is it not 180 minutes? A good article </p>
        <p>A Good Artical however.....</p>
      </div>
      		<textarea name="text" cols="" rows="" placeholder="comment..."></textarea>
      </div>
      
    </div>
    <div class="dr_events">
      <div class="dr_notification">
        <h3>Notification</h3>
        <span>
        <ul>
          <marquee direction="up" scrollamount="4">
          <li>JEE Advanced 2016 Online Appli</li>
          <li>JEE Advanced 2016 Online Appli</li>
          <li>JEE Advanced 2016 Online Appli</li>
          <li>JEE Advanced 2016 Online Appli</li>
          <li>JEE Advanced 2016 Online Appli</li>
          <li>JEE Advanced 2016 Online Appli</li>
          </marquee>
        </ul>
        </span> </div>
    </div>
    <div class="clear"></div>
  </div>
    <div class="dr_com_head footer_head">
       <div footer></div>
  </div>
</div>

