<style>
.main_bg_bg {
	background-image: none;
	background-size: 100%;
	width: 0%;
	height: 1000px;
	top: 0;
	z-index: 0;
	position: fixed;
}
</style>

<div class="dr_com_main">
	<div class="dr_com_head">
		<div class="dr_heading">
			<ul>
				<li><a href="#"><span class="glyphicon glyphicon-envelope"></span>username@mailid.com
				</a></li>
				<li><a href="#"><span class="glyphicon glyphicon-earphone"></span>+91-445533654</a></li>
			</ul>
			<div class="dr_search">
				<ul>
					<li><a href="#"><span class="glyphicon glyphicon-plus"></span>New
							Request</a></li>
					<li><a href="#"><span
							class="glyphicon glyphicon-chevron-left"></span>Go Back</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div class="clear"></div>
	<div class="dr_main_detail">
		<div class="dr_new_entery">
			<h3>New Request</h3>
			<table>
				<tr>
					<td class="right_one">Subject</td>
					<td class="sub_size"><select name="Salect">
							<option>Salect</option>
							<option>Math</option>
							<option>Science</option>
							<option>English</option>
							<option>Social Science</option>
							<option>Physical</option>
					</select></td>
				</tr>
				<tr>
					<td class="right_one end_text">Topic Title</td>
					<td><textarea name="textarea" cols="" rows=""></textarea></td>
				</tr>
				<tr>
					<td class="right_one">Topic Discription</td>
					<td><textarea name="textarea" cols="" rows=""></textarea></td>
				</tr>
				<tr>
					<td class="right_one">Image Upload</td>
					<td><input name="upload" type="file" /></td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td><button>Submit</button></td>
				</tr>
			</table>

		</div>
		<div class="clear"></div>
	    <nav class="navbar  navbar-fixed-bottom">
			<div footer></div>
		</nav>
	</div>
</div>